body{
    margin:0;
    padding:0;
    line-height: 1.5em;
}

#topsection{
    height: 90px; /*Height of top section*/
}

#topsection h1{
    margin: 0;
    padding-top: 15px;
}

#contentwrapper{
    float: left;
    width: 100%;
}

#contentcolumn{
    //margin: 0 250px 0 250px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
    margin: 0 0 0 250px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#leftcolumn{
    float: left;
    width: 250px; /*Width of left column*/
    margin-left: -100%;
}

#rightcolumn{
    float: left;
    width: 0;       //250px; /*Width of right column*/
    margin-left: 0; //-250px; /*Set left marginto -(RightColumnWidth)*/
}

#footer{
    clear: left;
    width: 100%;
    background: black;
    color: #FFF;
    text-align: center;
    padding: 4px 0;
    position : fixed;
    left : 0;
    bottom : 0;
}

#footer a{
    color: #FFFF80;
}

.innertube{
//    margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
    margin-top: 0;
}
