body {
    padding-top: 70px;
}

a:hover {
    cursor: hand;
    cursor: pointer;
}

.app-icon:hover {
    opacity: 0.9;
    text-decoration: none;
}

#kbase-search-box {
    width: 300px;
}

#signin-button a {
    color: #fff;
}

/* bootstrap overrides */

.wrapper { width: 95%; margin-left: auto; margin-right: auto; }
.label-info { background-color: #3a87ad; } /* yuck... some of the new colors are ugly */

/* end bootstrap overrides */



#logo {
    margin: 2px 10px 0 0;
}
#kbase-search-box {
    margin-left: 200px;
}

table {  /* what's this about */
    font-size: 14px;
}