body {
    padding-top: 70px;
}

a:hover, 
rect:hover {
    cursor: hand;
    cursor: pointer;
}

.app-icon:hover {
    opacity: 0.9;
    text-decoration: none;
}

#kbase-search-box {
    width: 300px;
}

#signin-button a {
    color: #fff;
}

/* bootstrap overrides */

.wrapper { width: 95%; margin-left: auto; margin-right: auto; }

/* end bootstrap overrides */


#core-model { 
    overflow-x: auto; 
}

#logo {
    margin: 2px 10px 0 10px;
}
#kbase-search-box {
    margin-left: 200px;
}

table {  /* what's this about */
    font-size: 14px;
}

.media-info-modal {
    width: 800px;
}