
#header-login {
    float: right;
    text-align: center;
    padding-right: 10px;
    padding-top: 5px;
}

#container {
    height: 100%;
    width: 100%;
    position: relative;
}

.navbar {
    margin-bottom: 0px;
    position: relative;
}

#loading {
    margin-top: 80px;
}

#main {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 20px;
}

#main-left {
    float: left;
    width: 235px;
    height: 100%;
}

#main-right {
    height: 100%;
    overflow: hidden;
}

#main-right-content {
    height: 100%;
    position: relative;
    margin-left: 20px;
}

.caret-up {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-bottom: 4px solid #000000;
    border-top: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

.btn .caret-up {
    margin-top: 8px;
    margin-left: 0;
}


/* Begin Workspace Selector */




#kbase-ws-selector {
    position: fixed;
    height: 100%;
    overflow: auto;
    width: 100%;
}


#ws-table-div {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

#ws-table {
    table-layout: fixed;
    margin-bottom: 0px !important;
}

#ws-table td {
    padding: 0px;
}

#ws-info-row {
    height: 30px;
}

#ws-info-row td {
    padding-left: 20px;
    vertical-align: middle;
}

.ws-cell {
    cursor: pointer;
}

.ws-cell:hover {
    background: #EEEEEE;
}

.ws-cell-selected {
    background: #99CCFF;
}

.ws-cell-selected:hover {
    background: #8AB8E6;
}

.ws-cell-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    height: 22px;
    padding: 4px;
}

.ws-cell-content-hover {
    padding-right: 30px;
}

.ws-num-objects {
    margin-right: 10px;
    padding-top: 3px;
}

.ws-cell-manage {
    position: absolute;
    right: 0px;
}

.btn-xmini {
    padding: 0px 4px;
}

/* End Workspace Selector */


/* Begin Object Table */

#object-table-container {
    height: 100%;
}

#object-table {
    height: 100%;
    position: relative;
}

#object-table td {
    padding: 6px;
    vertical-align: middle;
}

#object-table button {
    padding: 0px;
}

/* End Object Table */


/* Begin Base Modal */

.base-modal {
    text-align: center;
}

.base-modal-alert {
    margin: 10px 15px 0px 15px;
    padding: 8px 15px;
}

.base-modal-cover {
    position: absolute;
    z-index: 10;
}

.base-modal-cover-table {
    display: table;
    position: static;
    width: 100%;
    height: 100%;
}

.base-modal-cover-cell {
    display: table-cell;
    vertical-align: middle;
    position: static;
}

.base-modal-cover-box {
    display: inline-block;
    padding: 5px 15px;
    margin: 10px;
    -moz-box-shadow: 7px 7px 5px #888;
    -webkit-box-shadow: 7px 7px 5px #888;
    box-shadow: 7px 7px 5px #888;
}

.base-modal-cover-content {
    padding: 5px;
    background: white;
    border: 1px solid #666;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


/* End Base Modal */


.manage-workspace {
    margin: 10px 15px 0px 15px;
}

.manage-modal-attribute {
    max-width: 50px;
}

.manage-modal-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

div ::-webkit-scrollbar {  
    width: 10px;
    height: 10px;
}

div ::-webkit-scrollbar-track {
    background-color: #DDD;
    -webkit-border-radius: 8px;
}

div ::-webkit-scrollbar-thumb {  
    background-color: rgba(053, 057, 071, 0.3);
    -webkit-border-radius: 8px;
}


/* start new functionality styling */


/* custom checkboxes (prototyped) */
.ncheck {
    width: 11px;
    height: 11px;
    border: 1px solid #ccc ;
    margin-left: auto;
    margin-right: auto;
}
.ncheck:hover {
    border: 1px solid #444 ;    
}
.ncheck-btn {
    width: 11px;
    height: 11px;
    border: 1px solid #888 ;
    margin: 4px 0px 4px -1px;
}
.ncheck-btn:hover {
    border: 1px solid #444 ;    
}
.ncheck-checked {
    background: url(/img/checkmark.png) no-repeat -5px -5px;
    background-image: -webkit-image-set(url(/img/checkmark.png) 1x,url(/img/checkmark_2x.png) 2x);
}
.ncheck-minus {
    background: url(/img/checkmark-partial.png) no-repeat -5px -5px;
    background-image: -webkit-image-set(url(/img/checkmark-partial.png) 1x,url(/img/checkmark_2x.png) 2x);
}

/* option buttons when object is checked */
.checked-opts {
    margin: 0 0 0 40px;
}

/* option buttons for all object option buttons */


.select-objs {
    height: 20px;
    width:10px;
    margin: 0 5px 0 0;
}

.obj-opt {
    display: inline;
}


.dataTables_length,
.dataTables_info {
    float: left;
}

.dataTables_length {
    padding: 0 3px;
    margin: 7px 0 0 15px;
}

.obj-version:hover {
    cursor:hand;
    cursor:pointer;
}

.history-icon {
    margin: -2px 0 0 0;
}
.history-table {
    margin: 0 0 0 100px;
}

.history-table thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child, .table-bordered tfoot:last-child tr:last-child td:first-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
}



.model-icon {
    height: 17px;
    width: 17px;
    margin: -2px 0 0 0;
}

.model-icon:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .75;
}

/* temp arrow placement for bootstrap popover */
.view-options + .popover.bottom .arrow {
    left: 25%;
}


/* END new functionality styling */







