*.DS_Store
*.pyc
/bin
kbase-extension/static/kbase/config/config.json
kbase-extension/ipython/profile_default/history.sqlite
kbase-extension/history.sqlite
kbase-extension/db/
kbase-extension/security/
kbase-extension/log/
kbase-extension/kbase_templates/old/
kbase-extension/static/components/
kbase-extension/static/ext_components/
node_modules/
install.log
/src/build/
/venvs/
.projectKnowledge
nbproject
static/dist
my_narrative_venv/
narrative_venv/
new_narrative_env_2/

# From https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
/coverage/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IDE / Editor
.vscode
/tags
