*.pyc
/bin
src/notebook/ipython_profiles/profile_narrative/kbase_templates/static/kbase/config.json
kbase-extension/ipython/profile_default/history.sqlite
kbase-extension/history.sqlite
kbase-extension/db/
kbase-extension/security/
kbase-extension/log/
kbase-extension/kbase_templates/old/
kbase-extension/static/components/
node_modules/
install.log