[submodule "modules/ui-common"]
	path = modules/ui-common
	url = https://github.com/kbase/ui-common
[submodule "modules/revised-widgets"]
	path = modules/revised-widgets
	url = https://github.com/kbase/ui-common/
