*.pyc
/bin
src/notebook/ipython_profiles/profile_narrative/kbase_templates/static/kbase/config.json
kbase-profile/history.sqlite
kbase-profile/db/
kbase-profile/security/
kbase-profile/log/
kbase-profile/kbase_templates/old/
node_modules/