.git
.github
docs
js-coverage
python-coverage
kbase-extension/static/ext_components
kbase-extension/static/ext_packages
kbase-extension/static/ext_modules
kbase-extension/static/kbase/js/patched-components
node_modules
cover
venv