#!/bin/bash
source $e/activate
export NARRATIVEDIR=$d/src
export IPYTHONDIR=$NARRATIVEDIR/notebook/ipython_profiles
ipython notebook $* --NotebookManager.notebook_dir=~/.narrative --profile=narrative
