#!/bin/bash
function log () {
  now=`date '+%Y-%m-%d %H:%M:%S'`
  echo "$now [run_notebook] $1"
}

log "Activate virtualenv in $e"
source $e/activate

export NARRATIVEDIR=$d/src
export IPYTHONDIR=$NARRATIVEDIR/notebook/ipython_profiles

cfgdir=$IPYTHONDIR/profile_narrative/kbase_templates/static/kbase
if [ -e $cfgdir/config.json ]
then
    log "File config.json already in $cfgdir, copy skipped"
else
    log "Copy config.json from $NARRATIVEDIR to $cfgdir"
    cp $NARRATIVEDIR/config.json $cfgdir
fi

svcjson=$IPYTHONDIR/profile_narrative/kbase_templates/static/kbase/services.json
log "Generate services dynamically from $svcjson"
python $NARRATIVEDIR/biokbase/narrative/common/service_root.py -f $svcjson

log "Start notebook"
ipython notebook $* --ip=0.0.0.0 --NotebookManager.notebook_dir=~/.narrative --profile=narrative
