/* Wrapper class
  All classes below may be wrapped in this class to avoid polluting
  the Narrative styles.
*/

.kb-app-cell,
.kb-app-cell .kb-app-warning {
  font-family: Oxygen, Arial, sans-serif;
}

.kb-app-cell .kb-app-warning {
  text-align: center;
}

/** new app parameter styling **/

.kb-app-cell .kb-app-parameter-panel {
  border-left: 3px solid #fff;
}

.kb-app-cell .kb-app-parameter-panel-hover {
  border-left: 3px solid #428bca;
}

.kb-app-cell .kb-app-parameter-row {
  margin: 0;
  padding: 5px;
  border-radius: 5px;
}

.kb-app-cell .kb-app-parameter-row:hover {
  background-color: rgb(0 0 0 / 0.03);
}

.kb-app-row-clip-btn-addon,
.kb-app-row-close-btn-addon {
  background: transparent;
  border: 0;
}

.kb-app-row-clip-btn-addon {
  padding: 0 10px 0 0;
  height: 100%;
}

.kb-app-row-clip-btn-addon:active::after {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #808080;
  content: "copied!";
  margin-top: -5px;
  padding: 7px;
  position: absolute;
}

.kb-input-group-wide {
  width: 100%;
}

.kb-input-row-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cell.selected .btn-default.kb-app-row-close-btn {
  color: #808080;
}

.kb-app-row-clip-btn,
.kb-app-row-close-btn {
  height: 100%;
  margin-left: 1px;
  border: none;
  background-color: transparent;
  color: #808080;
}

/* let's just do this as a normal button hover effect */

.kb-app-parameter-right-error-bar {
  height: 28px;

  /* firefox wants it explicitly wired */

  background: #f00;
}

/* for some reason, the css :hover doesn't work right on this div, so we use jquery to toggle this class */

.kb-app-cell .kb-app-parameter-row-hover {
  background: #f9f9f9;
}

.kb-app-cell .kb-app-parameter-row .message.-error {
  background: #f2dede;
  color: #f44336;
}

.kb-app-cell .kb-app-parameter-row .message {
  text-align: center;
  font-family: Oxygen, Arial, sans-serif;
}

/* not sure how to get text in these divs to valign middle... */

.kb-app-cell .kb-app-parameter-name {
  font-family: Oxygen, Arial, sans-serif;
  color: #777;
  text-align: left;
  vertical-align: bottom;
  padding-right: 4px;
  padding-left: 0;
  white-space: normal;
}

.kb-app-cell .kb-app-parameter-input {
  vertical-align: middle;
}

.kb-app-cell .kb-app-parameter-input select.form-control {
  margin: 0;
}

.kb-app-field-feedback,
.kb-input-group-addon {
  background: transparent;
  border: 0;
}

.kb-input-group-addon {
  padding: 0 0 0 10px;
}

/*
This set of styles is a to accomodate the required/satisfied icon which appears
between the select input control and the help text to the right of it. The
problem is that within the columns used for layout the select is set to 100% width
and yet the icon is placed right next to it. The result is that the icon is shoved
to the right of the select control and into the next column, overlapping the
help text. The old app handling this was to scoot the help text far enough over
to accomodate the the icon intruding into its space. This technique makes space
in the column in which the icon lives, and does this by shrinking the select
control with padding, and then scooting the icon back into its column.
*/

.kb-app-cell .kb-app-parameter-input .kb-app-parameter-accepted-glyph,
.kb-app-cell .kb-app-parameter-input .kb-app-parameter-required-glyph {
  /* This scoots the icon inside */
  font-size: 15px;
  margin-left: 0;
}

.kb-app-cell .kb-app-parameter-required-glyph {
  color: #f44336;
}

.kb-app-cell .kb-parameter-data-selection {
  font-weight: 700;
}

.kb-app-cell .kb-app-parameter-hint {
  color: #777;
  text-align: left;
  margin-top: 3px;
  padding-left: 7px;
}

.kb-app-cell .kb-app-parameter-accepted-glyph {
  color: #4bb856;
}

.kb-app-cell .kb-app-advanced-options-controller-inactive,
.kb-app-cell .kb-app-parameter-info,
.kb-app-cell .kb-parameter-data-row-add,
.kb-app-cell .kb-parameter-data-row-remove {
  color: #777;
}

.kb-app-cell .kb-app-advanced-options-controller,
.kb-app-cell .kb-app-advanced-options-controller-inactive {
  font-family: Oxygen, Arial, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 10pt;
  line-height: 14px;
  text-align: center;
}

.kb-app-cell .kb-app-advanced-options-controller {
  cursor: pointer;
  color: #08c;
}

.kb-app-cell .kb-app-advanced-options-controller:hover {
  color: #2a6496;
}

.kb-app-cell .kb-app-footer {
  width: 100%;
  overflow: none;
  background-color: #f5f5f5;
  padding: 10px;
}

.kb-app-cell .kb-app-subtitle {
  background-color: #f5f5f5;
  padding: 3px 5px;
}

.report-widget .panel-title > [data-toggle=collapse]::before {
  display: inline-block;
  margin-left: 0;
  margin-right: 4px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  font-size: 90%;
  width: 12px;
  color: #c0c0c0;
  line-height: 1;
  vertical-align: baseline;
  content: "\f078 ";
}

.report-widget .panel-title > [data-toggle=collapse].collapsed::before {
  margin-left: 2px;
  margin-right: 2px;
  content: "\f054 ";
}

.kb-app-cell .panel-title > [data-toggle=collapse]::before {
  display: inline-block;
  margin-left: 0;
  margin-right: 4px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  font-size: 90%;
  width: 12px;
  color: #c0c0c0;
  line-height: 1;
  vertical-align: baseline;
  content: "\f078 ";
}

.kb-app-cell .panel-title > [data-toggle=collapse].collapsed::before {
  margin-left: 2px;
  margin-right: 2px;
  content: "\f054 ";
}

/* tweaks to elemnts that should be dimmed when the cell is not selected */

.unselected .kb-app-cell {
  opacity: 0.5;
}

.kb-app-cell .advanced-parameter-showing {
  display: block;
}

.kb-app-cell .advanced-parameter-hidden {
  display: none;
}

.kb-elapsed-time {
  font-family: monospace;
}

.kb-elapsed-time.-active {
  color: #0f0;
}

.kb-app-cell-info-desc {
  border: 1px solid #777;
  padding: 10px;
  margin-right: 10px;
  min-height: 100px;
}

.kb-app-cell-info {
  color: #777;
  font-family: Oxygen, Arial, sans-serif;
  font-size: 12pt;
}

.kb-app-cell-info .header {
  border-bottom: 1px solid #777;
  padding: 5px 0;
  margin-bottom: 8px;
}

.kb-app-cell-info .value {
  color: #000;
}

/*
New button color scheme

blue for border, backgrounds, text: rgb(0, 147, 255))

official kbase color: rgb(33,150,243)

disabled color for border, text

enabled run color - (green) -  rgb(2,140,10)
official kbase green:

rgb(75,184,86)

or

 rgb(42,190,159) which is the lighter variant. both used in mocks (but depends where you sample).

disabled run color - (green) -

error color - red - rgb(209,82,65)

disabled (gray) - 205,205,205

warning: orange

*/

.btn.batch-active {
  box-shadow: inset 0 3px 7px rgb(0 0 0 / 0.125);
  background-color: #eee;
  border-color: #adadad;
}

.btn.batch-active:hover {
  background-color: #ccc;
}

.btn.kb-app-cell-btn {
  background-color: #fff;
  margin-bottom: 4px;
}

/* Primary Button Style */

.btn.kb-app-cell-btn,
.btn.kb-app-cell-btn.btn-primary {
  color: rgb(33 150 243);
  border: 2px solid rgb(33 150 243);
}

.btn.kb-app-cell-btn.btn-primary:hover {
  border-bottom: 6px solid rgb(33 150 243);
  margin-bottom: 0;
}

/* Hovering over an active cell is different, it tries to make the tab look
   disassociated but using a gray background so it doesnt look like an inactive
   tab */

.btn.kb-app-cell-btn.btn-primary.active,
.btn.kb-app-cell-btn.btn-primary:active,
.btn.kb-app-cell-btn.btn-primary:hover {
  color: #fff;
  background-color: rgb(33 150 243);
}

.btn.kb-app-cell-btn.btn-primary.active {
  border: solid rgb(33 150 243);
  border-width: 2px 2px 6px;
  margin-bottom: 0;
}

.btn.kb-app-cell-btn.btn-primary.active:hover {
  color: rgb(33 150 243);
  background-color: #ddd;
  border-bottom: 2px solid rgb(33 150 243);
  margin-bottom: 4px;
}

/* DANGER - for error */

.btn.kb-app-cell-btn.btn-danger {
  color: rgb(209 82 65);
  border: 2px solid rgb(209 82 65);
}

.btn.kb-app-cell-btn.btn-danger:hover {
  color: #fff;
  background-color: rgb(209 82 65);
  border-bottom: 6px solid rgb(209 82 65);
  margin-bottom: 0;
}

.btn.kb-app-cell-btn.btn-danger.active {
  color: #fff;
  background-color: rgb(209 82 65);
  border: solid rgb(209 82 65);
  border-width: 2px 2px 6px;
  margin-bottom: 0;
}

.btn.kb-app-cell-btn.btn-danger.active:hover {
  color: rgb(209 82 65);
  background-color: #ddd;
  border-bottom: 2px solid rgb(209 82 65);
  margin-bottom: 4px;
}

/* DISABLED is gray border and text */

.btn.kb-app-cell-btn.disabled,
.btn.kb-app-cell-btn.disabled:active,
.btn.kb-app-cell-btn.disabled:hover {
  color: #888;
  background-color: #fff;
  border: 2px solid #888;
  margin-bottom: 4px;
}

.kb-app-cell [data-element=run-control-panel] {
  width: 100%;
}

.kb-app-cell [data-element=tab-pane] {
  border-top: 2px solid rgb(33 150 243);
}

.kb-app-cell [data-element=tab-pane] > div:empty {
  padding: 0;
}

.kb-app-cell [data-element=tab-pane] > div {
  padding: 4px;
}

.kb-app-status-ok {
  color: rgb(75 184 86);
}

.kb-app-status-warning {
  color: #ffa500;
}

.kb-app-status-danger,
.kb-app-status-error {
  color: rgb(209 82 65);
}

.kb-app-status-default {
  color: rgb(33 150 243);
}

/* app cell panels */

/* TODO: higher level selector */

.parameter-panel .info-panel {
  padding-top: 4px;
  background: transparent;
}

.tt-input,
.tt-query {
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 0.075);
  width: 100%;
}

.tt-hint {
  color: #999;
}

.tt-menu {
  /* used to be tt-dropdown-menu in older versions */
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid rgb(0 0 0 / 0.2);
  border-radius: 4px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
  width: 100%;
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.tt-header {
  font-size: 75%;
  font-style: italic;
  padding-left: 5px;
}
