
/* A flat button, with no unselected background color, but with hover and click
   styles */
.btn.kb-flat-btn {
  background-color: #fff;
  border: none;
  text-shadow: none !important;
  margin: 0;
  color: #666;
}

.kb-flat-btn-wrapper { /* don't add shadows here */
  box-shadow: none;
}

/* Text spacing */
.btn.kb-flat-btn .kb-nav-btn-txt {
  font-size: 10pt;
  margin-top: -5px;
}

.btn.kb-flat-btn:active,
.btn.kb-flat-btn:hover {
  background-color: #ccc;
}
