#kblog-header {
  margin: 5px 0;
}

#kblog-panel {
  background-color: rgb(245 245 245);
  border: 1px solid rgb(206 206 206);
  height: 350px;
  padding: 5px;
  resize: vertical;
  overflow: auto;
  color: rgb(0 0 0);
  vertical-align: top;
}

.kblog-header {
  display: flex;
}

.kblog-header,
.kblog-line {
  font-family: OxygenMono, SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.kblog-line:hover {
  background-color: rgb(221 221 221);
}

.kblog-num-wrapper {
  font-size: 85%;
  display: flex;
  flex-direction: row;
}

.kblog-line-num {
  flex-shrink: 0;
  width: 3rem;
  text-align: right;
  color: rgb(153 153 153);
  white-space: nowrap;

  /* makes text unselectable */
  user-select: none;
}

.kblog-text {
  word-wrap: break-word;
  overflow-wrap: break-word;
  flex: 1;
  margin-left: 6px;
}

.kb-error,
.kb-error .kblog-line-num {
  color: rgb(139 0 0);
  text-decoration: underline;
  font-weight: 700;
  font-size: 12px;
  background-color: rgb(255 245 245);
}

#kblog-err,
#kblog-msg {
  margin-top: 5px;
}
