.kb-tour {
  background-color: rgb(33 150 243);
}

.kb-tour.popover.top > .arrow::after {
  border-top-color: rgb(33 150 243);
}

.kb-tour.popover.bottom > .arrow::after {
  border-bottom-color: rgb(33 150 243);
}

.kb-tour.popover.right > .arrow::after {
  border-right-color: rgb(33 150 243);
}

.kb-tour.popover.left > .arrow::after {
  border-left-color: rgb(33 150 243);
}

.kb-tour > h3.popover-title {
  background-color: rgb(33 150 243);
  color: rgb(255 255 255);
  font-family: Oxygen, Arial, sans-serif;
  font-size: 12pt;
}

.kb-tour > .popover-content,
.kb-tour > .popover-navigation {
  background-color: rgb(238 238 238);
}

.kb-tour > .close-btn {
  position: absolute;
  top: 7px;
  right: 7px;
}
