#kblog-header {
    margin: 5px 0 5px 0;
}

#kblog-panel {
    background-color: #F5F5F5;
    border: 1px solid #CECECE;
    height: 350px;
    padding: 5px;
    resize: vertical;
    overflow: auto;
    color: #000;
    vertical-align: top;
}

.kblog-line {
    position: relative;
    display: block;
    font-family: monospace;
    font-size: 9pt;
}

.kblog-num-wrapper {
    position: absolute;
    background: none !important;
    border: none !important;
    font-size: 9pt;
    z-index: 4;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.kblog-line-num {
    left: 0;
    position: relative;
    min-width: 25px;
    text-align: right;
    color: #999;
    white-space: nowrap;
}

.kb-error .kblog-line-num {
    color: #F00;
    font-weight: bold;
}

.kblog-text {
    word-wrap: break-word;
    position: relative;
    padding-left: 32px;
    z-index: 2;
}

.kb-error {
    background-color: rgba(200, 0, 0, 0.2);
    color: #660000;
}

#kblog-msg {
    margin-top: 5px;
}

#kblog-err {
    margin-top: 5px;
    color: #660000;
}