#kblog-header {
    margin: 5px 0 5px 0;
}

#kblog-panel {
    background-color: #F5F5F5;
    border: 1px solid #CECECE;
    height: 350px;
    padding: 5px;
    resize: vertical;
    overflow: auto;
    color: #000;
    vertical-align: top;
}

.kblog-header {
    display: flex;
    font-family: monospace;
    font-size: 85%;  
}

.kblog-line {
    display: flex;
    font-family: monospace;
    font-size: 85%;
}

.kblog-line:hover {
    background-color: #DDD;
}

.kblog-num-wrapper {
    font-size: 85%;
}

.kblog-line-num {
    flex-shrink: 0;
    width: 9ex;
    text-align: right;
    color: #999;
    white-space: nowrap;
}

.kblog-text {
    word-wrap: break-word;
    flex: 1;
    margin-left: 6px;
}

.kb-error, .kb-error .kblog-line-num  {
    color: darkred;
    font-weight: bold;
    background-color: rgb(255, 245, 245);

}

#kblog-msg {
    margin-top: 5px;
}

#kblog-err {
    margin-top: 5px;
    color: #660000;
}