.app-icon:hover,
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
}

.app-icon:hover {
  opacity: 0.9;
}

#kbase-search-box {
  width: 300px;
}

#signin-button {
  display: inline-block;
  padding: 0 15px 0 0;
}

/* bootstrap overrides */

.wrapper {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/* end bootstrap overrides */

#core-model {
  overflow-x: auto;
}

#logo {
  margin: 2px 10px 0;
}

table {
  font-size: 14px !important;
}

.media-info-modal {
  width: 800px;
}

#selected-workspace {
  margin: 17px 14px 15px 0;
}

.tab-view {
  margin: 10px 0 0;
}

/* mv */
.search-query {
  width: 100%;
  margin: 0 0 5px;
}

.caret-up {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-color: currentColor transparent rgb(255 255 255);
  border-style: dotted solid solid;
  border-width: 0 4px 4px;
  content: "";
}

.scroll-pane {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hi;
}

#select-box tr td {
  padding: 6px;
}

.selected-ws {
  background-color: rgb(66 139 202);
  color: rgb(255 255 255);
}

.selected-ws:hover { /* fixme */
  background-color: rgb(66 139 202) !important;
}

.side-bar-switch {
  margin: 0 0 10px;
}

.side-bar-switch li {
  font-size: 12px;
}

.side-bar-switch li a {
  padding: 5px 10px;
}

.selected-obj-alert {
  margin-bottom: 5px; /* override */
  padding-top: 10px;
  padding-bottom: 10px;
}

.heatmap-view {
  overflow-x: scroll;
}

/* ws browser */

.ws-selector {
  margin: 10px 0 0;
}

.ws-selector.btn-ws-settings {
  position: absolute;
  right: 30px;
}

.object-view {
  margin: 10px 0 0;
}

.select-ws .badge {
  margin: 0 4px 0 0;
}

.select-ws .btn-ws-settings {
  padding: 0 5px;
}

.modal-alert {
  margin: 10px 15px 0;
  padding: 8px 15px;
}

.modal-cover {
  position: absolute;
  z-index: 10;
}

.modal-cover-table {
  display: table;
  position: static;
  width: 100%;
  height: 100%;
}

.modal-cover-cell {
  display: table-cell;
  vertical-align: middle;
  position: static;
}

.modal-cover-box {
  display: inline-block;
  padding: 5px 15px;
  margin: 10px;
  box-shadow: 7px 7px 5px rgb(136 136 136);
}

.modal-cover-content {
  padding: 5px;
  background: rgb(255 255 255);
  border: 1px solid rgb(102 102 102);
  border-radius: 3px;
}

.obj-table .dataTables_length label {
  margin: 7px 0 0;
}

.dataTables_info {
  margin: 0 10px 0 0;
}

.dataTables_info,
.dataTables_length {
  float: left;
}

.ellipsis {
  max-width: 170px;
}

.ellipsis,
.ws-descript {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
}

.ws-descript {
  max-width: 400px;
}

/* custom checkboxes (prototyped) */
.ncheck {
  width: 15px;
  height: 15px;
  border: 1px solid rgb(204 204 204);
  margin-left: auto;
  margin-right: auto;
}

.ncheck:hover {
  border: 1px solid rgb(68 68 68);
}

.ncheck-btn {
  width: 15px;
  height: 15px;
  border: 1px solid rgb(136 136 136);
  margin: 4px 0 4px -1px;
}

.ncheck-btn:hover {
  border: 1px solid rgb(68 68 68);
}

.ncheck-checked {
  background: url(../img/checkmark.png) no-repeat -5px -4px;
  background-image: image-set(url(../img/checkmark.png) 1x, url(../img/checkmark_2x.png) 2x);
}

.ncheck-minus {
  background: url(../img/checkmark-partial.png) no-repeat -5px -5px;
  background-image: image-set(url(../img/checkmark-partial.png) 1x, url(../img/checkmark-partial_2x.png) 2x);
}

.btn-select-all {
  height: 34px;
}

.btn-select-all,
.type-filter {
  margin: 0 20px 0 0;
}

.btn-trash {
  margin: 3px 20px 0 0;
}

.btn-show-info .glyphicon {
  padding: 0 0 4px;
}

.open-obj {
  margin: 7px 0 0 20px;
}

/******************     narrative     ***************/

#login-form {
  margin: 70px 0 0;
}

#narrative-nav,
.recent-narratives,
.recent-projects {
  padding: 0;
  margin: 0;
}

.group-item-expander {
  background: rgb(242 242 242); /* #d6eaff; */
}

.group-item-expander:hover {
  cursor: hand;
  cursor: pointer;
}

.btn-new-narrative {
  margin: 0 20px 0 0;
}

.btn-delete-narrative {
  cursor: hand;
  cursor: pointer;
}

.btn-delete-narrative:hover {
  opacity: 0.7;
}

/* changing z index for datatable fixed header */
.navbar-fixed-top {
  z-index: 500;
}

.FixedHeader_Header {
  background: rgb(255 255 255);
  margin: -6px 0 0;
  height: 44px;
}

.narrative-sidebar li {
  list-style: none;
}

@media (min-width: 960px) {
  .narrative-sidebar {
    position: fixed;
    width: 20%;
  }
}

.sidebar-header {
  font: normal 400 14px RobotoBlack, Arial, sans-serif;
}

.sidebar-header,
.view-header {
  color: rgb(137 137 137);
  letter-spacing: 0;
}

.view-header {
  font: normal 400 1.5em/1.75 RobotoBlack, Arial, sans-serif;
}

.active .btn-narr {
  background-color: rgb(187 232 249);
  border: 1px solid rgb(66 139 202);
}

.active .btn-narr,
.btn-narr {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-narr {
  background-color: rgb(242 242 242);
  border: 1px solid rgb(219 219 219);
  color: rgb(109 168 207);
  font: 14px RobotoBlack, Arial, sans-serif;
}

.nav-sidebar {
  top: 70px;
}

.nav-sidebar li {
  list-style: none;
  margin-bottom: 10px;
  text-align: left;
  font-family: RobotoBlack, Arial, sans-serif;
}

.nav-sidebar > li > a {
  padding: 7px 15px;
}

.navbar-nav {
  color: rgb(109 168 207);
  font-family: RobotoBlack, Arial, sans-serif;
}

.navbar-nav > li > a:hover {
  background-color: rgb(255 255 255);
}

.navbar-nav > li.active:hover,
.navbar-nav > li.active > a {
  color: rgb(42 100 150) !important;
  box-sizing: border-box;
  height: 50px;
  border-bottom: 4px solid rgb(66 139 202);
}

.navbar-nav > .active:hover {
  color: rgb(42 100 150);
}

#wrap {
  min-height: 100%;
  height: auto;

  /* Negative indent footer by its height */
  margin: 0 auto -58px;

  /* Pad bottom by footer height */
  padding: 0 0 80px;
}

/* for the footer */
#footer {
  height: 58px;
}

#footer ul {
  text-align: center;
}

#footer ul li {
  display: inline;
  padding: 7px 5px 5px 1px;
}

#footer ul li::after {
  content: "\2022";
  padding-left: 10px;
  color: rgb(187 187 187);
  font-size: 10px;
}

#footer ul li:last-child::after,
#footer ul li:nth-last-child(2)::after {
  content: "";
}

#footer img {
  position: relative;
  top: -3px;
}

#footer .disclaimer {
  background-color: rgb(169 68 66);
  color: rgb(255 255 255);
  display: block;
  text-align: center;
  font-weight: 700;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.KBSnode rect {
  cursor: pointer;
  fill: rgb(255 255 255);
  fill-opacity: 0.5;
  stroke: rgb(49 130 189);
  stroke-width: 1.5px;
}

.KBSnode text {
  font: 80% sans-serif;
  pointer-events: none;
}
