/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/

#site {
    overflow: visible;
}

#notebook-container {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.notebook_app {
    overflow-y: auto;
    background-color: #FFFFFF;
}

#ipython-main-app {
    position: relative;
    font-size: 110%;
}
/* Shiran: undoing style introduced by datavis.css */
pre { outline: none; }

.btn * { color: black; }

.celltoolbar {
    height: auto;
    background: none;
    border: none;
    border-bottom: none;
}

div.input_area {
    border: 1px solid #CECECE;
    border-radius: 0px;
}

div.text_cell_input {
    border: 1px solid #CECECE;
    border-radius: 0px;
}