interactions:
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "36095/73/1"}]}],
      "version": "1.1", "id": "7424890997391592"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"attributes":[{"attribute":"test_attribute_1","attribute_ont_id":"Custom:Term","attribute_ont_ref":"KbaseOntologies/Custom","unit":"Hour","unit_ont_id":"Custom:Unit","unit_ont_ref":"KbaseOntologies/Custom"},{"attribute":"test_attribute_2","attribute_ont_id":"Custom:Term","attribute_ont_ref":"KbaseOntologies/Custom","unit":"nanogram
        per milliliter","unit_ont_id":"Custom:Unit","unit_ont_ref":"KbaseOntologies/Custom"},{"attribute":"test_attribute_3","attribute_ont_id":"Custom:Term","attribute_ont_ref":"KbaseOntologies/Custom","unit":"nanogram
        per milliliter","unit_ont_id":"Custom:Unit","unit_ont_ref":"KbaseOntologies/Custom"}],"instances":{"test_row_instance_1":["1","4","7"],"test_row_instance_2":["2","5","8"],"test_row_instance_3":["3","6","9"]},"ontology_mapping_method":"User
        Curation"},"info":[73,"row_attribute_mapping_test_ExpressionMatrix","KBaseExperiments.AttributeMapping-3.0","2018-10-02T15:04:00+0000",1,"jjeffryes",36095,"jjeffryes:narrative_1535664989585","acaf9d15188ae931dde6f105ffb56be3",797,{"Mapping
        Method":"User Curation","Number of Attributes":"3","Number of Instances":"3"}],"path":["36095/73/1"],"provenance":[{"time":"2018-10-02T14:59:04+0000","epoch":1538492344000,"service":"GenericsAPI","service_ver":"local-dev","method":"run_local_tests","method_params":[],"input_ws_objects":[],"resolved_ws_objects":[],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[{"name":"GenericsAPI","ver":"local-dev","code_url":"https://localhost","commit":"local-docker-image"},{"name":"GenomeFileUtil","ver":"0.8.5-release","code_url":"https://github.com/kbaseapps/GenomeFileUtil","commit":"fe88588e83152e48b13e410c7410b340d1eab1df"},{"name":"DataFileUtil","ver":"0.0.24-release","code_url":"https://github.com/kbaseapps/DataFileUtil","commit":"52e7597218fdbeef6077d7822573cbf1b4a9d7c9"},{"name":"AssemblyUtil","ver":"1.0.6-release","code_url":"https://github.com/kbaseapps/AssemblyUtil","commit":"2b9b53d852190c94996e620d4754ca6aa98c0cb4"},{"name":"KBaseReport","ver":"3.0.3-release","code_url":"https://github.com/kbaseapps/KBaseReport","commit":"9a31e60babac154375cb6f2ff35d839ba5a3084a"}],"custom":{},"description":"KBase
        SDK method run via the KBase Execution Engine"}],"creator":"jjeffryes","orig_wsid":36095,"created":"2018-10-02T15:04:00+0000","epoch":1538492640886,"refs":[],"copy_source_inaccessible":0,"extracted_ids":{}}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
