interactions:
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "28852/11/1"}]}],
      "version": "1.1", "id": "32053245736936387"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"data":{"col_ids":["dinI_U_N0025_r1","dinP_U_N0025_r1","lexA_U_N0025_r1","lon_U_N0025_r1","luc_U_N0025_r1","mazF_U_N0025_r1","recA_U_N0025_r1","relA_U_N0025_r1","ruvA_U_N0025_r1","sulA_U_N0025_r1","umuD_U_N0025_r1","uvrA_U_N0025_r1","yebF_U_N0075_r1","luc_U_N0075_r1","zipA_U_N0075_r1","luc_U_N0000_r1"],"row_ids":["b4634","b3241","b3240","b3243","b3242","b2836","b0885","b1338","b1337","b1339","b1336","b0715","b0185","b3255","b3256","b2316","b4015","b4014","b0114","b0115","b4016","b2296","b1276","b0118","b0404","b1094","b2563","b3475","b0463","b0462","b2470","b3265","b3266","b0464","b4069","b4067","b2213","b1623","b3665","b1241","b1478","b4117","b4115","b4116","b0474","b0385","b2468","b3072","b0476","b0263","b0262","b3135","b3138","b3139","b3140","b3141","b3131","b3136","b3133","b3134","b1002","b0605","b0[...]
