<table class="table table-bordered table-condensed">
    <tr>
        <td>Job Id</td>
        <td>{{jobId}}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{status}}</td>
    </tr>
    <tr>
        <td>Submitted</td>
        <td>{{#if creationTime}}{{creationTime}}{{else}}Pending...{{/if}}</td>
    </tr>
    <tr>
        <td>Time in queue</td>
        <td>{{#if queueTime}}{{queueTime}}{{else}}Calculating...{{/if}}</td>
    </tr>
    {{#if queuePos}}
    <tr>
        <td>Position in queue</td>
        <td>{{queuePos}}</td>
    </tr>
    {{/if}}
    {{#if execStartTime}}
    <tr>
        <td>Execution Started</td>
        <td>{{execStartTime}}</td>
    </tr>
    
    {{/if}}
    {{#if execEndTime}}
    <tr>
        <td>Execution Finished</td>
        <td>{{execEndTime}}</td>
    </tr>
    {{/if}}
    {{#if execRunTime}}
    <tr>
        <td>Execution Time</td>
        <td>{{execRunTime}}</td>
    </tr>
    {{else}}
    <tr>
        <td>Time running</td>
        <td>{{runTime}}</td>
    </tr>
    {{/if}}
</table>