
<div class="row">
    <div class="col-md-3">
        <div class="narrative-sidebar">
            <div wsselector></div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="object-view" ui-view>
            <!--<div ng-show="!selected_ws">
                <span class="text-danger">No Workspace Selected</span><br>
                <small>Please select a workspace from the left.</small>
            </div>-->

            <div class="well">
                <h1>Welcome to the New Workspace Browser <small>v1.0</small></h1> 
                <h4 class="text-muted">Select a workspace from the left sidebar to start viewing objects</h4>
                <a class="btn btn-primary btn-lg btn-live-tour" href="#/ws/tour/" role="button">Take the Interactive Tour!</a>
            </div>

            <br><br><br>
            <h5>Documentation</h5>
            <a href="assets/images/ws/slide1.png" role="button" target="_blank">Screenshot of Features</a>

            <br><br>
            <h5>Looking for the old Workspace Browser?</h5>
            The old workspace browser is still temporarily available <a href="http://140.221.84.142/">here</a>, but is no longer maintained and KBase services no longer use these workspaces.  Your data is in the process of being transferred.  The old Workspace Browser will go offline in ~2 months.  Read more <a href="www.kbase.us">here</a>.



        </div>
    </div>
</div>


