
<div class="row">
    <div class="col-md-3">
        <div class="narrative-sidebar">
            <div wsselector></div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="object-view" ui-view>
            <!--<div ng-show="!selected_ws">
                <span class="text-danger">No Workspace Selected</span><br>
                <small>Please select a workspace from the left.</small>
            </div>-->

            <div class="well">
                <h1>Welcome to the New Workspace Browser <small>v1.0</small></h1> 
                <h4 class="text-muted">Select a workspace from the left sidebar to start viewing objects</h4>
                <a class="btn btn-primary btn-lg btn-live-tour" href="#/ws/tour/" role="button">Take the Tour!</a>
            </div>

            <h5>What's new in v1.1?</h5>
            <ul>
                <li>Revert objects</li>
                <li>Remove objects from trash</li>
                <li>Organize columns via dragging</li>
                <li>Display columns via settings dropdown</li>
                <li>Automatically save complete settings of table</li>
                <li>Access filtered table via URL. (<a href="#/ws/objtable/chenryExample?type=FBA">Click Me</a>)</li>
                <li>KEGG Maps. (<a href="#/ws/fbas/chenryExample/kb%7Cg.9.fbamdl.25.fba.67">Click Me</a>)</li>
                <li>UX/Styling improvements:
                    <ul><small>
                        - highlight selected WS<br>
                        - blah<br>
                    </small></ul>
                </li>
                <li>Bug fixes</li>
            </ul>

            <h5>Version 1.0:</h5>
            <ul>
                <li>Add/edit workspace descriptions</li>
                <li>Copy, delete, and rename objects</li>
                <li>Filter by object types</li>                
                <li>The "View HTML" has been replaced with direct links to KBase "Landing Pages".<br> Object details and download can be found by hovering over an object and selecting "more".</li>
                <li>View object history</li>
                <li>View deleted objects</li>
                <li>Access workspaces via url.  (<a href="/#/ws/objtable/chenryExample">Click Me</a>)</li>
                <li>Workspaces are now stored as username<b>:</b>workspace_name by default when creating a workspace in the WB</li>
            </ul>

            <!--<a href="assets/images/ws/slide1.png" role="button" target="_blank">Screenshot of Features</a>-->

            <br><br>
            <h5>Looking for the old Workspace Browser?</h5>
            The old Workspace Browser is still temporarily available <a href="http://140.221.84.142/">here</a>, but is no longer maintained and KBase services no longer use these workspaces. All of the data from the old Workspace Service is safe and is in the process of being transferred to new WS.  The old Workspace Browser will go offline in ~2 months.  <!--Read more <a href="www.kbase.us">here</a>.-->



        </div>
    </div>
</div>


