check process [% kb_service_name %] with pidfile [% kb_top %]/services/[% kb_service_dir %]/service.pid
  start program = "[% kb_top %]/services/[% kb_service_dir %]/start_service" with timeout 60 seconds
  stop  program = "[% kb_top %]/services/[% kb_service_dir %]/stop_service"
  if failed port [% kb_service_port %] type tcp 
     with timeout 15 seconds
     then restart
  if 3 restarts within 5 cycles then timeout
  group [% kb_service_name %]_group
