#!/bin/sh
export KB_TOP=[% kb_top %]
export KB_RUNTIME=[% kb_runtime %]
export PATH=$KB_TOP/bin:$KB_RUNTIME/bin:$PATH
export PERL5LIB=$KB_TOP/lib
export KB_SERVICE_DIR=$KB_TOP/services/[% kb_service_dir %]

pid_file=$KB_SERVICE_DIR/service.pid

if [ ! -f $pid_file ] ; then
	echo "No pid file $pid_file found for service [% kb_service_name %]" 1>&2
	exit 1
fi

pid=`cat $pid_file`

kill $pid
