interactions:
- request:
    body: '{"method": "Workspace.get_object_info3", "params": [{"objects": [{"ref":
      "666/666/666"}]}], "version": "1.1", "id": "7898995914794643"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","error":{"name":"JSONRPCError","code":-32500,"message":"Object
        666 cannot be accessed: Workspace 666 is deleted","error":"us.kbase.workspace.database.exceptions.InaccessibleObjectException:
        Object 666 cannot be accessed: Workspace 666 is deleted\n\tat us.kbase.workspace.database.PermissionsCheckerFactory$ObjectPermissionsChecker.check(PermissionsCheckerFactory.java:312)\n\tat
        us.kbase.workspace.database.ObjectResolver.resolve(ObjectResolver.java:202)\n\tat
        us.kbase.workspace.database.ObjectResolver.<init>(ObjectResolver.java:79)\n\tat
        us.kbase.workspace.database.ObjectResolver.<init>(ObjectResolver.java:37)\n\tat
        us.kbase.workspace.database.ObjectResolver$Builder.resolve(ObjectResolver.java:592)\n\tat
        us.kbase.workspace.database.Workspace.getObjectInformation(Workspace.java:1365)\n\tat
        us.kbase.workspace.kbase.WorkspaceServerMethods.getObjectInformation(WorkspaceServerMethods.java:416)\n\tat
        us.kbase.workspace.WorkspaceServer.getObjectInfo3(WorkspaceServer[...]
