interactions:
- request:
    body: '{"method": "Workspace.get_object_info3", "params": [{"objects": [{"ref":
      "test_narrative:narrative_1695311690413/some_defective_name"}]}], "version":
      "1.1", "id": "8890448093950898"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","error":{"name":"JSONRPCError","code":-32500,"message":"No
        object with name some_defective_name exists in workspace 69356 (name test_narrative:narrative_1695311690413)","error":"us.kbase.workspace.database.exceptions.NoSuchObjectException:
        No object with name some_defective_name exists in workspace 69356 (name test_narrative:narrative_1695311690413)\n\tat
        us.kbase.workspace.database.mongo.MongoWorkspaceDB.queryObjects(MongoWorkspaceDB.java:3069)\n\tat
        us.kbase.workspace.database.mongo.MongoWorkspaceDB.resolveObjectIDs[...]
