interactions:
- request:
    body: '{"method": "Workspace.get_object_info3", "params": [{"objects": [{"ref":
      "69356/5/2"}]}], "version": "1.1", "id": "28413113549322644"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"infos":[[5,"Abiotrophia_defectiva_ATCC_49176","KBaseGenomes.Genome-17.0","2023-09-26T13:13:47+0000",2,"test_narrative",69356,"test_narrative:narrative_1695311690413","5611e4279ef739e36214c81531c54a7a",7027991,null]],"paths":[["69356/5/2"]]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
