


<div data-spy="scroll" data-target="#navbar-example">
<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" id="navbar" ng-controller="ScrollCtrl" style="position:fixed;">
            <li><a ng-click="gotoAnchor('dev-guide')">Developer Guide</a></li>
            <li><a ng-click="gotoAnchor('user-guide')">User Guide</a></li>
        </ul>
    </div>
    <div class="col-md-10">

        <div class="page-header"><h3 id="dev-guide">Developer Guide</h3></div>
        <h4>States</h4>
        Model Viewer has two forms of url state right now:  the navigation and selected objects
        <a href="#/mv/">#/mv/</a><br>
          
        <h4>Examples</h4>

        <div class="page-header"><h3 id="user-guide">User Guide</h3></div>
          
        <h4>Examples</h4>



        <br><br>
        </div>
    </div>


</div>
