<div class="row search-result-column-header-row">
    <div class="btn-group search-result-column-header col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="btn-group search-result-column-header search-result-select-all col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <button type="button" class="btn btn-default search-result-column-header-btn" ng-class="{'disabled': !options.userState.loggedIn}" ng-click="toggleAll(options.resultJSON.items)">
                <span class="glyphicon" ng-class="{'glyphicon-check': options.userState.selectAll,'glyphicon-unchecked': !options.userState.selectAll}"></span>
            </button>
        </div>
        <div class="btn-group search-result-column-header col-xs-1 col-sm-1 col-md-1 col-lg-1 scientific_name">
            <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
                <strong>Scientific Name</strong>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'scientific_name', 'asc')">
                        <span class="glyphicon glyphicon-sort-by-order"/>
                        <span>Sort ascending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'scientific_name', 'desc')">
                        <span class="glyphicon glyphicon-sort-by-order-alt"/>
                        <span>Sort descending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="removeSort(options.selectedCategory, 'scientific_name', true)">
                        <span class="glyphicon glyphicon-remove"/>
                        <span>Clear this sort</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-group search-result-column-header col-xs-3 col-sm-3 col-md-4 col-lg-4 sample_title">
            <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
                <strong>Title</strong>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'sample_title', 'asc')">
                        <span class="glyphicon glyphicon-sort-by-alphabetical"/>
                        <span>Sort alphabetical</span>
                    </a>
                </li>
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'sample_title', 'desc')">
                        <span class="glyphicon glyphicon-sort-by-alphabetical-alt"/>
                        <span>Sort reverse alphabetical</span>
                    </a>
                </li>
                <li>
                    <a ng-click="removeSort(options.selectedCategory, 'sample_title', true)">
                        <span class="glyphicon glyphicon-remove"/>
                        <span>Clear this sort</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-group search-result-column-header col-xs-1 col-sm-1 col-md-1 col-lg-1 sample_type">
            <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
                <strong>Type</strong>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'sample_type', 'asc')">
                        <span class="glyphicon glyphicon-sort-by-order"/>
                        <span>Sort ascending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'sample_type', 'desc')">
                        <span class="glyphicon glyphicon-sort-by-order-alt"/>
                        <span>Sort descending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="removeSort(options.selectedCategory, 'sample_type', true)">
                        <span class="glyphicon glyphicon-remove"/>
                        <span>Clear this sort</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="btn-group search-result-column-header col-xs-1 col-sm-1 col-md-1 col-lg-1 genome_id">
            <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
                <strong>Genome Id</strong>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'genome_id', 'asc')">
                        <span class="glyphicon glyphicon-sort-by-attributes"/>
                        <span>Sort ascending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'genome_id', 'desc')">
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"/>
                        <span>Sort descending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="removeSort(options.selectedCategory, 'genome_id', true)">
                        <span class="glyphicon glyphicon-remove"/>
                        <span>Clear this sort</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<section>
    <div class="row" ng-repeat="item in options.resultJSON.items">
        <div class="search-typedRecord row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 search-checkbox">
                <a ng-click="toggleCheckbox(item.row_id, item)" class="search-checkbox-link" ng-class="{'disabled': !options.userState.loggedIn}">
                    <span class="glyphicon" ng-class="{'glyphicon-unchecked': !options.userState.selections[item.row_id], 'glyphicon-check': options.userState.selections[item.row_id]}"/>
                </a>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 search-result-position">{{item.position}}.</div>
            <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 search-result-column object_id">{{item.object_id}}</div>
            <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 search-result-column object_name">
                <span>
                    <a target='_blank' data-trigger="hover" class="object_name" href="{{expression_landing_page_url}}{{item.object_name}}">
                        <strong><em>{{item.object_name}}</em></strong>
                    </a>
                </span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4 search-result-column title">{{item.title}}</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 search-result-column genome_id">{{item.genome_id}}</div>
        </div>
        <div class="search-typedRecord-expanded row collapse">
            <div class="row search-typedRecord-expanded-header">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><span class="text-left"><strong>Additional Information:</strong></span></div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 search-result-column-expanded platform_id"><strong>Platform Id: </strong>{{item.platform_id}}</div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 search-result-column-expanded data_source"><strong>Data Source: </strong>{{item.data_source}}</div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 search-result-column-expanded data_quality_level"><strong>Data Quality Level: </strong>{{item.data_quality_level}}</div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 search-result-column-expanded numerical_interpretation"><strong>Numerical Interpretation: </strong>{{item.numerical_interpretation}}</div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 search-result-column-expanded original_median"><strong>Original Median: </strong>{{item.original_median}}</div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 search-result-column-expanded molecule"><strong>Molecule: </strong>{{item.molecule}}</div>
            </div>
        </div>
    </div>
</section>