<div class="row search-result-column-header-row">
    <div class="btn-group search-result-column-header col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="btn-group search-result-column-header search-result-select-all col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <button type="button" class="btn btn-default search-result-column-header-btn" ng-class="{'disabled': !options.userState.loggedIn}" ng-click="toggleAll(options.resultJSON.items)">
                <span class="glyphicon" ng-class="{'glyphicon-check': options.userState.selectAll,'glyphicon-unchecked': !options.userState.selectAll}"></span>
            </button>
        </div>
        <div class="btn-group search-result-column-header feature_id col-xs-3 col-sm-3 col-md-2 col-lg-2">
            <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
                <strong>Feature Id</strong>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'feature_id', 'asc')">
                        <span class="glyphicon glyphicon-sort-by-attributes"/>
                        <span>Sort ascending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'feature_id', 'desc')">
                        <span class="glyphicon glyphicon-sort-by-order-attributes-alt"/>
                        <span>Sort descending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="removeSort(options.selectedCategory, 'feature_id', true)">
                        <span class="glyphicon glyphicon-remove"/>
                        <span>Clear this sort</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-group search-result-column-header col-xs-2 col-sm-2 col-md-3 col-lg-3 scientific-name">
            <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
                <strong>Scientific Name</strong>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'scientific_name', 'asc')">
                        <span class="glyphicon glyphicon-sort-by-alphabet"/>
                        <span>Sort alphabetical</span>
                    </a>
                </li>
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'scientific_name', 'desc')">
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt"/>
                        <span>Sort reverse alphabetical</span>
                    </a>
                </li>
                <li>
                    <a ng-click="removeSort(options.selectedCategory, 'scientific_name', true)">
                        <span class="glyphicon glyphicon-remove"/>
                        <span>Clear this sort</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-group search-result-column-header feature_type col-xs-2 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
                <strong>Type</strong>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'feature_type', 'asc')">
                        <span class="glyphicon glyphicon-sort-by-alphabet"/>
                        <span>Sort ascending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'feature_type', 'desc')">
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt"/>
                        <span>Sort descending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="removeSort(options.selectedCategory, 'feature_type', true)">
                        <span class="glyphicon glyphicon-remove"/>
                        <span>Clear this sort</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-group search-result-column-header protein_translation_length col-xs-2 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
                <strong>Length</strong>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'protein_translation_length', 'asc')">
                        <span class="glyphicon glyphicon-sort-by-order"/>
                        <span>Sort ascending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'protein_translation_length', 'desc')">
                        <span class="glyphicon glyphicon-sort-by-order-alt"/>
                        <span>Sort descending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="removeSort(options.selectedCategory, 'protein_translation_length', true)">
                        <span class="glyphicon glyphicon-remove"/>
                        <span>Clear this sort</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-group search-result-column-header feature_function col-xs-2 col-sm-2 col-md-3 col-lg-3">
            <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
                <strong>Function</strong>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'function', 'asc')">
                        <span class="glyphicon glyphicon-sort-by-alphabet"/>
                        <span>Sort ascending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'function', 'desc')">
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt"/>
                        <span>Sort descending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="removeSort(options.selectedCategory, 'function', true)">
                        <span class="glyphicon glyphicon-remove"/>
                        <span>Clear this sort</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<section>
    <div class="row" ng-repeat="item in options.resultJSON.items">
        <div class="search-typedRecord row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 search-checkbox">
                <a ng-click="toggleCheckbox(item.row_id, item)" class="search-checkbox-link" ng-class="{'disabled': !options.userState.loggedIn}">
                    <span class="glyphicon" ng-class="{'glyphicon-unchecked': !options.userState.selections[item.row_id], 'glyphicon-check': options.userState.selections[item.row_id]}"/>
                </a>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 search-result-position">{{item.position}}.</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 search-result-column feature_id">
                <span>
                    <a target='_blank' data-trigger="hover" class="feature_id" href="#{{options.landingPages.feature}}{{item.feature_id}}">
                        <strong><em>{{item.feature_id}}</em></strong>
                    </a>
                </span>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3 search-result-column scientific-name">
                <span>
                    <a target='_blank' class="scientific-name" href="#{{options.landingPages.genome}}{{item.genome_id}}">
                        <strong><em>{{item.scientific_name}}</em></strong>
                    </a>
                </span>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 search-result-column feature_type">{{item.feature_type}}</div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 search-result-column protein_translation_length">{{item.protein_translation_length}}</div>
            <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3 search-result-column feature_function">{{item.function}}</div>
        </div>
        <div ng-class="{'collapse': options.userState.viewType != 'expanded'}" class="search-typedRecord-expanded row">
            <div class="row search-typedRecord-expanded-header">
                <div class="col-md-3"><span class="text-left"><strong>Additional Information:</strong></span></div>
            </div>
            <div class="row">
                <div class="col-md-12 search-result-column-expanded annotations"><strong>Annotations: </strong>{{item.annotations}}</div>
                <div class="col-md-12 search-result-column-expanded subsystem_data"><strong>Subsystem Data: </strong>{{item.subsystem_data}}</div>
                <div class="col-md-12 search-result-column-expanded regulon_data"><strong>Regulon Data: </strong>{{item.regulon_data}}</div>
            </div>
        </div>
    </div>
</section>
