<div class="row search-result-column-header-row">
    <div class="btn-group search-result-column-header col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="btn-group search-result-column-header search-result-select-all col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <button type="button" class="btn btn-default search-result-column-header-toggle" ng-class="{'disabled': !options.userState.loggedIn}" ng-click="toggleAll(options.resultJSON.items)">
                <span class="glyphicon" ng-class="{'glyphicon-check': options.userState.selectAll[options.selectedCategory][options.searchOptions.perCategory[options.selectedCategory].page],'glyphicon-unchecked': !options.userState.selectAll[options.selectedCategory][options.searchOptions.perCategory[options.selectedCategory].page]}"></span>
            </button>
        </div>
        <div class="btn-group search-result-column-header col-xs-2 col-sm-2 col-md-2 col-lg-2 metagenome_id">
            <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
                <strong>MG-RAST Id</strong>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'metagenome_id', 'asc')">
                        <span class="glyphicon glyphicon-sort-by-order"/>
                        <span>Sort ascending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'metagenome_id', 'desc')">
                        <span class="glyphicon glyphicon-sort-by-order-alt"/>
                        <span>Sort descending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="removeSort(options.selectedCategory, 'metagenome_id', true)">
                        <span class="glyphicon glyphicon-remove"/>
                        <span>Clear this sort</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-group search-result-column-header col-xs-3 col-sm-3 col-md-3 col-lg-4 metagenome_name">
            <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
                <strong>Metagenome Name</strong>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'metagenome_name', 'asc')">
                        <span class="glyphicon glyphicon-sort-by-order"/>
                        <span>Sort ascending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'metagenome_name', 'desc')">
                        <span class="glyphicon glyphicon-sort-by-order-alt"/>
                        <span>Sort descending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="removeSort(options.selectedCategory, 'metagenome_name', true)">
                        <span class="glyphicon glyphicon-remove"/>
                        <span>Clear this sort</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-group search-result-column-header col-xs-2 col-sm-2 col-md-2 col-lg2 project_name">
            <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
                <strong>Project</strong>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'project_name', 'asc')">
                        <span class="glyphicon glyphicon-sort-by-attributes"/>
                        <span>Sort ascending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'project_name', 'desc')">
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"/>
                        <span>Sort descending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="removeSort(options.selectedCategory, 'project_name', true)">
                        <span class="glyphicon glyphicon-remove"/>
                        <span>Clear this sort</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-group search-result-column-header col-xs-2 col-sm-2 col-md-2 col-lg2 sample_name">
            <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
                <strong>Sample</strong>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'sample_name', 'asc')">
                        <span class="glyphicon glyphicon-sort-by-alphabet"/>
                        <span>Sort ascending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="addSort(options.selectedCategory, 'sample_name', 'desc')">
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt"/>
                        <span>Sort descending</span>
                    </a>
                </li>
                <li>
                    <a ng-click="removeSort(options.selectedCategory, 'sample_name', true)">
                        <span class="glyphicon glyphicon-remove"/>
                        <span>Clear this sort</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<section>
    <div class="row" ng-repeat="item in options.resultJSON.items">
        <div class="search-typedRecord row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 search-checkbox">
                <a ng-click="toggleCheckbox(item.row_id, item)" class="search-checkbox-link" ng-class="{'disabled': !options.userState.loggedIn}">
                    <span class="glyphicon" ng-class="{'glyphicon-unchecked': !options.userState.selections[item.row_id], 'glyphicon-check': options.userState.selections[item.row_id]}"/>
                </a>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 search-result-position">{{item.position}}.</div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 search-result-column metagenome_id_cell">{{item.metagenome_id.split("mgm")[1]}}</div>
            <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4 search-result-column metagenome_name_cell">
                <span>
                    <a target='_blank' href="{{options.landingPages.metagenome}}{{item.metagenome_id.split('mgm')[1]}}">
                        <strong><em>{{item.metagenome_name}}</em></strong>
                    </a>
                </span>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2 search-result-column project_name_cell">{{item.project_name}}</div>
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2 search-result-column sample_name_cell">{{item.sample_name}}</div>
        </div>
        <div ng-class="{'collapse': options.userState.viewType != 'expanded'}" class="search-typedRecord-expanded row">
            <div class="row well search-result-column-expanded">
                <table class="search-result-expanded-entry">
                    <tr><td class="search-result-column-expanded-entry-cell metagenome_expanded_header"><strong>Sequence Type: </strong></td><td class="search-result-column-expanded-entry-cell">{{item.sequence_type}}</td></tr> 
                    <tr><td class="search-result-column-expanded-entry-cell metagenome_expanded_header"><strong>Location: </strong></td><td class="search-result-column-expanded-entry-cell">{{item.location}}</td></tr>
                    <tr><td class="search-result-column-expanded-entry-cell metagenome_expanded_header"><strong>Feature: </strong></td><td class="search-result-column-expanded-entry-cell">{{item.feature}}</td></tr>
                    <tr><td class="search-result-column-expanded-entry-cell metagenome_expanded_header"><strong>Material: </strong></td><td class="search-result-column-expanded-entry-cell">{{item.material}}</td></tr>
                    <tr><td class="search-result-column-expanded-entry-cell metagenome_expanded_header"><strong>PI:</strong></td><td class="search-result-column-expanded-entry-cell">{{item.PI_info}}</td></tr>
                </table>
            </div>
        </div>
    </div>
</section>