/*html { 
	background-color: #a2a2a2;
}
body{
    margin:0;
    padding:0;
    line-height: 1.5em;
	height: 98%;
	font: .875em/1.375em 'OxygenRegular', Arial, sans-serif; 
	background-color: #fff;
}
*/
ol, ul {
	margin: 0;
	padding: 0;
}

ol li, ul li {
	list-style: none;
	padding-bottom: 10px;
}

h2 {
font: 1.5em/1.75em 'RobotoBlack', Arial, sans-serif;
}

h3,h4 {
margin: 0;
}
nav ul li.selected { 
	background-color: #5D9732;
}
.newsfeed_section h3 {
	margin: 0 0 15px 0
}
.newsfeed_section h4 {
	margin-bottom: 10px;
}

/* container for the left and center panes */
#maincontainer {
	height: 84%;
	overflow: hidden;
	border-bottom: 1px solid #AAA;
}

#newsfeed_column {
	float: right;
	width: 73%;
	height: 100%;
	padding-left: 30px;
	overflow: auto;
}

#narrative_column{
    float: left;
	width: 15%;
    padding: 0px 30px 0 20px;
	height: 100%;
	border-right: 1px solid #898989;
	position: relative;
	background-color: #E6E6E6;
}

/* this is for the little 'more' tab */
#narrative_column:after {
	content: "more\a0\a0\21E7";
	padding-left: 20px;
	padding-right: 10px;
	width: 60px;
	height: 23px;
	position: absolute;
	top: 30px;
	right: -57px;
	border-right: 1px solid #898989;
	border-top: 1px solid #898989;
	background-color: #E6E6E6;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	font-size: 16px;
	z-index: 100;

	-webkit-transform:rotate(90deg); 
	  -moz-transform:rotate(90deg); 
	  -ms-transform:rotate(90deg); 
	  -o-transform:rotate(90deg); 
	  transform:rotate(90deg);

}


/* styling for the narrative and newfeeds panel */
.narrative_section, .newsfeed_section  {
	margin-top: 40px;
}

.control_arrow {
	font-size: 25px;
}

#page_control_left {
	float: left;
}

#page_control_right {
	float: right;
}

.feed_projects_title {
	font-style:italic;
}

/*styling for feed/metrics section */
#feed_section {
	width: 60%;
	float: left;
}

#metrics_section {
	width: 30%;
	float: right;
	margin-right: 10px;
	margin-top: 20px;
	padding: 20px 0 20px 20px;
	
	border: 1px solid #E6E6E6;
	background-color: #E6E6E6;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
}

/* stats section */
.stats_section {
	margin-bottom: 20px;
}
.stats_section h4 {
	margin: 0;
}

.stats_section ul li {
	padding-bottom: 3px;
}

ul#contribution_stats {
	margin: 0 0 0 15px;
}

ul#contribution_stats li {
	padding: 0;
}


span.aside {
	font-style: italic;
}
