@mixin font-h1 {
  font: normal 700 42px $typeface-display;
}

@mixin font-h2 {
  font: normal 700 34px $typeface-display;
}

@mixin font-h3 {
  font: normal 400 24px $typeface-display;
}

@mixin font-h4 {
  font: normal 700 18px/30px $typeface-display;
}

@mixin font-h5 {
  font: normal 700 16px/24px $typeface-display;
}

@mixin font-h6 {
  font: normal 400 13px $typeface-display;
}

@mixin font-body {
  font: normal 400 16px/24px $typeface-page-text;
}

@mixin font-legend-title {
  font: normal 700 32px $typeface-display;
}

@mixin fixed-width {
  font-family: $typeface-fixed-width;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: $line-height-spacious;
}

@mixin body-text {
  font-family: $typeface-page-text;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: $line-height-spacious;
}

@mixin body-text-with-margins {
  @include body-text;

  margin: 1rem 0;
}

@mixin tabular-text {
  font-family: $typeface-page-text;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: $line-height-base;
}

@mixin base-text {
  font-family: $typeface-page-text;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: $line-height-base;
}

@mixin base-text-with-margins {
  @include base-text;

  margin: 1rem 0;
}
