// modules/variables

// Typefaces

$typeface-page-text: Oxygen, Arial, sans-serif;
$typeface-display: RobotoBlack, Arial, sans-serif;
$typeface-alt-page-text: Roboto, Arial, sans-serif;
$typeface-fixed-width: OxygenMono, SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
