// modules/variables

// Typefaces

$typeface-page-text: Oxygen, Arial, sans-serif;
$typeface-display: Oxygen, Arial, sans-serif;
$typeface-display-legacy: RobotoBlack, Arial, sans-serif;
$typeface-fixed-width: OxygenMono, SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
$typeface-font-awesome: FontAwesome;
$typeface-kbase-icons: kbase-icons;
$typeface-glyphicons: "Glyphicons Halflings";

@mixin zero-box {
  border: 0;
  margin: 0;
  padding: 0;
}
