<div class='popover tour kb-tour'>
    <div class='arrow'></div>
    <div style='position:absolute; top:7px; right:7px'>
        <button class='btn btn-default btn-xs' data-role='end'>
            <span class='fa fa-times'></span>
        </button>
    </div>
    <h3 class='popover-title'></h3>
    <div class='popover-content'></div>
    <div class='popover-navigation'>
        <button class='btn btn-primary fa fa-step-backward' data-role='prev'></button>
        <button class='btn btn-primary fa fa-step-forward pull-right' data-role='next'></button>
        <button id='tour-pause' class='btn btn-sm btn-default fa fa-pause' data-resume-text='' data-pause-text='' data-role='pause-resume'></button>
    </div>
</div>