.RenderJSON-headerCell {
    color: rgba(150, 150, 150, 1);
}

/* override bootstrap table style if used */
.table > tbody > tr > th.RenderJSON-headerCell {
    color: rgba(150, 150, 150, 1);
    text-align: left;
}
