body {
    padding-top: 70px;
    height: 100%;
}

a:hover, 
rect:hover {
    cursor: hand;
    cursor: pointer;
}


/* KBase navigation bar */
.navbar-kbase {
    background-color: #fff;
    border-bottom: 1px solid #E0E0E0;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
}
.nav > li > a:hover, .nav > li > a:focus {
text-decoration: none;
    background-color: #fff !important;
}

/* END KBase navigation bar */



.app-icon:hover {
    opacity: 0.9;
    text-decoration: none;
}


#kbase-search-box {
    width: 300px;
}


#signin-button {

    margin: 15px 7px 0 0;
}

#signin-button a {

}


/* bootstrap overrides */

.wrapper { width: 95%; margin-left: auto; margin-right: auto; }
/*.navbar { border-bottom: 2px solid #aaa;}*/

/* end bootstrap overrides */


#core-model { 
    overflow-x: auto; 
}

#logo {
    margin: 2px 10px 0 10px;
}


table {  
    font-size: 14px !important;
}

.media-info-modal {
    width: 800px;
}

#selected-workspace {
    margin: 17px 14px 15px 0px;
}

.tab-view {
    margin: 10px 0 0 0;
}



/* mv */

.search-query {
    width: 100%;
    margin: 0 0 5px 0;
}

.caret-up {
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: none;
    border-bottom: 4px solid #FFFFFF;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top-width: 0px;
    border-top-style: dotted;
    content: "";
}

.scroll-pane {
    height: 200px;
    overflow: scroll; 
}


#select-box tr td{
    padding: 10px; /* making enough room for button */
}

#select-box tr :hover {
    background-color: #eee;
}

.selected-ws {
    background-color: #428bca;
    color: #fff;
}

.selected-ws:hover { /* fixme */
    background-color: #428bca !important;
}
.mv-sidebar {

}

.side-bar-switch {
    margin: 0 0 10px 0;
}
.side-bar-switch li {
    font-size: 12px;
}
.side-bar-switch li a {
    padding: 5px 10px;
}

.selected-obj-alert {
    margin-bottom: 5px; /* override */
    padding-top: 10px;
    padding-bottom: 10px;    
}

.heatmap-view {
    overflow-x: scroll;
}

div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

div::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
    background: #ddd;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #666;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}


/* ws browser */

.ws-selector {
    width: 250px;
}

.modal-alert {
    margin: 10px 15px 0px 15px;
    padding: 8px 15px;

}

.modal-cover {
    position: absolute;
    z-index: 10;
}

.modal-cover-table {
    display: table;
    position: static;
    width: 100%;
    height: 100%;
}

.modal-cover-cell {
    display: table-cell;
    vertical-align: middle;
    position: static;
}


.modal-cover-box {
    display: inline-block;
    padding: 5px 15px;
    margin: 10px;
    -moz-box-shadow: 7px 7px 5px #888;
    -webkit-box-shadow: 7px 7px 5px #888;
    box-shadow: 7px 7px 5px #888;
    background: #95C07C;    
}

.modal-cover-content {
    padding: 5px;
    background: white;
    border: 1px solid #666;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/*
.manage-table {
    margin: 0 auto;
    width: 300px;
}
*/

/*
.datatable-footer {
    position: fixed;

    bottom: 0;
}
*/


.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 250px;
    display: inline-block;
    overflow: hidden
}