body {
/*	padding-top: 50px; */
}

/* featured section of the user home page */
.narr-featured-help {
	color: #0088CC; 
	font-size: 16px; 
	padding-left: 5px
}

.narr-featured-narrative {
	padding-top: 5px; 
	padding-bottom: 10px; 
	margin-bottom: 20px; 
	border-bottom: 1px solid #ccc;
}

#narr-newsfeed-section > div.narr-featured-narrative:last-child {
	border: none;
}

#narr-newsfeed-column h2 {
	color: #4a4a4a;
}

.narr-featured-title {
	font-size: 16px; 
	margin-top: 10px
}

.narr-copy {
	margin-top: 5px;
}

/* persistent side navigation */
#narr-narrative-column {
	height: 100%;
}

#narr-narrative-column ul {
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
}

#narr-narrative-column ul li {
	list-style: none;
	margin-bottom: 10px;
	text-align: left;
}

#narr-newsfeed-column {
	border-left: 1px solid #ddd;
	padding-left: 50px;
	padding-bottom: 100px;
}

.narr-narrative-section {
	border-top: 1px solid #ddd;
	padding-bottom: 40px;
}


.narr-narrative-section h3 {
	font-size: 14px;
	color: #898989;
}

/* buttons */
#narr-narrative-column .narr-btn-default {
	background-color: #f2f2f2;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
#narr-narrative-column .narr-btn-primary {
	background-color: #BBE8F9;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
#narr-narrative-column .narr-btn-default span {
	color: #fff;
}

