

/*.dataTables_scrollBody {
    position: relative !important;
    overflow: scroll !important;
    top: 0 !important;    
}*/




/* Begin Workspace Selector */

#ws-container {
    position: relative;
    height: 100%;
}

#ws-table-div {
    height: 100%;
    overflow: scroll;
}

#ws-table {
    table-layout: fixed;
    margin-bottom: 0px !important;
}

#ws-table td {
    padding: 0px;
}

#ws-info-row {
    height: 30px;
}

#ws-info-row td {
    padding-left: 20px;
    vertical-align: middle;
}

.ws-cell {
    cursor: pointer;
}

.ws-cell:hover {
    background: #EEEEEE;
}

.ws-cell-selected {
    background: #428bca;
}
.ws-cell-selected {
   color: #fff;
}

.ws-cell-selected:hover {
    background: #8AB8E6;
}

.ws-cell-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;

    padding: 8px;
}

.ws-cell-content-hover {
    padding-right: 30px;
}

.ws-num-objects {
    margin-right: 10px;
    padding-top: 3px;
}

.ws-cell-manage {
    position: absolute;
    right: 0px;
}

.btn-xmini {
    padding: 0px 4px;
}

/* End Workspace Selector */



/* Begin Object Table */

#object-table-container {
    height: 100%;
}

#object-table {
    height: 100%;
    position: relative;
}

#object-table td {
    padding: 6px;
    vertical-align: middle;
}

#object-table button {
    padding: 0px;
}

/* End Object Table */





/* start new functionality styling */


/* custom checkboxes (prototyped) */
.ncheck {
    width: 13px;
    height: 13px;
    border: 1px solid #ccc ;
    margin-left: auto;
    margin-right: auto;
}
.ncheck:hover {
    border: 1px solid #999 ;    
}


.ncheck-btn { /* select all button */
    width: 13px;
    height: 13px;
    border: 1px solid #999 ;
    margin: 0 0 0 12px;
}


.ncheck-checked {
    background: url(../img/checkmark.png) no-repeat -5px -5px;
    background-image: -webkit-image-set(url(../img/checkmark.png) 1x,url(../img/checkmark_2x.png) 2x);
}
.ncheck-minus {
    background: url(../img/checkmark-partial.png) no-repeat -5px -5px;
    background-image: -webkit-image-set(url(../img/checkmark-partial.png) 1x,url(../img/checkmark_2x.png) 2x);
}


/* option buttons when object is checked */
.checked-opts {
    margin: 0 0 0 40px;
}

/* option buttons for all object option buttons */


.select-objs {
    height: 34px;
    width: 37px;
    margin: 0 5px 0 0;
}

.obj-opt {
    display: inline;
}

.type-filter {
    width: 100px;
}


/*
.dataTables_length,
.dataTables_info {
    float: left;
}

.dataTables_length {
    padding: 0 3px;
    margin: 7px 0 0 15px;
}
*/

.obj-version:hover {
    cursor:hand;
    cursor:pointer;
}

.history-icon {
    margin: -2px 0 0 0;
}
.history-table {
    margin: 0 0 0 100px;
}

.history-table thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child, .table-bordered tfoot:last-child tr:last-child td:first-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
}



.model-icon {
    height: 17px;
    width: 17px;
    margin: -2px 0 0 0;
}

.model-icon:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .75;
}

/* temp arrow placement for bootstrap popover */
.view-options + .popover.bottom .arrow {
    left: 25%;
}



.badge-success {
    background-color: #5cb85c;
}
.search-query {
    margin: 0 0 10px 0;
}

/* END new functionality styling */

