
@font-face {
    font-family: 'OxygenRegular';
    src: url('../fonts/Oxygen-webfont.eot');
    src: url('../fonts/Oxygen-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oxygen-webfont.woff') format('woff'),
         url('../fonts/Oxygen-webfont.ttf') format('truetype'),
         url('../fonts/Oxygen-webfont.svg#OxygenRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OxygenItalic';
    src: url('../fonts/Oxygen-Italic-webfont.eot');
    src: url('../fonts/Oxygen-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oxygen-Italic-webfont.woff') format('woff'),
         url('../fonts/Oxygen-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Oxygen-Italic-webfont.svg#OxygenItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OxygenBold';
    src: url('../fonts/Oxygen-Bold-webfont.eot');
    src: url('../fonts/Oxygen-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oxygen-Bold-webfont.woff') format('woff'),
         url('../fonts/Oxygen-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Oxygen-Bold-webfont.svg#OxygenBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OxygenBoldItalic';
    src: url('../fonts/Oxygen-BoldItalic-webfont.eot');
    src: url('../fonts/Oxygen-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oxygen-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/Oxygen-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Oxygen-BoldItalic-webfont.svg#OxygenBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OxygenMonoRegular';
    src: url('../fonts/OxygenMono-Regular-webfont.eot');
    src: url('../fonts/OxygenMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OxygenMono-Regular-webfont.woff') format('woff'),
         url('../fonts/OxygenMono-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OxygenMono-Regular-webfont.svg#OxygenMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBlack';
    src: url('../fonts/Roboto-Black-webfont.eot');
    src: url('../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Black-webfont.woff') format('woff'),
         url('../fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Black-webfont.svg#RobotoBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, .h1 {
    font-family: 'RobotoBlack', Arial, sans-serif;
    letter-spacing: 0; 
    color: #232323;
    font-weight: normal;
    }
h2, .h2 {
    font:  1.5em/1.75em  'RobotoBlack', Arial, sans-serif; 
    font-weight: normal; 
    color: #898989; 
    letter-spacing: 0;
    }
h3, .h3 {
    font-family:'RobotoBlack', Arial, sans-serif; 
    letter-spacing: 0;
    font-weight: normal;
    }
h4, .h4 {
    font-family:  'RobotoBlack', Arial, sans-serif;
    letter-spacing: 0em;
    }


/*@media screen and (max-width: 768px){
    body{font-size: 12px;}
}
@media screen and (max-width: 480px){
    body{font-size: 10px;}
}*/
strong, b {
    font-family: 'OxygenBold';
    font-weight: normal;
    }
em, i {
    font-family: 'OxygenItalic';
    font-style: normal;
    }
strong em, em strong, b i, i b{
    font-family: 'OxygenBoldItalic';
    font-style: normal;
    font-weight: normal;
    }

body {
    padding-top: 65px;
    height: 100%;
    font-family: 'OxygenRegular', Arial, sans-serif; 
    color: #333333;     
}

a:hover, 
rect:hover {
    cursor: hand;
    cursor: pointer;
}

/* adjustments for fonts */
.badge {
    padding-top: 5px;
    padding-left: 8px;
}

.label {
    line-height: 1;
}

/* KBase navigation bar */
.navbar-kbase {
    background-color: #fff;
    border-bottom: 1px solid #E0E0E0;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    /*background-color: #fff !important;*/
}

/* END KBase navigation bar */


.app-icon:hover {
    opacity: 0.9;
    text-decoration: none;
}


#kbase-search-box {
    width: 300px;
}


#signin-button {
    margin: 15px 7px 0 0;
}

#signin-button a {

}


/* bootstrap overrides */
.wrapper { width: 95%; margin-left: auto; margin-right: auto; }
/* end bootstrap overrides */



#logo {
    margin: 2px 10px 0 10px;
}


table {  
    font-size: 14px !important;
}

.media-info-modal {
    width: 800px;
}


.tab-view {
    margin: 10px 0 0 0;
}

/* landing page */
#core-model { 
    overflow-x: auto; 
}
/* for adjusting height on drag */
/*.panel-body div {
    height: inherit;
}*/


/* mv */
.search-query {
    width: 100%;
    margin: 0 0 5px 0;
}

.caret-up {
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: none;
    border-bottom: 4px solid #FFFFFF;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top-width: 0px;
    border-top-style: dotted;
    content: "";
}

.scroll-pane {
    height: 200px;
    overflow-y: scroll; 
    overflow-x: hi;
}


#select-box tr td{
    padding: 7px;

}

/*#select-box tr :hover {
    background-color: #eee;
}*/

.selected-ws {
    background-color: #428bca;
    color: #fff;
}

.selected-ws:hover { /* fixme */
    background-color: #428bca !important;
}


.side-bar-switch {
    margin: 0 0 10px 0;
}
.side-bar-switch li {
    font-size: 12px;
}
.side-bar-switch li a {
    padding: 5px 10px;
}

.selected-obj-alert {
    margin-bottom: 5px; /* override */
    padding-top: 10px;
    padding-bottom: 10px;    
}

.heatmap-view {
    overflow-x: scroll;
}

div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

div::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
    background: #ddd;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #666;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}


/* ws browser */

.ws-selector{
    margin: 10px 0 0 0;
}

.ws-selector.btn-ws-settings {
    position: absolute;
    right: 30px;
}

.object-view {
    margin: 10px 0 0 0;
}


.select-ws .badge {
    margin: 0 4px 0 0 ;
}
.select-ws .btn-ws-settings {
    padding: 0px 5px;
}

.modal-alert {
    margin: 10px 15px 0px 15px;
    padding: 8px 15px;

}

.modal-cover {
    position: absolute;
    z-index: 10;
}

.modal-cover-table {
    display: table;
    position: static;
    width: 100%;
    height: 100%;
}

.modal-cover-cell {
    display: table-cell;
    vertical-align: middle;
    position: static;
}


.modal-cover-box {
    display: inline-block;
    padding: 5px 15px;
    margin: 10px;
    -moz-box-shadow: 7px 7px 5px #888;
    -webkit-box-shadow: 7px 7px 5px #888;
    box-shadow: 7px 7px 5px #888;
    /*background: #95C07C;    */
}

.modal-cover-content {
    padding: 5px;
    background: white;
    border: 1px solid #666;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


#sortable-landing {
    padding: 0;
    list-style: none;
}
#sortable-landing li {
    padding: 0;
    list-style: none;
}

.narrative-options-container {
    border-bottom: 1px solid #ccc;
}
.narrative-options {
    margin: 20px 0 0 10px;
}

.narrative-options a { 
    margin: 0 20px 0 20px;
}
.narrative-options .glyphicon { 
    color: #444;
}
.narrative-options a:hover {
    opacity: 0.7;    
}




.object-options .btn {
    height: 34px; /* make all buttons equal height */
}
.obj-table .dataTables_length label {
    margin: 7px 0 0 0;
}


.dataTables_info {
    margin: 0 10px 0 0;
}
.dataTables_length, .dataTables_info {
    float: left;
}
.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 170px;
    display: inline-block;
    overflow: hidden
}

.ws-descript {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px;
    overflow: hidden;
    display: inline-block;
}


.drag-placeholder { height: 58px; border: 1px solid #6da8cf; background: #e0f7ff; }  

/* custom checkboxes (prototyped) */
.ncheck {
    width: 15px;
    height: 15px;
    border: 1px solid #ccc ;
    margin-left: auto;
    margin-right: auto;
}
.ncheck:hover {
    border: 1px solid #444 ;    
}
.ncheck-btn {
    width: 15px;
    height: 15px;
    border: 1px solid #888 ;
    margin: 4px 0px 4px -1px;
}
.ncheck-btn:hover {
    border: 1px solid #444 ;    
}
.ncheck-checked {
    background: url(../img/checkmark.png) no-repeat -5px -4px;
    background-image: -webkit-image-set(url(../img/checkmark.png) 1x,url(../img/checkmark_2x.png) 2x);
}
.ncheck-minus {
    background: url(../img/checkmark-partial.png) no-repeat -5px -5px;
    background-image: -webkit-image-set(url(../img/checkmark-partial.png) 1x,url(../img/checkmark-partial_2x.png) 2x);
}

.btn-select-all {
    height: 34px;
    margin: 0 20px 0 0;
}

.type-filter {
    margin: 0 20px 0 0;
}

.btn-trash { 
    margin: 3px 20px 0 0;
}


.btn-show-info .glyphicon{
    padding: 0px 0px 4px 0px;
}


.open-obj {
    margin: 7px 0 0 20px;
}



/******************     narrative     ***************/

#login-form {
    margin: 70px 0 0 0;
}

#narrative-nav,
.recent-narratives,
.recent-projects {
    padding: 0;
    margin: 0;
}

#project-table td {
    border-width: 1px 0 0 0;
    border-color: #eee;
}

.group-item-expander {
    border-bottom: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;    
    background: #f8f8f8; /*#d6eaff;*/
    padding: 8px 10px 0 10px !important;
    /*margin: 10px 2px 0px 2px !important; */
}
.group-item-expander:hover {
    background: #f8f8f8 !important; /* override boostrap hover */
}

.group-item-expander:hover {
    cursor: hand;
    cursor: pointer;
}


.nar-selected, 
.table-hover .nar-selected:hover > td { /* override boostrap hover */
    background-color: #e0f7ff !important; 
}
.table-hover > tbody > tr:hover > td, 
.table-hover > tbody > tr:hover > th {
    background-color: #f9ffff ;
}

.proj-opts {
    margin: 0 0 8px 0;
}

.btn-new-narrative {
    margin: 0 20px 0px 0;
}
.btn-delete-narrative {
    cursor: hand;
    cursor: pointer;
}

/* changing z index for datatable fixed header */
.navbar-fixed-top {
    z-index: 500;
}
.FixedHeader_Header {
    background: #fff;
    margin: -6px 0 0px 0;
    height: 44px;

}

.narrative-sidebar li {
    list-style: none;
}

@media (min-width: 960px) {
    .narrative-sidebar {
        position:fixed;
        width: 20%;
        /*float:left;*/
    }
}


.sidebar-header {
    font-size: 14px;
    color: #898989;
    font-family: 'RobotoBlack', Arial, sans-serif;
    letter-spacing: 0;
    font-weight: normal;
}


.view-header {
    font:  1.5em/1.75em  'RobotoBlack', Arial, sans-serif; 
    font-weight: normal; 
    color: #898989; 
    letter-spacing: 0;
}

.view-header {
    font:  1.5em/1.75em  'RobotoBlack', Arial, sans-serif; 
    font-weight: normal; 
    color: #898989; 
    letter-spacing: 0;
}


.active .btn-narr {
    background-color: #BBE8F9;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    /*border: 1px solid #A5D4E1;*/
    border: 1px solid #428bca;
    font-family: OxygenBold;
    font-size: 14px;
}

.btn-narr {
    background-color: #f2f2f2;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #DBDBDB;
    color: #6DA8CF;
    font-family: 'RobotoBlack', Arial, sans-serif;
    font-size: 14px;
}

.nav-sidebar {
    top: 70px;
}

.nav-sidebar li {
    list-style: none;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'RobotoBlack', Arial, sans-serif;
}

.nav-sidebar > li > a {
    padding: 7px 15px;
}
/*
.favorite-count {
    background-color: #428bca;
}
.active .favorite-count {
    background-color: #2a6496;
}*/
.navbar-nav {
    color: #6DA8CF;
    font-family: 'RobotoBlack', Arial, sans-serif;
}

.navbar-nav > li > a:hover {
    background-color: #fff;
}

.navbar-nav > li.active > a , 
.navbar-nav > li.active:hover {
    color: #2a6496 !important;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    height: 50px;
    border-bottom: 4px solid #428bca ;
}
.navbar-nav > .active:hover {
    color: #2a6496;
}

.project-shared-with {
    margin: 0 40px 0 0;
}

.table-options .checkbox {
    margin: 10px 0 0 50px;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -58px;
  /* Pad bottom by footer height */
  padding: 0 0 80px;
}
/* for the footer */
#footer {
   /* margin-top: 60px;
    position: relative;
    bottom: 0px; */
    height: 58px;
}

#footer ul {
    text-align: center;
}

#footer ul li {
    display: inline;
    padding: 7px 5px 5px 1px;
    
}

#footer ul li:after {
    content: "\2022";
    padding-left: 10px;
    color: #bbb;
    font-size: 10px;
}

#footer ul li:last-child:after, #footer ul li:nth-last-child(2):after {
    content: "";
}

#footer img {
    position: relative;
    top: -3px;
}

#footer .disclaimer {
    /*background-color: #f2dede;
    border-top: 1px solid #ebccd1;
    color: #a94442;*/
    background-color: #a94442;
    color: #fff;
    display: block;
    text-align: center;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}



