


<div data-spy="scroll" data-target="#navbar-example">
<div class="row">
    <div class="col-md-2">
        <div class="list-group">
          <a href="#" class="list-group-item active">
            Genomes
          </a>
          <a href="./#organisms" class="list-group-item">Organisms</a>
          <a href="./#reactions" class="list-group-item">Reactions</a>
          <a href="./#compounds" class="list-group-item">Compounds</a>
          <a href="#Media" class="list-group-item">Media</a>
          <a href="#Models" class="list-group-item">Models</a>
          <a href="#FBA" class="list-group-item">FBA</a>    
        </div>
    </div>
    <div class="col-md-10">
        <h2 id="Organisms">Data View Api</h2>        
        <h3>Genomes</h3>
        <h5>URLs:</h5>

        <h3 id="Reactions">Organisms</h3>
        <h5>URLs:</h5>

        <h3>Reactions</h3>
        <h5>URLs:</h5>
        #/rxns<br>
        #/rxns/$workspace/<br>



        <h3>Compounds</h3>
        <h5>URLs:</h5>
        #/cpds<br>
        #/cpds/$workspace/<br>


        <h3>Media</h3>
        <h5>URLs:</h5>
        #/media  [ points to <span class="label label-primary">KBaseMedia</span> ]<br>
        #/media/$workspace/<br>
        #/media/$workspace/$media_id<br>


        <h3>Modals</h3>
        <h5>URLs:</h5>
        <table>
        #/models  [ points to <span class="label label-primary">KBaseModels</span> ]<br>
        #/models/$workspace/<br>
        #/models/$workspace/$model_id<br>
        <form>
        </form>

        <h3>FBA</h3>
        <h5>URLs:</h5>
        #/models/$workspace/$fba_id<br>

        <br><br>
        </div>
    </div>
</div>
