{% extends "page.html" %}

{% block stylesheet %}

    {% if mathjax_url %}
        <script type="text/javascript" src="{{mathjax_url}}?config=TeX-AMS_HTML-full&delayStartupUntil=configured" charset="utf-8"></script>
    {% endif %}
    
    <script type="text/javascript">
        // MathJax disabled, set as null to distingish from *missing* MathJax,
        // where it will be undefined, and should prompt a dialog later.
        window.mathjax_url = "{{mathjax_url}}";
    </script>

    <link rel="stylesheet" href="{{ static_url("components/codemirror/lib/codemirror.css") }}">

    {{super()}}
    <link rel="stylesheet" href="{{ static_url("kbnetwork/css/datavis.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("kbase/css/kbaseNarrativeWorkspace.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("kbase/css/kbaseData.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("kbase/css/kbaseNarrFunc.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("kbase/css/kbaseNarrFuncResults.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("kbase/css/bootstrap-fileupload.min.css") }}" type="text/css" />

    <link rel="stylesheet" href="{{ static_url("notebook/css/override.css") }}" type="text/css" />

{% endblock %}

{% block params %}

data-project={{project}}
data-base-project-url={{base_project_url}}
data-base-kernel-url={{base_kernel_url}}
data-notebook-id={{notebook_id}}
class="notebook_app"

{% endblock %}


{% block header %}

{% endblock %}


{% block site %}
<div id="main-container">
    <div id="menubar">
                <div class="navbar">
                    <div>
                        <div >
                            <ul id="menus" class="nav navbar-nav">
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">File</a>
                                    <ul class="dropdown-menu">
                                        <li id="new_notebook"><a href="#">New</a></li>
                                        <li id="open_notebook"><a href="#">Open...</a></li>
                                        <!-- <hr/> -->
                                        <li class="divider"></li>
                                        <li id="copy_notebook"><a href="#">Make a Copy...</a></li>
                                        <li id="rename_notebook"><a href="#">Rename...</a></li>
                                        <li id="save_checkpoint"><a href="#">Save and Checkpoint</a></li>
                                        <!-- <hr/> -->
                                        <li class="divider"></li>
                                        <li id="restore_checkpoint" class="dropdown-submenu"><a href="#">Revert to Checkpoint</a>
                                          <ul class="dropdown-menu">
                                            <li><a href="#"></a></li>
                                            <li><a href="#"></a></li>
                                            <li><a href="#"></a></li>
                                            <li><a href="#"></a></li>
                                            <li><a href="#"></a></li>
                                          </ul>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="dropdown-submenu"><a href="#">Download as</a>
                                            <ul class="dropdown-menu">
                                                <li id="download_ipynb"><a href="#">IPython (.ipynb)</a></li>
                                                <li id="download_py"><a href="#">Python (.py)</a></li>
                                            </ul>
                                        </li>
                                        <li class="divider"></li>
                                        
                                        <li id="kill_and_exit"><a href="#" >Close and halt</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit</a>
                                    <ul class="dropdown-menu">
                                        <li id="cut_cell"><a href="#">Cut Cell</a></li>
                                        <li id="copy_cell"><a href="#">Copy Cell</a></li>
                                        <li id="paste_cell_above" class="disabled"><a href="#">Paste Cell Above</a></li>
                                        <li id="paste_cell_below" class="disabled"><a href="#">Paste Cell Below</a></li>
                                        <li id="paste_cell_replace" class="disabled"><a href="#">Paste Cell &amp; Replace</a></li>
                                        <li id="delete_cell"><a href="#">Delete Cell</a></li>
                                        <li id="undelete_cell" class="disabled"><a href="#">Undo Delete Cell</a></li>
                                        <li class="divider"></li>
                                        <li id="split_cell"><a href="#">Split Cell</a></li>
                                        <li id="merge_cell_above"><a href="#">Merge Cell Above</a></li>
                                        <li id="merge_cell_below"><a href="#">Merge Cell Below</a></li>
                                        <li class="divider"></li>
                                        <li id="move_cell_up"><a href="#">Move Cell Up</a></li>
                                        <li id="move_cell_down"><a href="#">Move Cell Down</a></li>
                                        <li class="divider"></li>
                                        <li id="select_previous"><a href="#">Select Previous Cell</a></li>
                                        <li id="select_next"><a href="#">Select Next Cell</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">View</a>
                                    <ul class="dropdown-menu">
                                        <li id="toggle_header"><a href="#">Toggle Header</a></li>
                                        <li id="toggle_toolbar"><a href="#">Toggle Toolbar</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Insert</a>
                                    <ul class="dropdown-menu">
                                        <li id="insert_cell_above"><a href="#">Insert Cell Above</a></li>
                                        <li id="insert_cell_below"><a href="#">Insert Cell Below</a></li>
                                        <li id="insert_rickroll_cell_below"><a href="#">Insert Rickroll Widget Below</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Cell</a>
                                    <ul class="dropdown-menu">
                                        <li id="run_cell"><a href="#">Run</a></li>
                                        <li id="run_cell_in_place"><a href="#">Run in Place</a></li>
                                        <li id="run_all_cells"><a href="#">Run All</a></li>
                                        <li id="run_all_cells_above"><a href="#">Run All Above</a></li>
                                        <li id="run_all_cells_below"><a href="#">Run All Below</a></li>
                                        <li class="divider"></li>
                                        <li id="change_cell_type" class="dropdown-submenu"><a href="#">Cell Type</a>
                                            <ul class="dropdown-menu">
                                              <li id="to_code"><a href="#">Code</a></li>
                                              <li id="to_markdown"><a href="#">Markdown </a></li>
                                              <li id="to_raw"><a href="#">Raw Text</a></li>
                                              <li id="to_heading1"><a href="#">Heading 1</a></li>
                                              <li id="to_heading2"><a href="#">Heading 2</a></li>
                                              <li id="to_heading3"><a href="#">Heading 3</a></li>
                                              <li id="to_heading4"><a href="#">Heading 4</a></li>
                                              <li id="to_heading5"><a href="#">Heading 5</a></li>
                                              <li id="to_heading6"><a href="#">Heading 6</a></li>
                                            </ul>
                                        </li>
                                        <li class="divider"></li>
                                        <li id="toggle_output"><a href="#">Toggle Current Output</a></li>
                                        <li id="all_outputs" class="dropdown-submenu"><a href="#">All Output</a>
                                            <ul class="dropdown-menu">
                                                <li id="expand_all_output"><a href="#">Expand</a></li>
                                                <li id="scroll_all_output"><a href="#">Scroll Long</a></li>
                                                <li id="collapse_all_output"><a href="#">Collapse</a></li>
                                                <li id="clear_all_output"><a href="#">Clear</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Kernel</a>
                                    <ul class="dropdown-menu">
                                        <li id="int_kernel"><a href="#">Interrupt</a></li>
                                        <li id="restart_kernel"><a href="#">Restart</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Help</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="http://ipython.org/documentation.html" target="_blank">IPython Help</a></li>
                                        <li><a href="http://ipython.org/ipython-doc/stable/interactive/htmlnotebook.html" target="_blank">Notebook Help</a></li>
                                        <li id="keyboard_shortcuts"><a href="#">Keyboard Shortcuts</a></li>
                                        <li class="divider"></li>
                                        <li><a href="http://docs.python.org" target="_blank">Python</a></li>
                                        <li><a href="http://docs.scipy.org/doc/numpy/reference/" target="_blank">NumPy</a></li>
                                        <li><a href="http://docs.scipy.org/doc/scipy/reference/" target="_blank">SciPy</a></li>
                                        <li><a href="http://docs.sympy.org/dev/index.html" target="_blank">SymPy</a></li>
                                        <li><a href="http://matplotlib.sourceforge.net/" target="_blank">Matplotlib</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div id="notification_area"></div>
                        </div>
                    </div>
                </div>
            </div>
    <div id="kb-ws-guard">Connecting to KBase..</div>

    <div id="left-column">
        <div id="kb-ws">
            <div class="kb-header"><span id='kb-wsname'>Data</span></div>
            <div class="kb-controls"><span id='kb-ws-upload-dialog'></span>
            </div>
            <div class="kb-table">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <div class="kb-ws-browser-link">
            See more in the 
            <a href="http://140.221.84.142/" target="_blank">workspace browser</a>.
        </div>
    -->
        <div class="kb-function-panel left-pane">
            <div class="kb-function-header">
                Functions
            </div>
            <div class="kb-function-body">
                <ul>
                    <li><a href="#" data-name="Plants Co-expression">Plants Co-expression</a>
                        <span data-name="Plants Co-expression" 
                              data-help="Calculate gene co-expression clusters and visualize results as a graph."
                              class="kb-function-help">?</span>
                    </li>
                    <li><a href="#" data-name="Assemble Contigs">Assemble Contigs from Reads</a>
                        <span data-name="Assemble Contigs" 
                              data-help="Use a KBase pipeline to assemble a set of contigs from generated reads files."
                              class="kb-function-help">?</span>
                    </li>
                    <li><a href="#" data-name="Assemble Genome">Assemble Genome from Contigs</a>
                        <span data-name="Assemble Genome" 
                              data-help="Assemble an unannotated Genome from a set of Contigs in your data."
                              class="kb-function-help">?</span>
                    </li>
                    <li><a href="#" data-name="Annotate Genome">Annotate Assembled Genome</a>
                        <span data-name="Annotate Genome" 
                              data-help="Annotate a Genome. This starts a job that might run for an hour or longer.
                                         When it finishes, the annotated Genome will be stored in your data space."
                              class="kb-function-help">?</span>
                    </li>
                    <li><a href="#" data-name="View Genome Details">View Genome Details</a>
                        <span data-name="View Genome Details" 
                              data-help="Select and view a brief list of details about a Genome in your workspace."
                              class="kb-function-help">?</span>
                    </li>
                    <li><a href="#" data-name="Genome To Draft FBA Model">Genome to Draft FBA Model</a>
                        <span data-name="Genome to Draft FBA Model" 
                              data-help="Build a draft FBA model from a genome in your workspace."
                              class="kb-function-help">?</span>
                    </li>
                    <li><a href="#" data-name="View FBA Model Details">View FBA Model Details</a>
                        <span data-name="View FBA Model Details" 
                              data-help="Select and view a constructed FBA Model from your data."
                              class="kb-function-help">?</span>
                    </li>
                    <li><a href="#" data-name="Build Media">Build Media</a>
                        <span data-name="Build Media" 
                              data-help="Assemble a set of compounds to use as a media set for performing FBA on a model."
                              class="kb-function-help">?</span>
                    </li>
                    <li><a href="#" data-name="View Media">View Media</a>
                        <span data-name="View Media" 
                              data-help="Select and view a media set from your data."
                              class="kb-function-help">?</span>
                    </li>
                    <li><a href="#" data-name="Run Flux Balance Analysis">Run Flux Balance Analysis</a>
                        <span data-name="Run Flux Balance Analysis" 
                              data-help="Run a Flux Balance Analysis using a model and media set."
                              class="kb-function-help">?</span>
                    </li>                    
                    <li><a href="#" data-name="View FBA Results">View FBA Results</a>
                        <span data-name="View FBA Results" 
                              data-help="Select and view FBA results from your data."
                              class="kb-function-help">?</span>
                    </li>                    
                    <li><a href="#" data-name="Gapfill FBA Model">Gapfill FBA Model</a>
                        <span data-name="Gapfill FBA Model" 
                              data-help="Generate a set of reactions to add to your FBA model in order to allow biomass production in a set of conditions."
                              class="kb-function-help">?</span>
                    </li>
                    <li><a href="#" data-name="Integrate Gapfill Solution">Integrate Gapfill Solution</a>
                        <span data-name="Integrate Gapfill Solution" 
                              data-help="Integrate a set of gapfilled reactions into your FBA model."
                              class="kb-function-help">?</span>
                    </li>
                </ul>
            </div>
        </div>
    <div id="kb-function-help"></div>
        
<!--         <div id="data-pane" class="left-pane">
            <h3 class="pane-title">
                Data<span id="add-link"><a id="add-data" href="#">+ add data</a></span>
            </h3>
            <p><span class="tab1">In workspace</span><span class="tab2">In narrative</span></p>
             <ul id="data-list" class="pane-list">
             </ul>
        </div>
        <div id="function-pane" class="left-pane">
            <h3 class="pane-title">Functions</h3>
            <ul id="command-list" class="pane-list">
            </ul>
        </div>
 -->    </div>

     <div id="content-column">
        <div id="menubar-container">
            
            <div id="maintoolbar" class="navbar" style="z-index:100">
              <div class="toolbar-inner navbar-nobg">
                <div id="maintoolbar-container" class="container"></div>
              </div>
            </div>
        </div>

        <div id="narrative-title">
      <span id="save_widget" class="nav pull-left">
        <span id="notebook_name"></span>
        <span id="checkpoint_status"></span>
        <span id="autosave_status"></span>
      </span>
      <span> &nbsp;</span>
        </div>

        <div id="ipython-main-app">

            <div id="notebook_panel">
                <div id="notebook"></div>
                <div id="pager_splitter"></div>
                <div id="pager">
                    <div id='pager_button_area'>
                    </div>
                    <div id="pager-container" class="container"></div>
                </div>
                <div id="kb-ws-progress"></div>
            </div>
        </div>
    </div>
</div>

    <!-- 
        Show details for 1 object in separate, modal, box 
     -->
    <div id="kb-obj" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="object-info" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Object</h2>
                </div>
                <div class="modal-body">
                    <div class="kb-table">
                        <!-- DataTables index of versions -->
                        <h3>Versions</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>Version</th>
                                    <th>Date</th>
                                    <th>User</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- Tabs for info about obj -->
                    <div>
                        <ul class="nav nav-pills">
                            <li><a href="#kb-info-table" data-toggle="tab">Description</a></li>
                            <li><a href="#kb-metainfo-table" data-toggle="tab">Metadata</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="kb-info-table">
                                <table class="kb-info table">
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="kb-metainfo-table">
                                <table class="kb-metainfo table">
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-primary kb-network">Insert visualization</button>
                </div> -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<div id='tooltip' class='ipython_tooltip' style='display:none'></div>


{% endblock %}

{% block script %}

{{super()}}

<script src="{{ static_url("kbase/js/jquery.dataTables.js") }}" type="text/javascript" charset="utf-8"></script>


<script src="{{ static_url("components/codemirror/lib/codemirror.js") }}" charset="utf-8"></script>
<script type="text/javascript">
    CodeMirror.modeURL = "{{ static_url("components/codemirror/mode/%N/%N.js") }}";
</script>
<script src="{{ static_url("components/codemirror/addon/mode/loadmode.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/addon/mode/multiplex.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/addon/mode/overlay.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/addon/edit/matchbrackets.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/addon/comment/comment.js") }}" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/codemirror-ipython.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/mode/htmlmixed/htmlmixed.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/mode/xml/xml.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/mode/javascript/javascript.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/mode/css/css.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/mode/rst/rst.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/mode/markdown/markdown.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/mode/gfm/gfm.js") }}" charset="utf-8"></script>

<script src="{{ static_url("components/highlight.js/build/highlight.pack.js") }}" charset="utf-8"></script>

<script src="{{ static_url("dateformat/date.format.js") }}" charset="utf-8"></script>

<script src="{{ static_url("base/js/events.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("base/js/utils.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("base/js/dialog.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/layoutmanager.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/mathjaxutils.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/outputarea.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/cell.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/celltoolbar.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/codecell.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/completer.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/textcell.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("services/kernels/js/kernel.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/savewidget.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/quickhelp.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/pager.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/menubar.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/toolbar.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/maintoolbar.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/notebook.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/notificationwidget.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/notificationarea.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/tooltip.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/config.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/main.js") }}" type="text/javascript" charset="utf-8"></script>

<script src="{{ static_url("notebook/js/contexthint.js") }}" charset="utf-8"></script>

<script src="{{ static_url("notebook/js/celltoolbarpresets/default.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/celltoolbarpresets/slideshow.js") }}" type="text/javascript" charset="utf-8"></script>

<script src="{{ static_url("auth/js/loginwidget.js") }}" type="text/javascript" charset="utf-8"></script>

<!-- inserted KBase Javascript below -->
<script src="{{ static_url("kbase/js/jquery.cookie.min.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/bootstrap-fileupload.min.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/kbwidget.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/kbaseLogging.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/kbaseNarrative.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/workspaceService.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/kbase-api.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/kbasePrompt.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/kbaseLogin.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/kbaseNarrativeWorkspace.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/kbaseUpload.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/datatables-bootstrap-paging.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/kbaseWorkspaceData.js") }}" type="text/javascript" charset="utf-8"></script>

<!-- function output JS widgets -->
<script src="{{ static_url("kbase/js/widgets/function_output/kbaseModelMetaNarrative.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/function_output/kbaseModelTabsNarrative.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/function_output/kbaseModelCoreNarrative.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/function_output/kbaseFbaTabsNarrative.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/function_output/kbaseMediaEditorNarrative.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/function_output/kbaseGenomeView.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbnetwork/js/datavis.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbnetwork/js/force-directed.js") }}" type="text/javascript" charset="utf-8"></script>


<script>
    $(function() {
        $(document).on('notebook_loaded.Notebook', function(event) {
            window.alert("NOTEBOOK LOADED! WOO!");
        });
    });
</script>
{% endblock %}
