

<!DOCTYPE HTML>
{% macro static_url(name) -%}
   {{ base_project_url }}static/{{ name }}
{%- endmacro %}
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{% block title %}User Testing Narrative{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{static_url("kbase/images/KBase_favicon.ico") }}">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{static_url("components/jquery-ui/themes/smoothness/jquery-ui.min.css") }}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheet %}
    {% block lesscss %}
	    {% if use_less %}
	        <link rel="stylesheet/less" href="{{ static_url("style/style.less") }}" type="text/css" />
	    {% else %}
	        <link rel="stylesheet" href="{{ static_url("style/style.min.css") }}" type="text/css"/>
	    {% endif %}
    {% endblock %}
    {% endblock %}
    <link rel="stylesheet" href="{{ static_url("custom/custom.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("kbase/css/kbaseStylesheet.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("kbase/css/narrative.css") }}" type="text/css" />
    <!--<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{{ static_url("kbvis/ext/font-awesome/3.2.1/css/font-awesome.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("kbvis/ext/font-awesome/4.0.3/css/font-awesome.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("kbase/css/kbaseNarrFunc.css") }}" type="text/css" />
    <script src="{{static_url("components/requirejs/require.js") }}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url("kbase/css/landing-pages.css") }}" />
    <script>
      require.config({
          baseUrl: '{{static_url() }}',
      });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-48256002-1', 'kbase.us');
      ga('send', 'pageview');
      
    </script>
    {% block meta %}
    {% endblock %}

</head>

<body {% block params %}{% endblock %}>

<noscript>
    <div id='noscript'>
      The KBase Narrative requires JavaScript.<br>
      Please enable it to proceed.
  </div>
</noscript>


<div class="nav navbar-kbase navbar-fixed-top nav-collapse nav-collapse-scrollable bs-navbar-scroll-collapse">
    <a href="http://www.kbase.us" class="pull-left">
        <img id="logo" src="static/kbase/images/kbase_logo.png" width="46">
    </a>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown active">
          <a href="/functional-site/#" class="dropdown-toggle" data-toggle="dropdown">Narrative <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/functional-site/#/narrative/home/">Newsfeed</a></li>
            <li><a href="/functional-site/#/narrative/home/projects/">Projects</a></li>
          </ul>
        </li>
        <li><a href="/functional-site/#/ws/" id="workspace-link">Workspaces</a></li>
        <li><a href="http://kbase.us/services/docs/uploader/uploader.html">Upload</a></li>
      </ul>

              <form ng-controller="SearchController" ng-submit="startSearch(searchquery)" class="navbar-form navbar-left" role="search" style="width: 40%">
                <div class="input-group">
                    <input class="form-control" ng-model="searchquery" name="search" placeholder=" Search KBase Data" autocomplete="off" type="text"> 
                   <!-- <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>  -->         
                    <div class="input-group-btn">
                        <button class="btn" type="submit" style="background-color: #ebebeb; border-color: #adadad; border-left:none"><span class="glyphicon glyphicon-search" style="line-height: .9"></span></button>
                    </div>
                </div>


                
              </form>
<!--       <form class="navbar-form navbar-left" role="search" style="width: 40%">
        <div class="form-group">
          <div class="input-group">
          <input class="form-control" name="search" placeholder=" Search KBase Data" autocomplete="off" autofocus="autofocus" type="text">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          </div>
        </div>
      </form>
 -->
      <div id="signin-button" class="pull-right"></div>
      <ul class="nav navbar-nav pull-right">
          <li class="dropdown help-dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
                 <ul class="dropdown-menu">
                 <li><a href="http://kbase.us/for-users/narrative-quick-start/" target="_new">Narrative Quick Start Guide</a></li>
                 <li><a href="/functional-site/#/landing-pages-help">Landing Page Documentation</a></li>
                 <li><a href="mailto:help@kbase.us">Email help@kbase.us</a></li>
              </ul></li>
      </ul>
    </div>
</div>

    {% block login_widget %}

    <div id="login-info" class="pull-right">
      <div id="login-widget">
      </div>
      <!--         <span></span>
           <a href="#" onclick="logout();">log out</a>
      -->    </div>

      <div id="login_widget">
        {% if logged_in %}
        <button id="logout">Logout</button>
        {% elif login_available and not logged_in %}
        <button id="login">Login</button>
        {% endif %}
      </div>

      {% endblock %}

<div id="site">
{% block site %}
{% endblock %}
</div>

        <div id="app" class="wrapper" ui-view></div>

        </div> <!-- end wrap, this pushes the footer down -->
            <div id="footer">
              <div class="disclaimer">This site is for demonstration purposes only.</div>
            </div>

<script src="{{ static_url("components/jquery/jquery.min.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("components/jquery-ui/ui/minified/jquery-ui.min.js") }}" type="text/javascript" charset="utf-8"></script>
<!-- <script src="{{ static_url("components/bootstrap/bootstrap/js/bootstrap.min.js") }}" type="text/javascript" charset="utf-8"></script> -->
<script src="{{ static_url("components/bootstrap-3/js/bootstrap.min.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("base/js/namespace.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("base/js/page.js") }}" type="text/javascript" charset="utf-8"></script>

<!-- KBase Narrative Extensions -->
<script src="{{ static_url("kbase/js/jquery.cookie.min.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/kbwidget.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/kbasePromptNew.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/kbaseLoginFuncSite.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/narrativeLogin.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/header.js") }}" type="text/javascript" charset="utf-8"></script>
<!-- End KBase Extensions -->

<script src="{{ static_url("auth/js/loginwidget.js") }}" type="text/javascript" charset="utf-8"></script>

{% block script %}
    {% if use_less %}
        <script src="{{ static_url("components/less.js/dist/less-1.3.3.min.js") }}" charset="utf-8"></script>
    {% endif %}
{% endblock %}

<script src="{{static_url("custom/custom.js") }}" type="text/javascript" charset="utf-8"></script>

</body>

</html>
