

<!DOCTYPE HTML>
{% macro static_url(name) -%}
   {{ base_project_url }}static/{{ name }}
{%- endmacro %}
<html>

<head>
    <meta charset="utf-8">

    <title>{% block title %}KBase Narrative{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{static_url("kbase/images/KBase_favicon.ico") }}">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{static_url("components/jquery-ui/themes/smoothness/jquery-ui.min.css") }}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block stylesheet %}
    {% block lesscss %}
	    {% if use_less %}
	        <link rel="stylesheet/less" href="{{ static_url("style/style.less") }}" type="text/css" />
	    {% else %}
	        <link rel="stylesheet" href="{{ static_url("style/style.min.css") }}" type="text/css"/>
	    {% endif %}
    {% endblock %}
    {% endblock %}
    <link rel="stylesheet" href="{{ static_url("custom/custom.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("kbase/css/kbaseStylesheet.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("kbase/css/narrative.css") }}" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ static_url("kbase/css/kbaseNarrFunc.css") }}" type="text/css" />
    <script src="{{static_url("components/requirejs/require.js") }}" type="text/javascript" charset="utf-8"></script>
    <script>
      require.config({
          baseUrl: '{{static_url() }}',
      });
    </script>

    {% block meta %}
    {% endblock %}

</head>

<body {% block params %}{% endblock %}>

<noscript>
    <div id='noscript'>
      The KBase Narrative requires JavaScript.<br>
      Please enable it to proceed.
  </div>
</noscript>

<!--
<header role="banner">      
    <div id="logo">
        <a href="http://www.kbase.us"><img src="{{static_url("kbase/images/kbase_logo.png")}}" alt="KBase User Home" /></a>
    </div>
    <nav role="navigation">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Personal Data Store</a></li>
            <li id="search_nav">
                    <a href="#">Search</a>
                    <input type="text" name="search_terms" id="search_terms" placeholder="Search the KBase Central Data Store"></input>
                    
                
            </li>
        </ul>
    </nav>
-->
<header id="header_banner" role="banner">
  <div id="navrow" class="row">     
    <div id="logo" class="col-sm-1">
      <a href="http://www.kbase.us"><img src="static/kbase/images/kbase_logo.png" alt="KBase User Home" /></a>
    </div>
    <div class="col-sm-9">
      <nav id="header_nav" role="navigation" class="row">
        <ul>
    	  <li><a href="home.shtml">Home</a></li>
    	  <li><a href="datastore.shtml">My Stuff</a></li>
          <li id="searchlabel"><a href="https://niya.qb3.berkeley.edu/search_client/search_client.html">Search</a><span id="searchspan"><input type="text" class="form-control" name="search_terms" id="search_terms" placeholder="Search the KBase Central Data Store"></input></span></li>
        </ul>
      </nav>
    </div>

    {% block login_widget %}
    
    <div id="login-info" class="pull-right">
      <div id="login-widget">
      </div>
      <!--         <span></span>
           <a href="#" onclick="logout();">log out</a>
      -->    </div>

      <div id="login_widget">
        {% if logged_in %}
        <button id="logout">Logout</button>
        {% elif login_available and not logged_in %}
        <button id="login">Login</button>
        {% endif %}
      </div>

      {% endblock %}
  </div>
</header>



<div id="site">
{% block site %}
{% endblock %}
</div>

<script src="{{ static_url("components/jquery/jquery.min.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("components/jquery-ui/ui/minified/jquery-ui.min.js") }}" type="text/javascript" charset="utf-8"></script>
<!-- <script src="{{ static_url("components/bootstrap/bootstrap/js/bootstrap.min.js") }}" type="text/javascript" charset="utf-8"></script> -->
<script src="{{ static_url("components/bootstrap-3/js/bootstrap.min.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("base/js/namespace.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("base/js/page.js") }}" type="text/javascript" charset="utf-8"></script>

<!-- KBase Narrative Extensions -->
<script src="{{ static_url("kbase/js/jquery.cookie.min.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/kbwidget.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/kbasePrompt.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/kbaseLogin.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/widgets/narrativeLogin.js") }}" type="text/javascript" charset="utf-8"></script>
<!-- End KBase Extensions -->

<!--
<script src = "http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>
<script src="{{ static_url("kbase/js/kbase-ui-min.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/kbase.min.js") }}"  type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("kbase/js/kbase-narrative.js") }}" type="text/javascript" charset="utf-8"></script>
-->

<script src="{{ static_url("auth/js/loginwidget.js") }}" type="text/javascript" charset="utf-8"></script>

{% block script %}
    {% if use_less %}
        <script src="{{ static_url("components/less.js/dist/less-1.3.3.min.js") }}" charset="utf-8"></script>
    {% endif %}
{% endblock %}

<script src="{{static_url("custom/custom.js") }}" type="text/javascript" charset="utf-8"></script>

<div class="whiteout-pane"></div>
</body>

</html>
