.kb-cell-widget {
    margin-bottom: 10px;
}

.kb-app-controls-wrapper {
    margin: 10px 0;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgb(33, 150, 243);
}

.kb-app-controls {
    align-self: flex-end;
}

.kb-app-cell-btn {
    border: 2px solid rgb(33, 150, 243);
    color: rgb(33, 150, 243);
    background-color: #FFF;
    margin-bottom: 2px;
}

.kb-app-cell-btn.selected,
.kb-app-cell-btn:hover,
.kb-app-cell-btn:active {
    background-color: rgb(33, 150, 243);
    border: 2px solid rgb(33, 150, 243);
    margin-bottom: 0;
    border-bottom: 4px solid rgb(33, 150, 243);
    border-radius: 2px 2px 0 0;
    color: #FFF;
}


.kb-app-header-container {
    border-bottom: 1px solid #DDD;
    padding-left: 5px;
}

.kb-app-body {
    padding-left: 5px;
}

.kb-app-cell {
    width: 100%;
    border: 1px solid #CCC;
    /* border-left: 5px solid #CCC; */
    border-radius: 0px;
}

.kb-app-config {
    font-family: 'Oxygen', sans-serif;
}

.kb-app-config-block {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DDD;
}

.kb-app-config-block-title {
    flex-shrink: 0;
    border-bottom: 1px solid #CCC;
    color: #666;
    font-weight: bold;
    padding-bottom: 2px;
}

.kb-app-param {
    padding: 5px;
    color: #666;
    display: flex;
    flex-direction: row;
}

.kb-app-param:hover {
    background-color: #EEE;
}

.kb-app-param-name {
    width: 30%;
    padding-left: 5px;
}

.kb-app-param-field {
    flex-grow: 2;
}

.kb-app-header-title {
    display: flex;
    /* height: 56px; */
}

.kb-app-header-icon {
    flex-shrink: 0;
    width: 56px;
    height: 56px;
}

.kb-app-header-title-text {
    flex-grow: 1;
    line-height: 20px;
    overflow: hidden;
}

.kb-app-header-title-text .title {
    margin-top: 8px;
    font-size: 120%;
    font-family: Oxygen, Arial, sans-serif;
    font-weight: bold;
    color: #2e618d;
}

.kb-app-header-title-text .subtitle {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 90%;
    color: #666;
}

.kb-app-report-summary {
    width: 100%;
    font-family: "Monaco",monospace;
    font-size: 9pt;
    white-space: pre-wrap;
    overflow: auto;
    height: auto;
    max-height: 500px;
}

.kb-app-report-iframe {
    width: 100%;
    height: 500px;
}

.kb-temp-output-cell {
    height: 125px;
    background-color: #DDD;
    padding-top: 50px;
    text-align: center;
}

.kb-temp-data-cell {
    height: 125px;
    background-color: #daedf7;
    padding-top: 50px;
    text-align: center;
}

.kb-external-link > a {
    color: silver;
}

.kb-external-link > a:hover {
    color: #23527B;
}

.kb-author-list {
    font-size: 16px;
    line-height: 20px;
}

.kb-author-list > a {
    color: #555;
}

.kb-author-list > a:hover {
    color: #23527B;
}

.prompt {
    min-width: 0;
}

