/*------------ Contig browser rules --------------*/
/*
 * Styling for the tooltip that pops up when a feature is highlighted.
 */
.kbcb-tooltip {
	position: absolute;
	z-index: 9999999;
	visibility: hidden;
	opacity: 0.8;
	background-color: #222;
	color: #fff;
	padding: 0.5em;
}

/**
 * Adjusts the font size and stroke width of the base-position axis.
 */
.kbcb-widget .kbcb-axis path,
.kbcb-widget .kbcb-axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.kbcb-widget .kbcb-axis text {
    font-family: sans-serif;
    font-size: 11px;
}

/**
 * The classes below control the styling for each of the feature arrows.
 *
 * This order matters!
 * Regular features are all one color
 * Features in an operon shared with the central feature are colored next.
 * The 'center' feature is colored after that.
 * And highlighted features should be colored last (not currently used).
 */
.kbcb-feature {
	stroke: #000;
	fill: #f00;
}

.kbcb-operon {
	fill: #0f0;
}

.kbcb-center {
	fill: #00f;
}

.kbcb-highlight {
	fill: #fff;
}

/**
 * The below controls styling for the (optional) button panel
 */
.kbcb-buttons {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
