/*
For data in KBase workspace
*/
.modal-body {
    max-height: 100%;
}
div[class="tooltip-inner"] {
    max-width: 400px;
    white-space: pre-wrap;
    text-align: left;
}
#kb-ws {
    background-color: #fff;
    width: 100%;
    padding-bottom: 5px;
    height: 425px !important;
}

#data-tabs {
    height: 375px !important;
}

.kb-ws-refresh-btn {
    position: absolute;
    right: 5px;

}

#kb-ws .form-control {
    width: 85%;
    margin: 3px;
}

/* Data table */
.kb-data-table thead{
    max-width: 100%;
    width: 281px;
}
.kb-data-table {
    max-height: 265px;
    width: 100% !important;
}
.kb-data-table tbody tr {
    border-bottom: 1px solid gainsboro;
}

.kb-data-table tbody tr td {
    max-height: 16px;
    padding: 5px;
    font-size: 1em;
    max-width: 100px;
}

.kb-data-table tbody tr:hover, .kb-data-table tbody tr td.highlighted {
    background-color: #F4F5D6;
    cursor: pointer;
}

.kb-data-obj-name {
    text-overflow: ellipsis; 
    overflow:hidden; 
    white-space: nowrap; 
    display: inline-block; 
    max-width: 90%; 
    width: 90%;
}

.kb-data-loading {
    height: 100%
    vertical-align: middle;
    text-align: center
}

.kb-data-loading img {
    vertical-align: middle;
}

#kb-ws .dataTables_filter { display: none; }

.sorting { background: url('../images/sort_both.png') no-repeat center right; }
.sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

.sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }

/* end: data table */