.kbnws-hidden {
	display: none;
}

.kbnws-header {
	border-bottom: 1px solid #aaa;
	padding-top: 10px;
	background-color: #0bb;
	width: 100%;
}

.kbnws-tabs {
	padding-bottom: 0;
	bottom: 0px;
}

.kbnws-tabs li {
	display: inline;
	border: 1px solid black;
	padding: 4px 10px;
	background-color: #ddd;
}

.kbnws-tabs li.kbnws-selected {
	background-color: #fff;
}

.kbnws-viewport {
	height: 150px;
	border: 1px solid #aaa;
	overflow-y: auto;
	position: relative;
}

#data-tab-nav {
	border-bottom: 1px solid #aaa;
	padding-top: 10px;
	background-color: #0bb;
	width: 100%;
}

#data-tab-nav ul {
	padding-bottom: 0;
	bottom: 0px;
	top: 50px;
}

#data-tab-nav ul li {
	display: inline;
	border: 1px solid black;
	padding: 4px 10px;
	background-color: #ddd;
}

.kb-ws-browser-link {
    background-color: #ddd;
    width: 100%;
    color: #099;
}
.kb-ws-browser-link a {
    text-decoration: underline;
    color: #099;
}
.kb-ws-browser-link a:visited {
    color: #099;
}