/* For the "Connecting to KBase.." banner */
#kb-ws-guard.pause {
    position: absolute;
    display: block;
    width: 200px;
    height: 100px;
    left: 200px;
    top: 200px;
    background-color: green;
    color: white;
    width: 100%;
    height: 800px;
    z-index: 99;
}
#main-container.pause {
    display: none;
}
/* Other stuff */
.kbnws-hidden {
	display: none;
}

.kbnws-header {
	border-bottom: 1px solid #aaa;
	padding-top: 10px;
	background-color: #0bb;
	width: 100%;
}

.kbnws-tabs {
	padding-bottom: 0;
	bottom: 0px;
}

.kbnws-tabs li {
	display: inline;
	border: 1px solid black;
	padding: 4px 10px;
	background-color: #ddd;
}

.kbnws-tabs li.kbnws-selected {
	background-color: #fff;
}

.kbnws-viewport {
	height: 150px;
	border: 1px solid #aaa;
	overflow-y: auto;
	position: relative;
}

#data-tab-nav {
	border-bottom: 1px solid #aaa;
	padding-top: 10px;
	background-color: #0bb;
	width: 100%;
}

#data-tab-nav ul {
	padding-bottom: 0;
	bottom: 0px;
	top: 50px;
}

#data-tab-nav ul li {
	display: inline;
	border: 1px solid black;
	padding: 4px 10px;
	background-color: #ddd;
}

/* Currently disabled.. */
.kb-ws-browser-link {
    background-color: #ddd;
    width: 100%;
    color: #099;
}
.kb-ws-browser-link a {
    text-decoration: underline;
    color: #099;
}
.kb-ws-browser-link a:visited {
    color: #099;
}