/*
 * Styles for KBase Narrative notebook page, function panel
 */
 /* Header for panel */
 .kb-function-header {
    padding: 10px 0;
    color: #0064b6;
    font-weight: bold;
    background-color: #b6e9f8;
    text-align: center;
   /* border-radius: 4px; */
    margin-bottom: 3px;
}

.kb-narr-panel-body {
    padding:3px;
}

.kb-narr-panel-toggle {
    margin-right: 4px;
    margin-top: -4px; 
    cursor: pointer;
    color: #ddd;
    -webkit-user-select: none; /* Chrome/Safari */        
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
}

/* Container for func list */
.kb-function-body {
    height: 45%;
    max-height:45%;
    overflow-y: auto;
    width: 100%;
}

.kb-function-body .accordion .panel .panel-body {
    padding: 0px;
    padding-left: 5px;
}

.kb-function-body ul {
    border: 1px solid #dddddd;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.kb-function-body li {
    padding: 5px 5px;
    width: 100%;
    text-align: left;
}

/* alt. rows */
.kb-function-body li:nth-child(odd) {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}
.kb-function-body li:nth-child(even) {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.kb-function-body li:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #F4F5D6;
}


/* Link to a function */
.kb-function-body a {
    text-decoration: none;
}
.kb-function-body a:hover {
    text-decoration: none;
}

.kb-function-error {
    background-color: #f2dede !important;
    color: #b94a48;
    border-color: #eed3d7 !important;
}

/* Help on a function */
.kb-function-help {
    padding: 0 3px;
    float: right;
    cursor: pointer;
    color: #56559e;
    font-size: 14pt;
}

.kb-function-help:hover {
    color: black;
}

.kb-function-help-popup {
    position: absolute;
    top: 0px;
    left: 300px;
    z-index: 99;
    cursor: pointer;
    max-width: 300px;    
}

.kb-function-help-popup h1 {
    margin: 0;
    margin-top: -10px;
    padding: 0;
    font-size: 110%;
    color: #3076A2;
}

.kb-function-help-popup h2 {
    margin: 10px 0 -10px 0;
    padding-top: 5px;
    font-size: 80%;
    color: #999;
    font-style: italic;
    text-align: right;
    font-weight: 100;
}

.kb-function-help-popup .header {
    background-color: #fff;
    color: #3076A2;
    font-weight: bold;
    font-size: 120%;
    margin: 0;
    padding: 0;
}

.kb-function-help-popup a {
    font-weight: bold;
    text-decoration: underline;
}

.kb-function-help-popup .version {
    font-size: 80%;
    color: #666;
}

.kb-function-help-popup .body {
    margin-top: 10px;
    margin-bottom: 10px;
}

#kb-function-help {
    position: absolute;
    top: 400px;
    left: 300px;
    z-index: 99;
    cursor: pointer;
    width: 250px;
}

#kb-function-help h1 {
    margin: 0;
    margin-top: -10px;
    padding: 0;
    font-size: 110%;
    color: #3076A2;
}

#kb-function-help h2 {
    margin: 10px 0 -10px 0;
    padding-top: 5px;
    font-size: 80%;
    color: #999;
    font-style: italic;
    text-align: right;
    font-weight: 100;
}

#kb-function-error-traceback {
    white-space : nowrap;
    float : left;
    max-width : 250px;
    overflow-x : scroll;
}

.kb-function-dim {
    background-color: #444 !important;
    color: #999;
    border-color: #000 !important;
}

.kb-function-dim .panel-heading {
    background-color: #444 !important;
    border-color: #000 !important;
}

.kb-function-cat-dim {
    background-color: #ddd !important;
    border-color: #ddd !important;    
}

.kb-function-cat-dim .panel-heading {
    background-color: #ddd !important;
    border-color: #ddd !important;    
}

.kb-function-toggle {
    color: #0088cc;
    font-style: italic;
    cursor: pointer;
}


/* ------------------------------------------------- */
/* IPython cells */

.kb-cell-run {
    z-index: auto;
    opacity: 1;
}
.kb-cell-run h1 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 12pt;
    line-height: 15px;
    color: #2E618D;
    margin: 3px;
    opacity: inherit;
    display: inline;
}
.kb-cell-run div.kb-func-desc {
    opacity: inherit;
    display: block;
}
.kb-func-desc button {
    margin-left: 10px;
}

.kb-cell-run h2 {
    font-family: 'Roboto';
    font-size: 11pt;
    line-height: 15px;
    color: #666666;
    margin: 3px;
    opacity: inherit;
}
.kb-cell-run form input[type="submit"] {
    float: right;
    opacity: inherit;
    margin-top: 5px;
}
.kb-cell-run form .buttons {
    float: right;
    margin-top: 5px;
}
.kb-cell-params table {
    border: none;
    margin-bottom: 10px;
    opacity: inherit;
    margin-left: auto;
    margin-right: auto;
}
.kb-cell-params table > tr,td {
    border: none;
    vertical-align: middle;
}

.kb-cell-params thead>tr>th, .kb-cell-params  tbody>tr>th, .kb-cell-params  tfoot>tr>th, .kb-cell-params  thead>tr>td, .kb-cell-params  tbody>tr>td, .kb-cell-params  tfoot>tr>td {
    padding: 2px 4px;
}

.kb-cell-params input {
   /* margin-left: 5px;
    margin-top: 5px; */
}
/*.kb-cell-params tr:nth-child(odd) {
    background-color: #eee;
    border-bottom: 1px solid #ddd;    
}
.kb-cell-params tr:nth-child(even) {
    background-color: #fff;
    border-bottom: 1px solid #ddd;    
}*/

.kb-cell-params tr:hover td, .kb-cell-params tr:hover th {
    background:#eee;
}

/* grey out the form while running */
.kb-cell-run.running form {
    opacity: 0.6;
}
/* progress "meter" */
.kb-cell-progress {
    display: none;
}
.kb-cell-progress.running {
    display: block;
}

.kb-cell-progressbar {
    width: 400px;
    height: 20px;
}

.kb-out-desc {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 12pt;
    line-height: 15px;
    color: #2E618D;
    margin: 3px;
    opacity: inherit;
    display: inline;
}

.kb-err-desc {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 12pt;
    line-height: 15px;
    color: #A94442;
    margin: 3px;
    opacity: inherit;
    display: inline;
}

.kb-err-msg {
    font-size: 80% !important;
}

.kb-out-header {
    background-color: #ddd;
    padding: 10px;
}

.kb-func-timestamp {
    color: #555;
    font-size: 10pt;
    font-family: 'Roboto';
}

.kb-func-panel {
  border-color: #bce8f1;
}

.kb-func-panel > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 5px 10px;
}



.kb-func-panel .panel-body {
    padding: 0px 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.kb-func-panel > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #bce8f1;
}

.kb-func-panel > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #bce8f1;
}

.kb-func-panel .panel-footer {
    /*background-color: #fff;
    border-top: none; */
    padding: 2px 15px;
}

/** output cell styling */
.kb-cell-output .panel .panel-heading {
    padding: 5px 10px;
}

.rendered_html .kb-cell-output ul {
    margin: 0 0 10px 0;
}

.kb-cell-output .nav>li>a {
    padding: 5px 10px;
}

.kb-cell-error .panel-heading {
    background-image: none;
    padding: 5px 10px;
}
/*** styling for the jobs manager */
.kb-jobs-title {
    font-family: "OxygenBold", Arial, sans-serif; 
    color: #185A85;
    font-size: 1.2em;
}

.kb-jobs-title .glyphicon-info-sign {
    font-size: 0.9em;
}

.kb-jobs-info-table {
    margin-top: 5px;
    width: 95%;
}

.kb-jobs-info-table th {
    font-family: "OxygenBold", Arial, sans-serif; 
    color: #777;
    vertical-align:top;
    padding-right: 5px;

}

.kb-jobs-item {
    border-bottom: 2px solid #dddddd;
    margin-bottom: 5px;
    padding-bottom: 3px;
}

.kb-jobs-item:last-child {
    border-bottom: none;
}



/** new method parameter styling **/

.kb-method-parameter-row {
   margin:2px;
   padding:5px;
}
/* for some reason, the css :hover doesn't work right on this div, so we use jquery to toggle this class */
.kb-method-parameter-row-hover {
   background:#eee;
}
/* not sure how to get text in these divs to valign middle... */
.kb-method-parameter-name {
   font-family: 'OxygenBold', sans-serif;
   font-weight: bold;
   text-align:right;
}
.kb-method-parameter-input {
}
.kb-method-parameter-hint {
   color: #777;
   text-align:left;
}


/** App styling */

.kb-app-panel {
    border: 15px solid #dddddd;
}

.app-panel-heading {
    padding-top: 20px;
}

.app-panel-heading h1 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 16pt;
    line-height: 15px;
    color: #2E618D;
    margin: 3px;
    opacity: inherit;
    display: inline;
}

.kb-app-func-panel {
    margin-top: 6px;
}

.kb-app-panel-description {
    font-family: 'Roboto';
    font-size: 12pt;
    line-height: 15px;
    color: #2E618D;
    margin: 3px;
}
