@import url("//fonts.googleapis.com/css?family=Roboto");

div#notebook {
    overflow-y: auto;
}

.cell.selected {
    border: #ababab solid;
}

/**
 * Shim to make sure jQuery-ui dialogs are always on front of other DOM elements.
 */
.ui-front {
    z-index: 1000;
}

.whiteout-pane {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    text-align: center;
    z-index: 1001;
}

body {
    font: 1.375em 'OxygenRegular', Arial, sans-serif;
    padding-top: 73px !important;
}

/* header styling */

.notebook_app .navbar-kbase {
    webkit-box-shadow: none;
    box-shadow: none;
    moz-box-shadow: none;
}

header[role="banner"] {
/*  overflow: auto;
    padding: 7px 0 2px 0;
    border-bottom: 1px solid #C0C0C0;
    -moz-box-shadow: inset 0 0 2px #c2c2c2;
    -webkit-box-shadow: inset 0 0 2px #c2c2c2;
    box-shadow: inset 0 0 2px #c2c2c2; */
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #E0E0E0;
    /*-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    box-shadow: 0 1px 10px rgba(0,0,0,.1);*/
    z-index: 999;

}

nav[role="navigation"] ul{
    margin: 1.2em 0 .5em 0;
    /*text-align: center;*/
    padding-left: 0;
}

nav[role="navigation"] ul li {
    display: inline;
    margin: 0 .5em;
    vertical-align: middle;
}

nav[role="navigation"] ul li a {
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'OxygenBold';
    padding: 7px 1em;
    background-color: #5c9531;
    color: #fff;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    border: 1px solid #5c9531;
}

li#searchlabel a{
 }

input#search_terms{
    padding: .4em 1em;
    display: inline;
    border-color: #5c9531;
    position: relative;
    left: -.5em;
    font-size: 1em;
    margin-top: -3px;
    background-image: url("../images/search.png");
    background-size: 22px; 
    background-repeat:no-repeat;
    background-position:right center; 
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
}
span#searchspan{
    display: inline-block;
    width: 50%;
}
@media screen and (max-width: 1170px){
    span#searchspan{width: 50%;} 
}
@media screen and (max-width: 980px){
    span#searchspan{width: 40%;} 
}
@media screen and (max-width: 768px){
    span#searchspan{width: 30%;} 
}
@media screen and (max-width: 590px){
    span#searchspan{width: 60%;}   
}

div#notebook {
    border-top: none;
}

.navbar-kbase {
    border-bottom: 5px solid #E0E0E0 !important;
    padding: 8px;
}

.kb-nav-btn {
    padding: 1px 7px;
    font-size: 24px;
    border: none;
    text-shadow: none !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    moz-box-shadow: none;
    margin: 0;
}

.kb-nav-btn > div {
    color: #666 !important;
}

.kb-nav-btn .kb-nav-btn-txt {
    font-size: 10pt;
    margin-top: -5px;
}

#kb-narr-name {
    font-style: italic;
    font-family: 'OxygenBold';
    font-size: 130%;
    padding-bottom: 7px;
}

#kb-narr-name > #save_widget {
    font-style: normal;
    font-family: 'OxygenRegular';
    padding: 0;
}

#kb-narr-name > #name:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

#kb-narr-creator {
    font-family: 'OxygenBold';
}

.kb-narr-namestamp {
    margin-bottom: 0px;
    margin-top: 5px;
    padding-left: 20px;
    border-left: 2px solid #e0e0e0;
    display: none;
}

.narrative-menu-container {
    position: fixed; 
    z-index: 499;
    background-color: #ffffff;
    width: 100%;
    border-bottom: 1px solid #ababab; 
    padding-bottom: 30px; 
    padding-top: 10px; 
    margin-top: -10px; 
    margin-left: auto
}

p.clear{
    height: 0px;
    clear: both;
}

div#header {
    border-bottom: 1px solid #AAA;
    position: relative;
    padding: 0 0 0 20px;
    height: 56px;
}

p#site-title {
    height: 46px;
    width: 46px;
    background: url("../images/kbase_logo.png") no-repeat;
    background-size: 46px;
    margin: 5px;
    float: left;
    text-indent: -9999px;
}

#login-info {
    position: absolute;
    right: 0px;
    top: 7px;
    margin: 5px;
    font-size: 1.2em;
}

#login-widget button {
    margin-left: 5px;
}

.search-box {
    position: relative;
    display: inline;
    border-collapse: separate;
    margin: -11px 0;
    padding: 10px 1px;
    width: 200px;
}

#search-box-name {
    padding: 6px 0px;
    border: 0;
    border-radius: 4px;
}

#search-box-name:first-child {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#search-box-name:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}





#search-input {
    margin: -11px 0;
}

#search-select {
    margin: -11px 0;
    width: 150px;
}

#search-area {
    position: relative;
    font: 18px 'RobotoBlack', Arial, sans-serif;
    font-weight: normal;
    color: #686868;
    padding: 11px 11px;
    margin: 0 5px;
}

#search-area input {
    padding: 11px 11px;
}


/* center pane */


#notebook_name {
    color: #006698;
    font-family: "OxygenBold", Arial, sans-serif;
}

#content-column {
    height: 100%;
    margin-left: 300px;
}

#workspace {
    position: fixed;
    width: 878px;
    top: 173px;
    bottom: 42px;
    overflow: auto;
}


/* footer */
#bottom-tabs{
    clear: left;
    position : fixed;
    bottom : 0;
    width: 1170px;
    margin: 0 auto;
    background-color: #fff;
    border-top: 1px solid #aaa;
}

#bottom-tabs p a{
    border: 1px solid #018841;
    background-color: #fff;
    padding: 14px 20px;
    font-size: 14px;
}

/* left pane styling */
#left-column {
    width: 300px;
    position: fixed;
    border-right: 5px solid #e0e0e0;
    top: 70px;
    bottom: 0;
    overflow-y: auto;
}

.kb-side-overlay-container {
    width : 50vw;
    /*height: 80vh;*/
    height: 650px;
    border : 1px solid #ababab;
    z-index : 10000;
    background : white;
    position : fixed;
}

.kb-side-overlay-header {
    width: 100%;
    background-color: #428bca;
    color: #fff;
    padding: 6px;
    font-size: 12pt;
}

.kb-side-overlay-close {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 10pt;
}

.kb-side-overlay-close:hover {
    color: orange;
}

.kb-side-panel {
    height: 100%;
    overflow-y: auto;
}

.kb-side-header {
    display: inline-block;
    font-size: 12pt;
    text-align: center;
    border: 6px solid #428bca;
    background-color: #428bca;
    padding: 6px;
    color: #b3d1ea;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.kb-side-header.overlay-active {
    background-color: gray;
    border: 6px solid gray;
}

.kb-side-header:hover {
    border-bottom: 6px solid orange;
}

.kb-side-header.active {
    border-bottom: 6px solid orange;
    color: #fff;
    cursor: auto;
}

.kb-side-tab {
    display: none;
}

.kb-side-tab.active {
    display: inherit;
}

.kb-overlay-dimmer {
    position: fixed;
    z-index: 1030;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: #000;
}

#data-header {
    padding: 10px 0;
    color: #fff;
    font-weight: bold;
    background-color: #099;
}

#data-title {
    text-align: center;
}

#data-add-btn {
    padding: 0 0 -10px 0;
    position: absolute;
    right: 7px;
    font-size: 0.8em;
}

#data-add-btn:hover {
    color:#000;
}

#data-tab-nav {
    border-bottom: 1px solid #aaa;
    padding-top: 10px;
    background-color: #0bb;
    width: 100%;
}

#data-tab-nav ul {
    padding-bottom: 0;
    bottom: 0px;
    top: 50px;
}

#data-tab-nav ul li {
    display: inline;
    border: 1px solid black;
    padding: 4px 10px;
    background-color: #ddd;
}

#data-tab-nav ul li a:hover {
    text-decoration: none;
    color: #a00;
}

#data-tab-nav ul li a {
    color: #000;
}

#data-tab-nav ul li.selected {
    background-color: #fff;
}

#data-view-panel {
    height: 150px;
    border: 1px solid #aaa;
    padding: 10px;
    overflow-y: auto;
}

#data-pane {
    height: 69%;
    margin-top: 1px;
    border-bottom: 1px solid #AAA;
    overflow: auto;
}
#data-pane p{
    margin: 0px 0;
}
#data-pane p span{
    display: block;
    padding: 2px 10px;
    color: #fff;
    border: 1px solid #fff;
    width: 123px;
    margin: 0;
    text-align: center;
}
#data-pane p span.tab1{
    float: right;
    background: -moz-linear-gradient(top, #666, #bbb);
    background: -webkit-linear-gradient(top, #666, #bbb);
    color: #fff;
}
#data-pane p span.tab2{
    background: -moz-linear-gradient(top, #ccc, #999);
    background: -webkit-linear-gradient(top, #ccc, #999);
}
#function-pane {
    height: 30%;
    margin-top: 1px;
    overflow: auto;
}

.left-pane {
    font-size: 14px;
    position: relative;
}

#kb-function-panel .kb-function-body {
    height: 100% ;
    max-height: 100% ;
}

h3.pane-title {
    margin: 0;
    position: relative;
    background-color: rgb(224,224,224);
    padding: 3px 5px;
    border: 1px solid #C2C2C2;
    font-size: 16px;
}

#add-link {
    position: absolute;
    top: 4px;
    right: 7px;
    font-size: 0.8em;
}

ul.pane-list {
    margin: 0;
    padding : 2px
}

ul.pane-list li {
    list-style: none;
    padding: 1px;
    margin-left: 5px;
}

.kb-method-list-logo {
    width:  30pt;
    height: 30pt;
    color:  #fff;
    background-color: #607D8B;
    border-style:  solid;
    border-width:  0px;
    border-color:  #555;
    text-align: center;
    display: inline-block;
    padding-top: 6pt;
    font-size: 18pt;
    font-weight: bold;
    text-shadow: -1px 0 #777, 0 1px #777, 1px 0 #777, 0 -1px #777;
    cursor: pointer;
}

.kb-method-list-logo:hover {
	border-width: 5px;
	padding-top: 2.5pt;
}

.kb-method-list-more-div {
    color:#777;
    font-size: 10pt;
    margin: 2px;
    text-align: justify;
}

.kb-method-list-more-div > div:nth-child(2) {
	text-align: right;
}

/* A function in the function pane */
li.function a {
    text-decoration: none;
    color: rgb(80,130,50);
}
li.function a:visited {
    /* don't recolor */
    color: rgb(80,130,50);
}
/* dataset in data pane */
li.dataset a {
    text-decoration: none;
    color: rgb(130,80,50);
}
li.dataset a:visited {
    /* don't recolor */
    color: rgb(130,80,50);
}


/* dialog box + forms styling */

.dialog-box {
    padding: 20px;
}

.dialog-box ul li {
    padding: 50px 5px;
    border-bottom: 1px solid #AAA;
    font-size: 1.2em;
}

.dialog-box ul li:first-child { 
    padding-top: 20px;
}

.dialog-box ul li:last-child {  
    border-bottom: none;
}

fieldset {
    margin: 0 0 15px 0;
    border: none;
}

fieldset label {
/*  display: block;
*/  margin: 0 0 3px 0;
    font-weight: bold;
    font-size: 1em;
    
}

fieldset input[type="text"], fieldset select {
    width: 200px;
}
fieldset input[type="password"], fieldset select {
    width: 200px;
}

/* styling of cells */

div.dataset-cell, div.function-cell {
    width: 90%;
    margin: 3px auto;
    padding: 7px 17px;
    border: 1px solid #ccc;
}
img.dataset-cell{
    margin: 3px auto;
    padding: 0;
}
.function-cell{
    background-image: url("../images/gears.png");
    background-position: right;
    background-repeat: no-repeat;
    #background-color: #f2f2f2;
}
.dataset-cell p, .function-cell p {
    font-size: .875em;
}
.dataset-cell h2, .function-cell h2{
    margin-bottom: 0;
    font-size: 1.1em;
}
.textcell{
    width: 90%;
    margin: 3px auto;
    padding: 5px 17px;
    font-size: 1em;
    height: 1em;
    border: 2px solid #fff;
    color: #111;
}

.textcell:hover{
    border: 2px dotted #ccc;
}

p.textcuepara{
    color: #ccc;
    padding: 0;
    margin: 0;
    height: 1em;
    display: none;
}

div.tools p, div.texttools p{
    margin: 0;
}
div.textarea{
    width: 650px;
    border: none;
    padding: 0;
    height: auto;
    min-height: 1.2em;
    display: none;
}
.tools, .texttools{
    display: none;
}
.tools{
    height: 1em;
    margin-top: .5em;
    margin-left: 10px;
}
.tools a{
    border: 1px solid #018841;
    padding: 2px 4px;
    font-size: 13px;
}

#narrative-header .tools{
    display: block;
    width: 30em;
    position: relative;
    top: -2.0em;
    left: 350px;
}
.texttools img{
    vertical-align: middle;
}
img.remove{
    float: right;
}
.ui-state-highlight{
    background-color: fbfaed;
}
div.metadata{
    display: block;
    width: 200px;
    padding: 0 10px;
    height: 100px;
    float: left;
}
div.social{
    float: right;
    display: block;
    width: 80px;
    padding: 0 10px;
    display: none;
}
p span.notification{
    background-color: #ff3333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 1em;
}


/**
 * Bootstrap 3 submenu hack^H^H^H^H fix
 * http://stackoverflow.com/questions/18023493/bootstrap-3-dropdown-sub-menu-missing
 */

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/** End Bootstrap 3 submenu fix **/


/* Fixes to bring toolbars up to Bootstrap 3 */
#maintoolbar {
    position: relative;
    top: 5px;
    min-height: 0;
    border: none !important;
    background-image: none !important;
    background-color: #f9f9f9 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#maintoolbar-container {
    margin-left: 10px;
}

#menubar {
    position: absolute;
    width: 100%;
    top: 3px;
    background-color: #f9f9f9;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

#menubar .navbar {
    margin-bottom: 5px;
}

#menubar .navbar .container {
    padding-left: 0;
    padding-right: 0;
}

/* some more bootstrap hacks */
.navbar {
    min-height: 0;
    background-image: none;
    background-color: #f8f8f8;
}

#menubar .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 7px;
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    background-image: none;
}

.panel-default>.panel-heading {
    background-image: none;
}

.btn-default {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);   
}

.btn-group {
    margin-right: 5px;
}

#menus {
    padding-left: 0px;
}

#menubar .navbar  {
    width: 100%;
}

div#notebook_panel {
    -webkit-box-shadow: none; /*0 -1px 0px rgba(0, 0, 0, 0.1);*/
    -moz-box-shadow: none; /*0 -1px 0px rgba(0, 0, 0, 0.1); */
    box-shadow: none; /* 0 -1px 0px rgba(0, 0, 0, 0.1); */
}

.version-stamp a {
    padding-right: 320px;
    text-align: right;
    color: #0088CC !important;
}

.creator-stamp {
    padding-right: 320px;
    height: 1em;
    text-align: right;
    color: #006698;
    font-size: 120%;
    line-height: 1em;
    font-family: "OxygenBold", Arial, sans-serif;
}

.panel {
    margin-bottom: 0px;
}

#kb-jobs-panel {
    margin-bottom: 5px;
}

.kb-narr-side-panel {
    margin-bottom: 5px;
}

.kb-narr-side-panel .kb-title {
    padding: 10px 5px;
    font-size: 14pt;
    font-family: "OxygenBold", Arial, sans-serif;
    text-transform: uppercase;
    color: #2e618d;
    border-bottom: 1px solid #e0e0e0;
}

/* From user and job state service */

.kbujs-table-container {
    height: auto;
}

.kbujs-timestamp {
    color: #0066b9;
    cursor: pointer;
}

.kbujs-error-cell {
    color: #c7254e;
    font-weight: bold;
}

.kbujs-error:hover {
    cursor: pointer;
}

.kbujs-loading-modal {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.kbujs-refresh-btn {
    position: absolute;
    right: 5px;
}

.kbujs-jobs-table {
    margin-left: auto !important;
    margin-right: auto !important;
}

.kbujs-loading {
    height: 100%
    vertical-align: middle;
    text-align: center
}

.kbujs-delete-job {
    cursor: pointer;
}

.kbujs-error-traceback {
    white-space : nowrap;
    float : left;
    max-width : 516px;
    max-height: 250px;
    overflow-x : scroll;
    overflow-y: scroll;
}

/* For connecting lines */
.kb-line {
    background-color: lightgrey;
    position: absolute;
}



/* tab.js */

.nav-tabs .glyphicon-remove {
    margin: 0 0 0 3px;
    color: #aaa;
}
.nav-tabs .glyphicon-remove:hover {
    color: #666;
    cursor: hand;
    cursor: pointer;
}

/**
 ** Formerly in kbaseNarrFuncResults.css
 **/

/* CSS for various narrative function results.
 * This is just a hacky, dummy place to dump css for different
 * result widgets. Something better will come along, once we burn
 * this down...
 */

/* Somehow a bunch of classes from jQuery.dataTables aren't getting added.
 * Putting them here in the hopes they don't clobber anything else, the way 
 * the rest of dataTables might...
 */
.paging_full_numbers {
    height: 22px;
    line-height: 22px;
}
.paging_full_numbers a:active {
    outline: none
}
.paging_full_numbers a:hover {
    text-decoration: none;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
}

.paging_full_numbers a.paginate_button {
    background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
    background-color: #ccc;
    text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
    background-color: #99B3FF;
}

/** End kbaseNarrFuncResults.css **/

/*****************************************************************************
 ** Formerly in kbaseNarrFunc.css
 *****************************************************************************/
/*
 * Styles for KBase Narrative notebook page, function panel
 */
 /* Header for panel */
 .kb-function-header {
    padding: 10px 0;
    color: #0064b6;
    font-weight: bold;
    background-color: #b6e9f8;
    text-align: center;
    margin-bottom: 3px;
}

.kb-narr-panel-body {
    padding: 3px;
    overflow-y: auto;
}

.kb-narr-panel-toggle {
    margin-right: 4px;
    margin-top: -4px; 
    cursor: pointer;
    color: #888;
    -webkit-user-select: none; /* Chrome/Safari */        
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
}

/* Container for func list */
.kb-function-body {
    height: 45%;
    max-height:45%;
    overflow-y: auto;
    width: 100%;
}

.kb-function-body .accordion .panel .panel-body {
    padding: 0px;
    padding-left: 5px;
}

.kb-function-body ul {
    border: 1px solid #dddddd;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.kb-function-body li {
    padding: 5px 5px;
    width: 100%;
    text-align: left;
}

/* alt. rows */
.kb-function-body li:nth-child(odd) {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}
.kb-function-body li:nth-child(even) {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.kb-function-body li:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #F4F5D6;
}


/* Link to a function */
.kb-function-body a {
    text-decoration: none;
}
.kb-function-body a:hover {
    text-decoration: none;
}

.kb-function-error {
    background-color: #f2dede !important;
    color: #b94a48;
    border-color: #eed3d7 !important;
}

/* Help on a function */
.kb-function-help {
    padding: 0 3px;
    float: right;
    cursor: pointer;
    color: #56559e;
    font-size: 14pt;
}

.kb-function-help:hover {
    color: black;
}

.kb-function-help-popup {
    position: absolute;
    top: 0px;
    left: 300px;
    z-index: 99;
    cursor: pointer;
    max-width: 300px;    
}

.kb-function-help-popup h1 {
    margin: 0;
    margin-top: -10px;
    padding: 0;
    font-size: 110%;
    color: #3076A2;
}

.kb-function-help-popup h2 {
    margin: 10px 0 -10px 0;
    padding-top: 5px;
    font-size: 80%;
    color: #999;
    font-style: italic;
    text-align: right;
    font-weight: 100;
}

.kb-function-help-popup .header {
    background-color: #fff;
    color: #3076A2;
    font-weight: bold;
    font-size: 120%;
    margin: 0;
    padding: 0;
}

.kb-function-help-popup a {
    font-weight: bold;
    text-decoration: underline;
}

.kb-function-help-popup .version {
    font-size: 80%;
    color: #666;
}

.kb-function-help-popup .body {
    margin-top: 10px;
    margin-bottom: 10px;
}

#kb-function-help {
    position: absolute;
    top: 400px;
    left: 300px;
    z-index: 99;
    cursor: pointer;
    width: 250px;
}

#kb-function-help h1 {
    margin: 0;
    margin-top: -10px;
    padding: 0;
    font-size: 110%;
    color: #3076A2;
}

#kb-function-help h2 {
    margin: 10px 0 -10px 0;
    padding-top: 5px;
    font-size: 80%;
    color: #999;
    font-style: italic;
    text-align: right;
    font-weight: 100;
}

#kb-function-error-traceback {
    white-space : nowrap;
    float : left;
    max-width : 250px;
    overflow-x : scroll;
}

.kb-function-dim {
    background-color: #444 !important;
    color: #999;
    border-color: #000 !important;
}

.kb-function-dim .panel-heading {
    background-color: #444 !important;
    border-color: #000 !important;
}

.kb-function-cat-dim {
    background-color: #ddd !important;
    border-color: #ddd !important;    
}

.kb-function-cat-dim .panel-heading {
    background-color: #ddd !important;
    border-color: #ddd !important;    
}

.kb-function-toggle {
    color: #0088cc;
    font-style: italic;
    cursor: pointer;
}


/* ------------------------------------------------- */
/* IPython cells */

.kb-cell-run {
    z-index: auto;
    opacity: 1;
}
.kb-cell-run h1 {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 12pt;
    line-height: 15px;
    color: #2E618D;
    margin: 3px 13px 3px 3px;
    opacity: inherit;
    display: inline;
}
.kb-cell-run div.kb-func-desc {
    opacity: inherit;
    display: block;
}

.kb-cell-run h2 {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 11pt;
    line-height: 150%;
    color: #666666;
    margin: 3px;
    opacity: inherit;
}
.kb-cell-run form input[type="submit"] {
    float: right;
    opacity: inherit;
    margin-top: 5px;
}
.kb-cell-run form .buttons {
    float: right;
    margin-top: 5px;
}
.kb-cell-params table {
    border: none;
    margin-bottom: 10px;
    opacity: inherit;
    margin-left: auto;
    margin-right: auto;
}
.kb-cell-params table > tr,td {
    border: none;
    vertical-align: middle;
}

.kb-cell-params thead>tr>th, .kb-cell-params  tbody>tr>th, .kb-cell-params  tfoot>tr>th, .kb-cell-params  thead>tr>td, .kb-cell-params  tbody>tr>td, .kb-cell-params  tfoot>tr>td {
    padding: 2px 4px;
}

.kb-cell-params input {
   /* margin-left: 5px;
    margin-top: 5px; */
}
/*.kb-cell-params tr:nth-child(odd) {
    background-color: #eee;
    border-bottom: 1px solid #ddd;    
}
.kb-cell-params tr:nth-child(even) {
    background-color: #fff;
    border-bottom: 1px solid #ddd;    
}*/

.kb-cell-params tr:hover td, .kb-cell-params tr:hover th {
    background:#eee;
}

/* grey out the form while running */
.kb-cell-run.running form {
    opacity: 0.6;
}
/* progress "meter" */
.kb-cell-progress {
    display: none;
}
.kb-cell-progress.running {
    display: block;
}

.kb-cell-progressbar {
    width: 400px;
    height: 20px;
}

.kb-out-desc {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 12pt;
    line-height: 15px;
    color: #2E618D;
    margin: 3px;
    opacity: inherit;
    display: inline;
}

.kb-err-desc {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 12pt;
    line-height: 15px;
    color: #A94442;
    margin: 3px;
    opacity: inherit;
    display: inline;
}

.kb-err-msg {
    font-size: 80% !important;
}

.kb-out-header {
    background-color: #ddd;
    padding: 10px;
}

.kb-func-timestamp {
    color: #555;
    font-size: 10pt;
    font-family: 'Roboto';
}

.kb-func-panel {
  border-color: #bce8f1;
}

.kb-func-panel > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 5px 10px;
}



.kb-func-panel .panel-body {
    padding: 0px 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.kb-func-panel > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #bce8f1;
}

.kb-func-panel > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #bce8f1;
}

.kb-func-panel .panel-footer {
    /*background-color: #fff;
    border-top: none; */
    padding: 2px 15px;
}

/** output cell styling */
.kb-cell-output .panel .panel-heading {
    padding: 5px 10px;
}

.rendered_html .kb-cell-output ul {
    margin: 0 0 10px 0;
}

.kb-cell-output .nav>li>a {
    padding: 5px 10px;
}

.kb-cell-error .panel-heading {
    background-image: none;
    padding: 5px 10px;
}
/*** styling for the jobs manager */
.kb-jobs-title {
    font-family: "OxygenBold", Arial, sans-serif; 
    color: #185A85;
    font-size: 1.2em;
}

.kb-jobs-title .glyphicon-info-sign {
    font-size: 0.9em;
}

.kb-jobs-info-table {
    margin-top: 5px;
    width: 95%;
}

.kb-jobs-info-table th {
    font-family: "OxygenBold", Arial, sans-serif; 
    color: #777;
    vertical-align:top;
    padding-right: 5px;

}

.kb-jobs-item {
    border-bottom: 2px solid #dddddd;
    margin-bottom: 5px;
    padding-bottom: 3px;
}

.kb-jobs-error {
    background-color: #f2dede;
}

.kb-jobs-item:last-child {
    border-bottom: none;
}



/** new method parameter styling **/
.kb-method-parameter-panel {
   border-left: 3px solid #fff;
}
.kb-method-parameter-panel-hover {
   border-left: 3px solid #428bca;
}
.kb-method-parameter-row {
   margin:0px;
   padding:5px;
   border-radius:5px;
}
/* for some reason, the css :hover doesn't work right on this div, so we use jquery to toggle this class */
.kb-method-parameter-row-hover {
   background:#eee;
}

.kb-method-parameter-row-error {
   background: #f2dede;
}
.kb-method-parameter-error-mssg {
   padding:5px;
   text-align:center;
   font-family: 'OxygenBold', sans-serif;
   font-weight: bold;
   font-size: 9pt;
   color:#d44950;
}


/* not sure how to get text in these divs to valign middle... */
.kb-method-parameter-name {
   font-family: 'OxygenBold', sans-serif; 
   color:#777;
   text-align:right;
   vertical-align:middle;
   margin-top:3px;
   padding-right:0px;
   padding-left:0px;
}
.kb-method-parameter-input {
   vertical-align:middle;
   white-space: nowrap;
   padding-left:10px;
}
.kb-method-parameter-input input {
   font-weight: bold;
}
.kb-parameter-data-selection {
   font-weight: bold;
}

.kb-method-parameter-hint {
   color: #777;
   text-align:left;
   margin-top:3px;
}

.kb-method-parameter-required-glyph {
   color: #d44950;
   margin-left:7px;
}
.kb-method-parameter-accepted-glyph {
   color: #5cb85c;
   margin-left:7px;
}

.kb-parameter-data-row-remove {
   color: #777;
}
.kb-parameter-data-row-add {
   color: #777;
}


.kb-method-advanced-options-controller-inactive {
   font-family: 'OxygenBold', sans-serif; 
   font-style: italic;
   font-size: 10pt;
   line-height: 14px;
   color: #777;
   text-align: center;
}
.kb-method-advanced-options-controller {
   font-family: 'OxygenBold', sans-serif; 
   cursor:pointer;
   font-style: italic;
   font-size: 10pt;
   line-height: 14px;
   color: #0088cc;
   text-align: center;
}
.kb-method-advanced-options-controller:hover {
    color: #2a6496;
}


/** App styling */

.kb-app-panel {
    border: 15px solid #dddddd;
}

.app-panel-heading {
    padding-top: 20px;
}

.app-panel-heading h1 {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 16pt;
    line-height: 15px;
    color: #2E618D;
    margin: 3px;
    opacity: inherit;
    display: inline;
}
.kb-app-step-container {
    margin-top: 6px;
}

.kb-app-func-panel {
}

.kb-app-panel-description {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 12pt;
    line-height: 15px;
    color: #2E618D;
    margin: 3px;
}
.kb-app-step-error-mssg {
   font-family: sans-serif; 
   font-size: 11pt;
   line-height: 14px;
   color: #A63232;
   text-align: left;
   pading-left:30px;
   margin:10px;
}
.kb-app-step-error-heading {
   font-family: 'OxygenBold', sans-serif; 
   font-size: 13pt;
   line-height: 14px;
   color: #555;
   text-align: left;
   padding-left:5px;
   margin-top:20px;
}
.kb-app-step-error-main-heading {
   font-family: 'OxygenBold', sans-serif; 
   font-size: 16pt;
   line-height: 18px;
   color:#555;
   /*background:#f2dede;*/
   text-align: left;
   padding-left:20px;
   margin-top:20px;
}

.kb-app-step-running {
    border: 3px solid #d14836;
    border-radius: 5px;
    z-index: auto;
    /*animation: pulse 1s ease infinite;
    -webkit-animation: pulse 1s ease infinite; */
    /*opacity: 0.7;*/
}

@-webkit-keyframes pulse {
  0% { opacity: 1.0; }
  50% { opacity: 0.7; }
  100% { opacity: 1.0; }
}

@keyframes pulse {
  0% { opacity: 1.0; }
  50% { opacity: 0.7; }
  100% { opacity: 1.0; }
}

/***********
 * END of kbaseNarrFunc.css
 ***********/


/*********
 * From kbaseData.css
 *********/
/*
For data in KBase workspace
*/
.modal-body {
    max-height: 100%;
}
div[class="tooltip-inner"] {
    max-width: 400px;
    white-space: pre-wrap;
    text-align: left;
}
.tooltip {
    z-index: 2000 !important;
}

.kb-data-main-panel {
    height: 100%;
    margin-bottom: 5px;
    max-height: 425px;
}

#kb-ws {
/*    background-color: #fff;
    width: 100%;
    padding-bottom: 5px;
    height: 425px !important;
*/}

#data-tabs {
    height: 375px !important;
}

.kb-ws-refresh-btn {
    position: absolute;
    right: 5px;

}

#kb-ws .form-control {
    width: 85%;
    margin: 3px;
}

.kb-data-control {
    width: 95%;
}

/* Data table */
.kb-data-table thead{
    max-width: 100%;
    width: 281px;
}
.kb-data-table {
    max-height: 265px;
    width: 100% !important;
}
.kb-data-table tbody tr {
    border-bottom: 1px solid gainsboro;
}

.kb-data-table tbody tr td {
    max-height: 16px;
    padding: 5px;
    font-size: 1em;
    max-width: 100px;
}

.kb-data-table tbody tr:hover, .kb-data-table tbody tr td.highlighted {
    background-color: #F4F5D6;
    cursor: pointer;
}

.kb-data-obj-name {
    text-overflow: ellipsis; 
    overflow:hidden; 
    white-space: nowrap; 
    display: inline-block; 
    max-width: 88%; 
}

.kb-data-loading {
    height: 100%;
    vertical-align: middle;
    text-align: center
}

.kb-data-loading img {
    vertical-align: middle;
}

#kb-ws .dataTables_filter { display: none; }

.sorting { background: url('../images/sort_both.png') no-repeat center right; }
.sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

.sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }

/* end: data table */

/* data list */
.kb-data-list-obj-row {
    width:100%;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #999;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #fff;
    color:#333;
    margin:2px;
    padding:4px;
}
.kb-data-list-obj-row-main {
    width:100%;
    margin:0px;
    padding:0px;
}

/* again the css hover over div inherits strangly, so we use js */
.kb-data-list-nav-buttons {
    padding: 5px 8px;
    font-size: 18px;
    border: none;
    text-shadow: none !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    moz-box-shadow: none;
    margin: 0;
}

.kb-data-list-get-data-button {
    /*border: none;
    border-radius: 0;
    text-shadow: none !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    moz-box-shadow: none;*/
}

.kb-data-list-obj-row:hover {
    /*background-color: #eee;*/
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #FFC107;
}
.kb-data-list-logo {
    width:  30pt;
    height: 30pt;
    color:  #fff;
    background-color: #607D8B;
    border-radius: 50%;
    border-style:  solid;
    border-width:  0px;
    border-color:  #555;
    text-align: center;
    display: inline-block;
    padding-top: 6pt;
    font-size: 18pt;
    font-weight: bold;
    text-shadow: -1px 0 #777, 0 1px #777, 1px 0 #777, 0 -1px #777;
}

.kb-data-list-info {
}
.kb-data-list-name {
    color:#2e618d;
    font-size: 11pt;
    font-weight: bold;
    white-space: nowrap;
    margin: 2px;
}
.kb-data-list-version {
    color:#777;
    font-size: 9pt;
    font-style: italic;
    white-space: nowrap;
    margin: 2px;
}
.kb-data-list-type {
    color:#777;
    font-size: 10pt;
    margin: 2px;
    margin-left: 15px;
}
.kb-data-list-date {
    color:#777;
    font-size: 10pt;
    margin: 2px;
    margin-left: 15px;
    white-space: nowrap;
}
.kb-data-list-more-btn {
    padding: 2px 4px;
    font-size: 12px;
    border: none;
    text-shadow: none !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    moz-box-shadow: none;
    margin: 0;
}
.kb-data-list-more-div {
    color:#777;
    font-size: 10pt;
    margin: 2px;
}
.kb-data-list-more-div tr {
    color:#777;
    font-size: 10pt;
    margin: 2px;
}
.kb-data-list-more-div tr:hover {
    background-color: #eee;
}
.kb-data-list-more-div tr:nth-child(odd) {
    background-color: #F5F5F5;
}
.kb-data-list-more-div tr:hover:nth-child(odd) {
    background-color: #eee;
}
.kb-data-list-more-div th {
    color:#777;
    font-size: 10pt;
    font-weight: bold;
    text-align: right;
    margin: 2px;
}
.kb-data-list-more-div td {
    color:#777;
    font-size: 10pt;
    text-align: left;
    margin: 2px;
    padding-left: 8px;
}


/* end data list*/



/* share panel styles */
.kb-share-user-permissions-dropdown {
    border-style:none;
    text-shadow: none !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    moz-box-shadow: none;
    padding:2px;
    width:auto;
    height:auto;
}




/* End kbaseData.css */



/* styling for data import overlay  */

.kb-side-overlay-container {

}

.kb-import-content {
    position:relative;
    margin: 0 0 0 20px;
    overflow-x: hidden; 
    overflow-y: auto; 
    height: 480px; 
    display: block;
}

.kb-overlay-footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 70px;
    border: 1px solid #f5f5f5;
}

.kb-overlay-footer .btn-primary {
    margin: 20px;
}


.kb-import-search {
    margin: 10px 40px 10px 10px;
}

.kb-import-filter {
    margin: 10px 40px 10px 10px;
}


.kb-import-item {
    margin: 0 0 20px 0px;
}

.kb-import-item hr {
    width: 600px;
    border: 2px solid #eaeaea;
}

.kb-import-item input[type="checkbox"] {
    margin: 15px 30px 15px 0px;
}

.kb-import-info {
    display: inline-block;
    margin: 10px 20px 0 0;
}

.kb-import-info span {
    font-size: .9em;
    font-weight: 700;
    color: #999;
}

.kb-import-info {
    font-weight: 
}

.kb-import-status {
    margin: 20px;
}

.loader {

}

