/*
 * Styles for KBase Narrative notebook page, function panel
 */
 /* Header for panel */
 .kb-function-header {
    padding: 10px 0;
    color: #0064b6;
    font-weight: bold;
    background-color: #b6e9f8;
    text-align: center;
   /* border-radius: 4px; */
    margin-bottom: 3px;
}

/* Container for func list */
.kb-function-body {
    border: 1px solid #dddddd;
    padding: 10px;
    overflow-y: auto;
}

/* List of functions */
.kb-function-body {
    padding: 0;
    height: 300px;
    overflow: auto;
    /*border: 0;*/
}
.kb-function-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.kb-function-body li {
    padding: 5px 5px;
}
/* alt. rows */
.kb-function-body li:nth-child(odd) {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}
.kb-function-body li:nth-child(even) {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

/* Link to a function */
.kb-function-body a {
    text-decoration: none;
}
.kb-function-body a:hover {
    text-decoration: none;
}

/* Help on a function */
.kb-function-help {
    font-family: Arial sans-serif;
    background-color: #c1da31;
    color: white;
    padding: 0 3px;
    float: right;
}
#kb-function-help {
    position: absolute;
    top: 400px;
    left: 300px;
    z-index: 99;
}

#kb-function-help h1 {
    margin: 0;
    margin-top: -10px;
    padding: 0;
    font-size: 110%;
    color: #3076A2;
}

#kb-function-help h2 {
    margin: 10px 0 -10px 0;
    padding-top: 5px;
    font-size: 80%;
    color: #999;
    font-style: italic;
    width: 100%
    text-align: right;
    font-weight: 100;
}

/* ------------------------------------------------- */
/* IPython cells */

.kb-cell-run {
    z-index: auto;
    opacity: 1;
    border: 1px solid #aaa;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 5px;
}
.kb-cell-run h1 {
    font-family: 'Roboto';
    font-size: 12pt;
    line-height: 15px;
    color: #0D7876;
    margin: 3px;
    opacity: inherit;
}
.kb-cell-run form input[type="submit"] {
    float: right;
    opacity: inherit;
    margin-top: 5px;
}
.kb-cell-params table {
    border: none;
    margin-bottom: 10px;
    opacity: inherit;
    margin-left: auto;
    margin-right: auto;
}
.kb-cell-params table > tr,td {
    border: none;
}

.kb-cell-params input {
    margin-left: 5px;
    margin-top: 5px;
}
.kb-cell-params tr:nth-child(odd) {
    background-color: #eee;
    border-bottom: 1px solid #ddd;    
}
.kb-cell-params tr:nth-child(even) {
    background-color: #fff;
    border-bottom: 1px solid #ddd;    
}
/* grey out the form while running */
.kb-cell-run.running form {
    opacity: 0.6;
}
/* progress "meter" */
.kb-cell-progress {
    display: none;
}
.kb-cell-progress.running {
    display: block;
}