<div class="panel panel-primary kb-panel-light">
    <div class="panel-heading">
        <div class="panel-title">
            <span>Input</span>
        </div>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="form-horizontal kb-app-parameter-row parameter-panel">
                <div class="form-group kb-app-parameter-input field-panel">
                    <label class="col-md-3 kb-app-parameter-name control-label">Set Name</label>
                    <div class="input-group col-md-9">
                        <input type="text" id="set-name" placeholder="Enter Set name" style="width:100%">
                        <div class="input-group-addon" style="width:30px; padding:0"></div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal kb-app-parameter-row parameter-panel">
                <div class="form-group kb-app-parameter-input field-panel">
                    <label class="col-md-3 kb-app-parameter-name control-label">Description</label>
                    <div class="input-group col-md-9">
                        <input type="text" id="set-desc" placeholder="Describe this Set" style="width:100%">
                        <div class="input-group-addon" style="width:30px; padding:0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
