{% extends "page.html" %}

{% block login_widget %}
{% endblock %}

{% block stylesheet %}
{{super()}}
    <link rel="stylesheet" href="{{ static_url("kbase/css/errorPage.css") }}" type="text/css" />
{% endblock %}

{% block loading_message %}
{% endblock %}

{% block narrative_menu %}
{% include 'basic_header.html' %}
{% endblock %}

{% block site %}

<div id="error_container" class="access-error__container" data-code={{status_code}}>
    <p class="access-error__heading">You do not have permission to access this Narrative.</p>
    <p class="access-error__text">You can request access from the Narrative owners using the controls below.</p>

    <div id="perm-request" class="form-group form-inline access-request-form__container">
        <label for="req-level">Access Level</label>
        <select id="req-level" class="form-control">
            <option value="r">View only</option>
            <option value="w">Edit and save</option>
            <option value="a">Edit, save, and share</option>
        </select>
        <button id="req-btn" type="button" class="btn btn-sm btn-primary">Request</button>
    </div>
    <div id="loader" class="access-request-progress__container">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>
    <div id="request-result" class="access-request-result"></div>
</div>

{% endblock %}

{% block script %}
{{super()}}
<script src="{{ static_url("errorMain.js") }}" charset="utf-8"></script>
{% endblock %}
