{% extends "page.html" %}

{% block login_widget %}
{% endblock %}

{% block stylesheet %}
{{super()}}
    <link rel="stylesheet" href="{{ static_url("kbase/css/errorPage.css") }}" type="text/css" />
{% endblock %}

{% block loading_message %}
{% endblock %}

{% block narrative_menu %}
{% include 'basic_header.html' %}
{% endblock %}

{% block site %}

<div id="error_container" class="generic-error__container" data-code={{status_code}}>
    {% block h1_error %}
    <p class="generic-error__heading">
        An error occurred while loading this Narrative
    </p>
    {% endblock h1_error %}
    {% block error_detail %}
        {% if message %}
            <p class="generic-error__text">{{message}}</p>
        {% endif %}
    {% endblock %}
</div>

{% endblock %}

{% block script %}
{{super()}}
<script src="{{ static_url("errorMain.js") }}" charset="utf-8"></script>
{% endblock %}
