<div style="width:100%; border: 1px solid #EEE; margin: 2px 0" class="file-row">
        <span class="preview"><img data-dz-thumbnail/></span>
    <span>
        <p class="name" data-dz-name></p>
        <strong class="error text-danger" data-dz-errormessage></strong>
    </span>
    <span>
        <p class="size" data-dz-size></p>
        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
        </div>
    </span>
    <span>
        <button data-dz-remove class="btn btn-warning cancel">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span>Cancel</span>
        </button>
        <button data-dz-remove class="btn btn-danger delete">
            <i class="glyphicon glyphicon-trash"></i>
            <span>Delete</span>
        </button>
    </span>
</div>


<!--


    <div>
        <img data-dz-thumnbnail/><span data-dz-name></span><span data-dz-size></span>
    </div>
    <div class="dz-progress">
        <span class="dz-upload" data-dz-uploadprogress></span>
    </div>
    <div class="dz-success-mark"><span>✔</span></div>
    <div class="dz-error-mark"><span>✘</span></div>
    <span data-dz-errormessage></span>
</div> -->
