<div class="row file-row" style="width:100%; border: 1px solid #EEE; margin: 2px 0; padding: 5px 0">
    <div class="col-md-7" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
        <span class="name" data-dz-name></span>
        <strong class="error text-danger" data-dz-errormessage></strong>
    </div>
    <div class="col-md-1" style="">
        <span class="size pull-right" data-dz-size></span>
    </div>
    <div class="col-md-3 text-center">
        <div id="status-message" style="display:none"></div>
        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="margin-bottom: inherit; margin-left: 5px">
            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="pull-right">
            <button data-dz-remove class="btn btn-xs btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
            </button>
        </div>
    </div>
</div>
