<form class="kb-dropzone dropzone"
    style="min-height:100px; display: flex; flex-direction: column; justify-content: center;">
    <div id="global-info" class="kb-dropzone-progress__container hide">
        <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0"
            aria-valuemax="100" aria-valuenow="0">
            <div class="progress-bar progress-bar-success" style="width: 0"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="upload-message" class="kb-dropzone__message--upload"></div>
                <div class="alert alert-warning" id="upload-narrative-close-warning">Uploads in progress will be
                    canceled if this Narrative is closed!</div>
            </div>
        </div>
    </div>
    <div class="dz-message">
        <div>Drop files or folders here to upload them</div>
        <div style="font-size: 80%; margin-top: 0.5rem">or click anywhere here to open a file selection dialog.</div>
        <div style="font-size: 80%; padding: 0.4rem; margin: 0;" class="alert alert-info">Note: File size limited to {{
            maxFilesize
            }} </div>
    </div>
</form>