<form class="kb-dropzone dropzone" style="min-height:200px">
    <div id="global-info" style="display:none; border-bottom 1px solid #EEE; margin-bottom: 5px">
        <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id='upload-message'></div>
                <div>Uploads in progress will be canceled if this Narrative is closed!</div>
            </div>
        </div>
    </div>
    <div class="dz-message" style="text-align:left; margin-left: 15%">
        <p>Three ways to add data to the staging area:</p>
        <ul>
            <li>Click in this box.</li>
            <li>Drag and drop data files.</li>
            <li>{{#if userInfo.globusLinked}}For large files (over 20GB) or a large number of files use
                <a href="https://www.globus.org/app/transfer?destination_id=3aca022a-5e5b-11e6-8309-22000b97daec&destination_path={{userInfo.user}}" target="_blank" class="globus_link">
                    <i class="fa fa-cloud-upload"></i> Globus.
                </a>
                {{else}}
                For large files (over 20GB), use Globus. Click
                <a href="http://kbase.us/transfer-data-from-globus-to-kbase/" target="_blank">
                    here <i class="fa fa-external-link"></i>
                </a>
                for directions.
                {{/if}}
            </li>
        </ul>
        <p>Click the <i class="fa fa-question-circle"></i> below for help.
    </div>
</form>
