<table id="kb-data-staging-table" class="table table-striped table-condensed" style="table-layout:fixed">
    <thead>
        <tr>
            <th style="width: 5%"></th>
            <th style="width: 40%; overflow:hidden">Name</th>
            <th style="width: 13%">Size</th>
            <th style="width: 12%">Age</th>
            <th style="width: 30%">Import As...</th>
        </tr>
    </thead>
    <tbody>
    {{#each files}}
        <tr>
            <td style="text-align:center">{{isFolder}}</td>
            <td>{{name}}</td>
            <td>{{size}}</td>
            <td>{{mtime}}</td>
            <td>
                {{#if imported }}
                <div class="pull-right" style="margin-left: -5px">
                    <select id="import-type" style="width: 118px;">

                        
                        {{#if mappings}}
                            <optgroup label="Suggested Types">
                            {{# unless mappings.[1]}}
                            <option value="{{mappings.[0].id}}" selected>{{mappings.[0].title}}</option>
                            {{ else }}
                                {{#each mappings as |mapping|}}
                                <option value="{{mapping}}">{{mapping}} Mapping</option>
                                {{/each}}
                            {{/unless}}
                            <optgroup label="Other Types">
                                {{#each ../uploaders}}
                                <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </optgroup>
                        {{ else }}
                            <option>Select a type</option>
                            {{#each ../uploaders}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        {{/if}}
  
               
                       
<!-- 

                        {{#each ../uploaders}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}} -->
                    </select>
                    <button data-import="{{name}}" class="btn btn-xs btn-primary">
                        <span><i class="fa fa-upload"></i></span>
                    </button>
                    <button data-download="{{name}}" class="btn btn-xs btn-primary">
                            <span><i class="fa fa-download"></i></span>
                    </button>
                    <button data-delete="{{name}}" class="btn btn-xs btn-danger">
                        <span><i class="fa fa-trash"></i></span>
                    </button>
                </div>
                {{ else }}
                    <button data-delete="{{name}}" class="btn btn-xs btn-danger pull-right">
                        <span><i class="fa fa-trash"></i></span>
                    </button>
                {{/if}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
<div class='kb-data-staging-footer'>
    All files will be deleted after 90 days
</div>
