<table id="kb-data-staging-table" class="table table-striped table-condensed" style="table-layout:fixed">
    <thead>
        <tr>
            <th style="width: 5%"></th>
            <th style="width: 45%; overflow:hidden">Name</th>
            <th style="width: 10%">Size</th>
            <th style="width: 15%">Modified</th>
            <th style="width: 25%">Imported As</th>
        </tr>
    </thead>
    <tbody>
    {{#each files}}
        <tr>
            <td style="text-align:center">{{isFolder}}</td>
            <td>{{name}}</td>
            <td>{{size}}</td>
            <td>{{mtime}}</td>
            <td>
                {{#if imported}}
                    {{#with imported}}
                        {{#if reportRef}}
                            <button class="btn btn-xs btn-default" data-report="{{reportRef}}"><span><i class="fa fa-bomb"></i></span></button>
                        {{/if}}
                        <a href="{{narUrl}}" target="_blank">{{narName}}</a> / <a href="{{objUrl}}" target="_blank">{{objName}}</a>
                    {{/with}}
                {{/if}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
