<table id="kb-data-staging-table" class="table table-striped table-condensed">
    <thead class="kb-data-header">
        <tr>
            <th class="kb-data-header-checkbox">
                <input type="checkbox" name="select_all" value="1" id="">
            </th>
            <th class="kb-data-header-file"></th>
            <th class="kb-data-header-name">Name</th>
            <th class="kb-data-header-size" >Size</th>
            <th class="kb-data-header-age">Age</th>
            <th class="kb-data-header-import">Import As...</th>
        </tr>
    </thead>
    <tbody class="kb-data-body">
    {{#each files}}
        <tr>
            <td class="kb-data-body-checkbox">{{name}}</td>
            <td class="kb-data-body-expander">{{isFolder}}</td>
            <td>{{name}}</td>
            <td>{{size}}</td>
            <td>{{mtime}}</td>
            <td class="kb-data-body-import">
                {{#if imported }}
                <div>
                    <select>
                        <option></option>
                        {{#each ../uploaders}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <!-- <button data-import="{{name}}" class="btn btn-xs btn-primary">
                        <span><i class="fa fa-upload"></i></span>
                    </button> -->
                    <button data-download="{{name}}" class="kb-data-body-download btn btn-xs btn-primary">
                            <span><i class="fa fa-download"></i></span>
                    </button>
                    <button data-delete="{{name}}" class="kb-data-body-delete btn btn-xs btn-danger">
                        <span><i class="fa fa-trash"></i></span>
                    </button>
                </div>
                {{ else }}
                    <button data-delete="{{name}}" class="kb-data-body-delete btn btn-xs btn-danger pull-right">
                        <span><i class="fa fa-trash"></i></span>
                    </button>
                {{/if}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
<div class='kb-data-staging-footer'>
    All files will be deleted after 90 days
</div>
