<div class="row" style="margin-bottom: 5px">
    <div class="pull-left">
        <div class="upload-options">
            Other ways to upload:
            {{#if userInfo.globusLinked}}
            <button class="globus_linked" aria-label="link to new window to upload via globus">
                <a href="{{globusUrl}}" target="_blank" class="globus_link">Upload with Globus</a>
            </button>
            {{else}}
            <button class="globus_not_linked" aria-label="link to kbase globus upload docs">
                <a href="https://docs.kbase.us/data/globus">Upload with Globus</a>
            </button>
            {{/if}}
            <button class="web_upload_div">Upload with URL</button>
        </div>
    </div>
    <div class="pull-right">
        <button id="help" class="btn btn-xs btn-default">
            <span><i class="fa fa-question-circle fa-lg"></i></span>
        </button>
    </div>
</div>