
/* this is a css file that can be 
   shared among kbase labs projects */


/* start overwrites default bootstrap styling */

.navbar .brand {
    padding: 15px 20px 10px;
}

.navbar-inner {
    min-height: 50px;
}

.navbar-inner li {
    line-height: 30px;
}


/* end overwrites of default bootstrap styling */



/* custom kbase commong styling */
.logo {
    float: left;
    margin: 2px 10px 2px 0;
}