.preactComponent-ErrorAlert {
    animation: grow 0.25s;
}

.preactComponent-ErrorAlert-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.preactComponent-ErrorAlert-title .fa {
    margin-right: 4px;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
