#!/bin/bash

export NARRATIVE_DIR=$d
export JUPYTER_CONFIG_DIR=$NARRATIVE_DIR/kbase-extension
export JUPYTER_RUNTIME_DIR=/tmp/jupyter_runtime
export JUPYTER_DATA_DIR=/tmp/jupyter_data
export JUPYTER_PATH=$NARRATIVE_DIR/kbase-extension
export IPYTHONDIR=$NARRATIVE_DIR/kbase-extension/ipython
CFGDIR=$JUPYTER_CONFIG_DIR/static/kbase

if [ -n $SERVICESSL ]
then
    sed -i "s/ci.kbase.us/$SERVICESSL/" $NARRATIVE_DIR/src/config.json

    grep -rl //kbase.us/services /kb/deployment/services/narrative-venv/ | \
       xargs sed -i "s/\/\/kbase.us\/services/\/\/$SERVICESSL\/services/g" || echo "Done" && \
fi

if [ -n $NARRSSL ]
then
    grep -rl narrative.kbase.us /kb/deployment/services/narrative-venv/ | \
       xargs sed -i "s/narrative.kbase.us/$NARRSSL/" || echo "Done"
fi

cp $NARRATIVE_DIR/src/config.json $JUPYTER_CONFIG_DIR/static/kbase/config/

python /kb/dev_container/narrative/src/biokbase/narrative/exporter/run_narrative.py "$@"
