// SCSS file for standard narrative pages

// Modules
@import "modules/variables";
@import "modules/fonts";

// overrides of specific jupyter notebook formatting bits
@import "partials/custom";

// basic formatting
@import "partials/stylesheet";

@import "partials/narrative";
@import "partials/icons";
@import "partials/landingPages";
@import "partials/editor";
@import "partials/notify";
@import "partials/methodCell";
@import "partials/bootstrapHelper";
@import "partials/buttons";
@import "partials/contigBrowserStyles";
@import "partials/jobLog";
@import "partials/tour";
@import "partials/advancedViewCell";
