

<div class="nav navbar-kbase navbar-fixed-top nav-collapse nav-collapse-scrollable bs-navbar-scroll-collapse">
    <a href="http://www.kbase.us/labs/" class="pull-left">
        <img id="logo" src="assets/img/kbase_logo.png" width="46">
    </a>
    <a class="navbar-brand" href="#">Workspace Browser</a>

    <ul class="nav navbar-nav"></ul>

    <div id="signin-button" class="pull-right"></div>
    <ul class="nav navbar-nav pull-right">
        <li class="dropdown help-dropdown">
        </li>
    </ul>
    <!--<a id="selected-workspace" class="label label-primary pull-right" href="#/workspace-browser">No Workspace</a>-->

</div> <!-- end navbar -->