

<div class="nav navbar-kbase navbar-fixed-top nav-collapse nav-collapse-scrollable bs-navbar-scroll-collapse">
    <a href="http://www.kbase.us/labs/" class="pull-left">
        <img id="logo" src="assets/img/kbase_logo.png" width="46">
    </a>
    <a class="navbar-brand" href="#">Model Viewer</a>

    <ul class="nav navbar-nav">
        <!--
        <li class="active">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/models">KBase Models</a></li>
                    <li><a href="#/media">KBase Media</a></li> 
                    <li class="divider"></li>
                    <li><a href="#/rxns">Biochemistry Reactions</a></li>
                    <li><a href="#/cpds">Biochemistry Compounds</a></li>
                     
                </ul>
            </li>
        </li>
        -->
    </ul>

    <div id="signin-button" class="pull-right"></div>
    <ul class="nav navbar-nav pull-right">
        <li class="dropdown help-dropdown">
        </li>
    </ul>
    <!--<a id="selected-workspace" class="label label-primary pull-right" href="#/workspace-browser">No Workspace</a>-->

</div> <!-- end navbar -->