
<div class="row">
    <div class="col-sm-3" >
        <div class="narrative-sidebar">
            <ul class="nav nav-pills nav-stacked nav-sidebar">
                <li ng-class="{ active: $state.is('home')}">
                    <a class="btn-narr" href="#/narrative/home/">
                    Newsfeed
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </a>
                </li>

                <li ng-class="{ active: $state.is('home.projects')}">
                    <a class="btn-narr" href="#/narrative/home/projects/">
                    Projects/Narratives
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </a>
                </li>

                <li>
                    <a class="btn-narr" href="#/ws/">
                    Workspace Browser
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </a>
                </li>
            </ul>

            <br>
            <hr>
            <div class="narrative-sidebar-section">
                <h3 class="sidebar-header">RECENT NARRATIVES</h3>
                <div recentnarratives>
                    <ul class="recent-narratives" ng-repeat="nar in narratives | orderBy:'timestamp':true | limitTo:5">
                        <li><a href="{{nar_url}}/ws.{{nar.wsid}}.obj.{{nar.id}}">{{nar.name}}</a> 
                            <span class="text-mutted pull-right">{{nar.nealtime}}</span>
                        </li>
                    </ul>
                </div>
                <a class="pull-right" href="#/narrative/home/projects/">View all</a>
                <br>
                <hr>
                <h3 class="sidebar-header">RECENT PROJECTS</h3>
                <div recentprojects>
                    <ul class="recent-projects" ng-repeat="nar in projects | orderBy:'timestamp':true | limitTo:5">
                        <li>{{nar.name}}<span class="text-mutted pull-right">{{nar.nealtime}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div> <!-- end fixed sidebar -->
    </div> <!-- end left column -->

    <div id="newsfeed_column" class="col-sm-9" ui-view>
        <div id="newsfeed_inner" >
            <div id="feed_section" >
                <div style="overflow: auto;"><h2 class="small pull-left">Featured Narratives </h2><span class="glyphicon glyphicon-question-sign pull-left" style="color: #0088CC; font-size: 16px; padding-left: 5px"
                popover="Featured Narratives are exemplar narratives that demonstrate the types of analyses you can build in the user interface. Click on the title to view the narrative or click the copy narrative link to copy the narrative and its datasets to your home workspace." 
                popover-trigger="mouseenter"
                popover-placement="bottom" 
                    ></span></div>
                <div class="newsfeed_section">
                        
                    <div newsfeed class="newsfeed_section">
                    </div>
     
                </div>	
            </div>
        </div>
    </div>
</div>
