.kblpc {
	overflow: auto;
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
            box-sizing: content-box;
}

.ui-dialog {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
            box-sizing: content-box;	
}

.ui-dialog .ui-dialog-titlebar-close {
	background-image: url("../../ext/jquery-ui/1.10.3/css/ui-lightness/images/ui-icons_222222_256x240.png");
	background-position: -80px -128px;
}

.ui-widget-content a {
	color: #428bca;
}

.kblpc-subtitle {
	font-size: 14px;
	font-weight: normal;
}

.kblpc-control-box {
	position: absolute;
	right: 0px;
	top: 50px;
	width: 300px;
}

.kblpc-manager-dataset {
	padding-left: 8px;
	padding-top: 15px;
}

.kblpc-manager-dataset > div > div > input {
	margin-right: 5px;
	margin-left: 10px;
}

.kblpc-manager {
	max-height: 300px;
	overflow-y: auto;
}

.kblpc-manager-dataset > .row > a:hover {
	text-decoration: none;
}