/**
 * Styling for the tooltip that pops up when a feature is highlighted.
 */
.kbgb-tooltip {
	position: absolute;
	z-index: 10;
	visibility: hidden;
	opacity: 0.8;
	background-color: #222;
	color: #fff;
	padding: 0.5em;
}

/**
 * Adjusts the font size and stroke width of the base-position axis.
 */
.kbgb-widget .kbgb-axis path,
.kbgb-widget .kbgb-axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.kbgb-widget .kbgb-axis text {
    font-family: sans-serif;
    font-size: 11px;
}


/**
 * The classes below control the styling for each of the feature arrows.
 *
 * This order matters!
 * Regular features are all one color
 * Features in an operon shared with the central feature are colored next.
 * The 'center' feature is colored after that.
 * And highlighted features should be colored last (not currently used).
 */
.kbgb-feature {
	stroke: #000;
	fill: #f00;
}

.kbgb-operon {
	fill: #0f0;
}

.kbgb-center {
	fill: #00f;
}

.kbgb-highlight {

}

