.kbwidget-message-pane {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	text-align: center;
}

.kbwidget-message-pane span {
	position: relative;
	top: 50%;
}

.kbwidget-message-pane img {
	margin-top: -24px;
}

.kbwidget-hide-message {
	display: none;
}