.kbgo-table {
	border-collapse: collapse;
	border-spacing: 0;
}

.kbgo-table > tbody > tr:nth-child(odd) > td {
	background-color: #f9f9f9;
}

.kbgo-table td {
	padding: 5px;
	border: 1px solid #aaa !important;
}