
<div class="row">
    <div class="col-sm-3" >
        <div class="narrative-sidebar">
            <ul class="nav nav-pills nav-stacked nav-sidebar">
                <li ng-class="{ active: $state.is('home')}">
                    <a class="btn-narr" href="#/narrative/home/">
                    Newsfeed
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </a>
                </li>

                <li ng-class="{ active: $state.is('home.projects')}">
                    <a class="btn-narr" href="#/narrative/home/projects/">
                    Projects/Narratives
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </a>
                </li>

                <li>
                    <a class="btn-narr" href="#/ws/">
                    Workspace Browser
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </a>
                </li>
            </ul>

            <br>
            <hr>
            <div class="narrative-sidebar-section">
                <div class="sidebar-header">RECENT NARRATIVES</div>
                <div recentnarratives>
                    <ul class="recent-narratives" ng-repeat="nar in narratives | orderBy:'timestamp':false | limitTo:5">
                        <li><a href="{{nar_url}}/{{nar.workspace}}.{{nar.id}}">{{nar.id}}</a> 
                            <span class="text-mutted pull-right">{{nar.nealtime}}</span>
                        </li>
                    </ul>
                </div>
                <a class="pull-right" href="#/narrative/home/projects/">View all</a>
                <br>
                <hr>
                <h3 class="sidebar-header">RECENT PROJECTS</h3>
                <div recentprojects>
                    <ul class="recent-projects" ng-repeat="nar in projects | orderBy:'timestamp':false | limitTo:5">
                        <li>{{nar.id}}<span class="text-mutted pull-right">{{nar.nealtime}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div> <!-- end fixed sidebar -->
    </div> <!-- end left column -->

    <div id="newsfeed_column" class="col-sm-9" ui-view>
        <div id="newsfeed_inner" >
            <div id="feed_section" >

                <h2 class="small">Featured Narratives <span class="glyphicon glyphicon-question-sign" style="color: #0088CC; font-size: 16px; padding-left: 5px"></span></h2>
                <div class="newsfeed_section">
                    <div class="featured_narrative" style="padding-top: 5px; padding-bottom: 10px; margin-bottom: 20px; border-bottom: 1px solid #ccc;">
                        <div class="featured_author"><a href="#">Paramvir Dehal</a> created a narrative on Jan 14, 2014:</div>
                        <div class="narr-featured-title"><a href="#"><strong>Assembly and Modeling of Pseudomonas stutzeri A150</strong></a></div>
                        <div class="featured_desc">
    This narrative builds a genome scale metabolic model reconstruction starting from an annotated genome object using the DOE Systems Biology Knowledgebase tools. I create a draft model for Pseudomonas stutzeri A1501, gapfill the model on complete media and then calculate the fluxes on complete media.
                        </div>
                        <div class="narr-copy"><a href="#">copy narrative</a> </div>
                    </div>  
                    <div class="narr-featured-narrative" >
                        <div class="featured_author"><a href="#">Ranjan Priya</a> created a narrative on Jan 14, 2014:</div>
                        <div class="narr-featured-title" ><a href="#"><strong>GWAS analysis of Arabidopsis thaliana</strong></a></div>
                        <div class="featured_desc">
    This narrative builds a genome scale metabolic model reconstruction starting from an annotated genome object using the DOE Systems Biology Knowledgebase tools. I create a draft model for Pseudomonas stutzeri A1501, gapfill the model on complete media and then calculate the fluxes on complete media.
                        </div>
                        <div class="narr-copy"><a href="#">copy narrative</a></div>
                    </div>  
                    <div class="narr-featured-narrative" >
                        <div class="featured_author"><a href="#">Paramvir Dehal</a> created a narrative on Jan 14, 2014:</div>
                        <div class="narr-featured-title"><a href="#"><strong>Assembly and Modeling of Pseudomonas stutzeri A150</strong></a></div>
                        <div class="featured_desc">
    This narrative builds a genome scale metabolic model reconstruction starting from an annotated genome object using the DOE Systems Biology Knowledgebase tools. I create a draft model for Pseudomonas stutzeri A1501, gapfill the model on complete media and then calculate the fluxes on complete media.
                        </div>
                        <div class="narr-copy"><a href="#">copy narrative</a></div>
                    </div>              
                </div>	
            </div>
        </div>
    </div>
</div>
