
<h3>Projects / Narratives <small><a class="glyphicon glyphicon-question-sign" onclick="$('.project-help').slideToggle()"></a></small></h3>

<div class="project-help" style="display:none;">
	<b>Projects</b> hold assets that can be shared by members. Project members—the people who have permission to use the project's assets—can be individuals or teams. You set permissions for all assets shared in the project, but you can set additional permissions on any individual asset.
	<br>
	<br>
	<b>Narratives</b> capture your analyses and include rich annotations, visualizations widgets, reusable workflows, and custom scripts. Through projects, a special type of workspace, you can share your narratives and data with colleagues.
</div>
<div projectlist></div>