@import url("http://fonts.googleapis.com/css?family=Roboto");

body {
	padding-top: 75px;
}

header[role="banner"] {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #E0E0E0;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
	box-shadow: 0 1px 10px rgba(0,0,0,.1);
}

#logo {
	float: left;
} 

nav[role="navigation"] {
	float: left;
	margin-left: 10px;
}

nav[role="navigation"] ul {
	margin: 0 10px 0 0;
	display: block;
	padding: 9px;
}


nav[role="navigation"] ul li {
	display: inline;
	margin: 0 10px;
}

nav[role="navigation"] ul li a {
	text-decoration: none;
	font-size: 1.2em;
	font-family: 'Roboto';
	color: #777777;
	padding: 15px;
}

nav[role="navigation"] ul li.active a {
	background-color: #5c9531;
	color: #fff;
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

nav[role="navigation"] input[type="text"] {
	display:inline;
}

.table_section {
	margin-top: 20px;
}
.section_title {
	background-color: #f2f2f2;
	border: 1px solid #d3d3d3;
	color: black;
	padding: 5px 10px;
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 16px;
}

#search_terms {
	width: 350px;
	background-image: url(search.png);
	background-size: 22px; 
	background-repeat:no-repeat;
	background-position:right center; 
}


/** redundant styles
@import url("http://fonts.googleapis.com/css?family=Roboto");


** H styling *
h1 {
	font-family:'Roboto', Arial, sans-serif;
	letter-spacing: 0; 
	color: #232323;
	}
h2 {
	font-family: 'Roboto', Arial, sans-serif; 
	color: #898989; 
	letter-spacing: 0;
	}
h3 {
	font-family: 'Roboto', Arial, sans-serif; 
	letter-spacing: 0;
	}
h4 {
	font-family: 'Oxygen', Arial, sans-serif;
	font-style: italic;
	letter-spacing: .07em;
	}
	
*/

span.aside {
	font-style: italic;
} 
