@import url("http://fonts.googleapis.com/css?family=Roboto");


/*header[role="banner"] {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #E0E0E0;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
	box-shadow: 0 1px 10px rgba(0,0,0,.1);
}

#logo {
	float: left;
} 

nav[role="navigation"] {
	float: left;
	margin-left: 10px;
}

nav[role="navigation"] ul {
	margin: 0 10px 0 0;
	display: block;
	padding: 9px;
}


nav[role="navigation"] ul li {
	display: inline;
	margin: 0 10px;
}

nav[role="navigation"] ul li a {
	text-decoration: none;
	font-size: 1.2em;
	font-family: 'Roboto';
	color: #777777;
	padding: 15px;
}

nav[role="navigation"] ul li.active a {
	background-color: #5c9531;
	color: #fff;
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
*/



/** redundant styles
@import url("http://fonts.googleapis.com/css?family=Roboto");


** H styling *
h1 {
	font-family:'Roboto', Arial, sans-serif;
	letter-spacing: 0; 
	color: #232323;
	}
h2 {
	font-family: 'Roboto', Arial, sans-serif; 
	color: #898989; 
	letter-spacing: 0;
	}
h3 {
	font-family: 'Roboto', Arial, sans-serif; 
	letter-spacing: 0;
	}
h4 {
	font-family: 'Oxygen', Arial, sans-serif;
	font-style: italic;
	letter-spacing: .07em;
	}
	
*/

body {
	margin-bottom: 80px;
}

nav[role="navigation"] input[type="text"] {
	display:inline;
}


h1, h2 {
	margin: 0;
}
#project_title {
	overflow: auto;
}
#project_title h2 {
	color: #00834b;
}

.table_section {
	margin-top: 0;
}
.section_title {
	background-color: #b6e9f8;
	color: #0066b9;
	padding: 5px 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 16px;
	border: none;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	overflow: auto;

}

.section_title a {
	color: #0066b9;
	text-decoration: none;
}

.section_title a.btn {
	color: #fff;
}

.section_title .title {
	margin-top: 4px;
}

span.aside {
	font-style: italic;
} 
.dataTables_table_info, #datasets_table_paginate, #projects_table_paginate, #narratives_table_paginate {
	margin-top: 5px;
} 

.dataTables_filter {
	float: left;
	text-align: left;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
	border: none;
}

.paging_full_numbers a.paginate_active {
	background-color: #b6e9f8;
	border: none;
}

th {
	font-family: 'OxygenBold';
}

.title {
	float: left;
	width: 120px;
}
h4.modal-title {
	font: 1.15em/1.25em 'OxygenBold', Arial, sans-serif;
}
