
@font-face {
    font-family: 'OxygenRegular';
    src: url('../fonts/Oxygen-webfont.eot');
    src: url('../fonts/Oxygen-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oxygen-webfont.woff') format('woff'),
         url('../fonts/Oxygen-webfont.ttf') format('truetype'),
         url('../fonts/Oxygen-webfont.svg#OxygenRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OxygenItalic';
    src: url('../fonts/Oxygen-Italic-webfont.eot');
    src: url('../fonts/Oxygen-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oxygen-Italic-webfont.woff') format('woff'),
         url('../fonts/Oxygen-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Oxygen-Italic-webfont.svg#OxygenItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OxygenBold';
    src: url('../fonts/Oxygen-Bold-webfont.eot');
    src: url('../fonts/Oxygen-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oxygen-Bold-webfont.woff') format('woff'),
         url('../fonts/Oxygen-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Oxygen-Bold-webfont.svg#OxygenBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OxygenBoldItalic';
    src: url('../fonts/Oxygen-BoldItalic-webfont.eot');
    src: url('../fonts/Oxygen-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oxygen-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/Oxygen-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Oxygen-BoldItalic-webfont.svg#OxygenBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OxygenMonoRegular';
    src: url('../fonts/OxygenMono-Regular-webfont.eot');
    src: url('../fonts/OxygenMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OxygenMono-Regular-webfont.woff') format('woff'),
         url('../fonts/OxygenMono-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OxygenMono-Regular-webfont.svg#OxygenMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RobotoBlack';
    src: url('../fonts/Roboto-Black-webfont.eot');
    src: url('../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Black-webfont.woff') format('woff'),
         url('../fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Black-webfont.svg#RobotoBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}
 
h1 {
	font: 1.75em/2em 'RobotoBlack', Arial, sans-serif;
	letter-spacing: 0; 
	color: #232323;
	font-weight: normal;
	}
h2 {
	font: 1.5em/1.75em 'RobotoBlack', Arial, sans-serif; 
	font-weight: normal; 
	color: #898989; 
	letter-spacing: 0;
	}
h3 {
	font: 1.15em/1.25em 'RobotoBlack', Arial, sans-serif; 
	letter-spacing: 0;
	font-weight: normal;
	}
h4 {
	font: 1.15em/1.25em 'OxygenItalic', Arial, sans-serif;
	letter-spacing: .06em;
	}
body {
	font-family: 'OxygenRegular', Arial, sans-serif; 
	color: #333333; 
	background-color: #fff;
	}
body{
    font-size: 14px;
}
@media screen and (max-width: 768px){
    body{font-size: 12px;}
}
@media screen and (max-width: 480px){
    body{font-size: 10px;}
}
strong, b {
	font-family: 'OxygenBold';
	font-weight: normal;
	}
em, i {
	font-family: 'OxygenItalic';
	font-style: normal;
	}
strong em, em strong, b i, i b{
	font-family: 'OxygenBoldItalic';
	font-style: normal;
	font-weight: normal;
	}
a {
	color: #0088cc; 
	text-decoration: none;
	}
a:visited {
	color: #018841;
	}
a:hover    {
	text-decoration: underline;
	color: #018841;
	}
pre, code {
	font-family: 'OxygenMonoRegular', "Lucida Console", "Lucida Sans Typewriter", monospace;
	font-style: normal;
	}

body {
    padding-top: 0px;
}

header[role="banner"] {
    position: relative;
    top: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #E0E0E0;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
    z-index: 999;
}

#logo {
    float: left;
    padding: .4em 30px;
} 

nav[role="navigation"] ul{
    margin: 1.2em 0 .5em 0;
    text-align: center;
}

nav[role="navigation"] ul li {
    display: inline;
    margin: 0 .5em;
    vertical-align: middle;
}

nav[role="navigation"] ul li a {
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'OxygenBold';
    padding: 7px 1em;
    background-color: #5c9531;
    color: #fff;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    border: 1px solid #5c9531;
}

#header_banner .dropdown-menu a {
    color: #0066b9;
} 
#header_banner .dropdown-menu a:hover {
    background-color: #b6e9f8;
    color: #0066b9;
    text-decoration: none;
} 


li#searchlabel a{
 }

input#search_terms{
    padding: .4em 1em;
    display: inline;
    border-color: #5c9531;
    position: relative;
    left: -.5em;
    font-size: 1em;
    margin-top: -3px;
    background-image: url("../images/search.png");
    background-size: 22px; 
    background-repeat:no-repeat;
    background-position:right center; 
}
span#searchspan{
    display: inline-block;
    width: 60%;
}
@media screen and (max-width: 1170px){
    span#searchspan{width: 50%;} 
}
@media screen and (max-width: 980px){
    span#searchspan{width: 40%;} 
}
@media screen and (max-width: 768px){
    span#searchspan{width: 30%;} 
}
@media screen and (max-width: 590px){
    span#searchspan{width: 60%;}   
}
#login-widget{
    padding: 1em 1em 0 0;
    line-height: 1.5em;
}
#apps_menu{
    padding: 1em 0 0 0;
    margin: 0;
}
#apps_menu li{
    padding: 0;
}
#apps_menu_items{
    padding-top: 0;
}

