html, body {
	height: 100%;
}
body {
	padding-top: 75px;
	font-size: 14px;
}

#login_form {
	margin-bottom: 10px;
}

/** styling for the feed area */
#feed_section {
	padding-left:40px;
	padding-right: 30px;
}

#feed_section h2 {
	color: #489f47;
}

/** styling for the narrative column */
#narrative_column{
    padding: 30px 30px 30px 20px;
		border: 1px solid #f2f2f2;
	background-color: #f2f2f2;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*margin: 10px;*/
	min-height: 600px;
	
}

#narrative_column h2 {
	color: #666;
}

#narrative_column h3 {
	margin-top: 10px;
	color: #666;
	font-size: 18px;
}

#narrative_column ol {
	margin: 0 0 10px 0;
}

.narrative_section {
	margin-bottom: 40px;
}



/** styling for the metrics section */
#maincontent #metrics_section, #maincontent #login_section {

	padding: 5px 20px 20px 20px;
	border: 1px solid #E6E6E6;
	background-color: #E6E6E6;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*margin: 10px;*/
	
}

.stats_section {
	overflow: auto;
	margin-bottom: 20px;
}

.stats_section h3 {
	line-height: 10px;
}

.colstats {
	clear: both;
}

/** styling for the kbase feed section */
#kbase_feed {
	margin: 0;
	padding-top: 30px;
}

/** H styling */
h1 {
	font-family:'RobotoBlack', Arial, sans-serif;
	letter-spacing: 0; 
	color: #232323;
	}
h2 {
	font-family: 'RobotoBlack', Arial, sans-serif; 
	color: #898989; 
	letter-spacing: 0;
	}
h3 {
	font-family: 'RobotoBlack', Arial, sans-serif; 
	letter-spacing: 0;
	}
h4 {
	font-family: 'Oxygen', Arial, sans-serif;
	font-style: italic;
	letter-spacing: .07em;
	}
	

span.aside {
	font-style: italic;
}


.full-width {
	width: 100%;
}

ul li, ol li {
	list-style: none;
	padding: 10px 0 0 0px;
}

ul, ol {
	padding-left: 0;
	margin: 0 0 10px 25px;
}

#metrics_section ul, #metrics_section ol {
	margin-left: 0;
}

#login_error {
	color: red;
}
