/* Wrapper class
  All classes below may be wrapped in this class to avoid polluting
  the Narrative styles.
*/

.kb-app-cell {

  &__container {
    font-family: $typeface-page-text;
    display: flex;
    align-items: stretch;
  }

  &__prompt {
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }

  &__body {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex: 1;
    width: 100%;
  }

  &__widget_container {
    display: block;
    width: 100%;
  }

  .kb-app-warning {
    font-family: $typeface-page-text;
    text-align: center;
  }

  .kb-app-parameter-panel {
    border-left: 3px solid rgb(255 255 255);
  }

  .kb-app-parameter-panel-hover {
    border-left: 3px solid rgb(66 139 202);
  }

  .kb-app-parameter-row {
    padding: 5px;
    margin: 0;
    border-radius: 5px;

    &:hover {
      background-color: rgb(0 0 0 / 0.03);
    }
  }

  .kb-app-parameter-row-hover {
    background: rgb(249 249 249);
  }

  .kb-app-parameter-row .message {
    font-family: $typeface-page-text;
    text-align: center;

    &.-error {
      background: rgb(242 222 222);
      color: rgb(244 67 54);
    }
  }

  .kb-app-parameter-name {
    padding-right: 4px;
    padding-left: 0;
    color: rgb(119 119 119);
    font-family: $typeface-page-text;
    text-align: left;
    vertical-align: bottom;
    white-space: normal;
  }

  .kb-app-parameter-input {
    vertical-align: middle;

    select.form-control {
      margin: 0;
    }

    .kb-app-parameter-accepted-glyph,
    .kb-app-parameter-required-glyph {
      margin-left: 0;

      /* This scoots the icon inside */
      font-size: 15px;
    }
  }

  .kb-app-parameter-required-glyph {
    color: rgb(244 67 54);
  }

  .kb-parameter-data-selection {
    font-weight: 700;
  }

  .kb-app-parameter-hint {
    padding-left: 7px;
    margin-top: 3px;
    color: rgb(119 119 119);
    text-align: left;
  }

  .kb-app-parameter-accepted-glyph {
    color: rgb(75 184 86);
  }

  .kb-app-advanced-options-controller-inactive,
  .kb-app-parameter-info,
  .kb-parameter-data-row-add,
  .kb-parameter-data-row-remove {
    color: rgb(119 119 119);
  }

  .kb-app-advanced-options-controller,
  .kb-app-advanced-options-controller-inactive {
    font: italic 700 13px/14px $typeface-page-text;
    text-align: center;
  }

  .kb-app-advanced-options-controller {
    color: rgb(0 136 204);
    cursor: pointer;

    &:hover {
      color: rgb(42 100 150);
    }
  }

  .kb-app-footer {
    overflow: none;
    width: 100%;
    padding: 10px;
    background-color: rgb(245 245 245);
  }

  .kb-app-subtitle {
    padding: 3px 5px;
    background-color: rgb(245 245 245);
  }

  .advanced-parameter-showing {
    display: block;
  }

  .advanced-parameter-hidden {
    display: none;
  }

  [data-element=run-control-panel] {
    width: 100%;
  }

  [data-element=tab-pane] {
    border-top: 2px solid rgb(33 150 243);

    > div {
      padding: 4px;

      &:empty {
        padding: 0;
      }
    }
  }
}

.kb-app-row-clip-btn-addon,
.kb-app-row-close-btn-addon {
  border: 0;
  background: transparent;
}

.kb-app-row-clip-btn-addon {
  height: 100%;
  padding: 0 10px 0 0;

  &:active::after {
    position: absolute;
    padding: 7px;
    border: 1px solid rgb(128 128 128);
    margin-top: -5px;
    background-color: rgb(255 255 255);
    border-radius: 3px;
    content: 'copied!';
  }
}

.kb-input-group-wide {
  width: 100%;
}

.kb-input-row-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cell.selected .btn-default.kb-app-row-close-btn {
  color: rgb(128 128 128);
}

.kb-app-row-clip-btn,
.kb-app-row-close-btn {
  height: 100%;
  border: 0;
  margin-left: 1px;
  background-color: transparent;
  color: rgb(128 128 128);
}

.kb-app-parameter-right-error-bar {
  height: 28px;
  background: rgb(255 0 0);
}

.kb-app-field-feedback {
  border: 0;
  background: transparent;
}

.kb-input-group-addon {
  padding: 0 0 0 10px;
  border: 0;
  background: transparent;
}

/* tweaks to elemnts that should be dimmed when the cell is not selected */

.unselected .kb-app-cell {
  opacity: 0.5;
}

.kb-elapsed-time {
  font-family: $typeface-fixed-width;

  &.-active {
    color: rgb(0 255 0);
  }
}

.kb-app-cell-info-desc {
  min-height: 100px;
  padding: 10px;
  border: 1px solid rgb(119 119 119);
  margin-right: 10px;
}

.kb-app-cell-info {
  color: rgb(119 119 119);
  font: 16px $typeface-page-text;

  .header {
    padding: 5px 0;
    border-bottom: 1px solid rgb(119 119 119);
    margin-bottom: 8px;
  }

  .value {
    color: rgb(0 0 0);
  }
}

/*

Buttons

*/

.btn {
  &.batch-active {
    border-color: rgb(173 173 173);
    background-color: rgb(238 238 238);
    box-shadow: inset 0 3px 7px rgb(0 0 0 / 0.125);

    &:hover {
      background-color: rgb(204 204 204);
    }
  }

  &.kb-app-cell-btn {
    border: 2px solid rgb(33 150 243);
    margin-bottom: 4px;
    background-color: rgb(255 255 255);
    color: rgb(33 150 243);

    &.btn-primary {
      border: 2px solid rgb(33 150 243);
      color: rgb(33 150 243);

      &:hover {
        border-bottom: 6px solid rgb(33 150 243);
        margin-bottom: 0;
      }

      &.active,
      &:active,
      &:hover {
        background-color: rgb(33 150 243);
        color: rgb(255 255 255);
      }

      &.active {
        border: solid rgb(33 150 243);
        border-width: 2px 2px 6px;
        margin-bottom: 0;

        &:hover {
          border-bottom: 2px solid rgb(33 150 243);
          margin-bottom: 4px;
          background-color: rgb(221 221 221);
          color: rgb(33 150 243);
        }
      }
    }

    &.btn-danger {
      border: 2px solid rgb(209 82 65);
      color: rgb(209 82 65);

      &:hover {
        border-bottom: 6px solid rgb(209 82 65);
      }

      &.active,
      &:hover {
        margin-bottom: 0;
        background-color: rgb(209 82 65);
        color: rgb(255 255 255);
      }

      &.active {
        border: solid rgb(209 82 65);
        border-width: 2px 2px 6px;

        &:hover {
          border-bottom: 2px solid rgb(209 82 65);
          margin-bottom: 4px;
          background-color: rgb(221 221 221);
          color: rgb(209 82 65);
        }
      }
    }

    &.disabled {
      border: 2px solid rgb(136 136 136);
      margin-bottom: 4px;
      background-color: rgb(255 255 255);
      color: rgb(136 136 136);

      &:active,
      &:hover {
        border: 2px solid rgb(136 136 136);
        margin-bottom: 4px;
        background-color: rgb(255 255 255);
        color: rgb(136 136 136);
      }
    }
  }
}

/* Primary Button Style */

/* Hovering over an active cell is different, it tries to make the tab look
   disassociated but using a gray background so it doesnt look like an inactive
   tab */

/* DANGER - for error */

/* DISABLED is gray border and text */

.kb-app-status {
  &-ok {
    color: rgb(75 184 86);
  }

  &-warning {
    color: rgb(255 165 0);
  }

  &-danger,
  &-error {
    color: rgb(209 82 65);
  }

  &-default {
    color: rgb(33 150 243);
  }
}

/* app cell panels */

/* TODO: higher level selector */

.parameter-panel .info-panel {
  padding-top: 4px;
  background: transparent;
}

.tt-input,
.tt-query {
  width: 100%;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 0.075);
}

.tt-hint {
  color: rgb(153 153 153);
}

.tt-menu {
  width: 100%;
  padding: 4px 0;
  border: 1px solid rgb(0 0 0 / 0.2);

  /* used to be tt-dropdown-menu in older versions */
  margin-top: 4px;
  background-color: rgb(255 255 255);
  border-radius: 4px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;

  &.tt-cursor,
  &:hover {
    background-color: rgb(0 151 207);
    color: rgb(255 255 255);
  }

  p {
    margin: 0;
  }
}

.tt-header {
  padding-left: 5px;
  font-size: 75%;
  font-style: italic;
}
