/* Wrapper class
  All classes below may be wrapped in this class to avoid polluting
  the Narrative styles.
*/

.kb-app-cell {
  &__container {
    align-items: stretch;
    display: flex;
    font-family: $typeface-page-text;
  }

  &__prompt {
    align-items: stretch;
    display: flex;
    flex-direction: column;
  }

  &__body {
    align-items: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
  }

  &__widget_container {
    display: block;
    width: 100%;
  }

  &-tab-pane__container-- {
    &jobStatus,
    &results {
      @include default-container-padding;
    }
  }

  .kb-app-warning {
    font-family: $typeface-page-text;
    text-align: center;
  }

  .kb-app-parameter-panel {
    border-left: 3px solid rgb(255 255 255);
  }

  .kb-app-parameter-panel-hover {
    border-left: 3px solid rgb(66 139 202);
  }

  .kb-app-parameter-row {
    border-radius: 5px;
    margin: 0;
    padding: 5px;

    &:hover {
      background-color: rgb(0 0 0 / 3%);
    }
  }

  .kb-app-parameter-row-hover {
    background: rgb(249 249 249);
  }

  .kb-app-parameter-row .message {
    font-family: $typeface-page-text;
    text-align: center;

    &.-error {
      background: rgb(242 222 222);
      color: rgb(244 67 54);
    }
  }

  .kb-app-parameter-name {
    color: rgb(119 119 119);
    font-family: $typeface-page-text;
    padding-left: 0;
    padding-right: 4px;
    text-align: left;
    vertical-align: bottom;
    white-space: normal;
  }

  .kb-app-parameter-input {
    vertical-align: middle;

    select.form-control {
      margin: 0;
    }

    .kb-app-parameter-accepted-glyph,
    .kb-app-parameter-required-glyph {
      /* This scoots the icon inside */
      font-size: 15px;
      margin-left: 0;
    }
  }

  .kb-app-parameter-required-glyph {
    color: rgb(244 67 54);
  }

  .kb-parameter-data-selection {
    font-weight: 700;
  }

  .kb-app-parameter-hint {
    color: rgb(119 119 119);
    margin-top: 3px;
    padding-left: 7px;
    text-align: left;
  }

  .kb-app-parameter-accepted-glyph {
    color: use-color('mid-green');
  }

  .kb-app-advanced-options-controller-inactive,
  .kb-app-parameter-info,
  .kb-parameter-data-row-add,
  .kb-parameter-data-row-remove {
    color: rgb(119 119 119);
  }

  .kb-app-advanced-options-controller,
  .kb-app-advanced-options-controller-inactive {
    font: italic 700 13px/14px $typeface-page-text;
    text-align: center;
  }

  .kb-app-advanced-options-controller {
    color: use-color('blue');
    cursor: pointer;

    &:hover {
      color: use-color('blue-hlink');
    }
  }

  .kb-app-footer {
    background-color: rgb(245 245 245);
    padding: 10px;
    width: 100%;
  }

  .kb-app-subtitle {
    background-color: rgb(245 245 245);
    padding: 3px 5px;
  }

  .advanced-parameter-showing {
    display: block;
  }

  .advanced-parameter-hidden {
    display: none;
  }

  [data-element="run-control-panel"] {
    width: 100%;
  }

  [data-element="tab-pane"] {
    border-top: 2px solid use-color('mid-blue');

    > div {
      padding: 0;
    }
  }
}

.kb-app-row-clip-btn-addon,
.kb-app-row-close-btn-addon {
  background: transparent;
  border: 0;
}

.kb-app-row-clip-btn-addon {
  height: 100%;
  padding: 0 10px 0 0;

  &:active::after {
    background-color: rgb(255 255 255);
    border: 1px solid rgb(128 128 128);
    border-radius: 3px;
    content: 'copied!';
    margin-top: -5px;
    padding: 7px;
    position: absolute;
  }
}

.kb-input-group-wide {
  width: 100%;
}

.kb-input-row-flex {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.cell.selected .btn-default.kb-app-row-close-btn {
  color: rgb(128 128 128);
}

.kb-app-row-clip-btn,
.kb-app-row-close-btn {
  background-color: transparent;
  border: 0;
  color: rgb(128 128 128);
  height: 100%;
  margin-left: 1px;
}

.kb-app-parameter-right-error-bar {
  background: rgb(255 0 0);
  height: 28px;
}

.kb-app-field-feedback {
  background: transparent;
  border: 0;
}

.kb-input-group-addon {
  background: transparent;
  border: 0;
  padding: 0 0 0 10px;
}

/* tweaks to elemnts that should be dimmed when the cell is not selected */

.unselected .kb-app-cell {
  opacity: 0.5;
}

.kb-elapsed-time {
  font-family: $typeface-fixed-width;

  &.-active {
    color: rgb(0 255 0);
  }
}

.kb-app-cell-info-desc {
  border: 1px solid rgb(119 119 119);
  margin-right: 10px;
  min-height: 100px;
  padding: 10px;
}

.kb-app-cell-info {
  color: rgb(119 119 119);
  font: 16px $typeface-page-text;

  .header {
    border-bottom: 1px solid rgb(119 119 119);
    margin-bottom: 8px;
    padding: 5px 0;
  }

  .value {
    color: rgb(0 0 0);
  }
}

/*

Buttons

*/

.btn {
  &.batch-active {
    background-color: use-color('base-lightest');
    border-color: rgb(173 173 173);
    box-shadow: inset 0 3px 7px rgb(0 0 0 / 12.5%);

    &:hover {
      background-color: use-color('base-lighter');
    }
  }

  &.kb-app-cell-btn {
    background-color: rgb(255 255 255);
    border: 2px solid use-color('mid-blue');
    color: use-color('mid-blue');
    margin-bottom: 4px;

    &.btn-primary {
      border: 2px solid use-color('mid-blue');
      color: use-color('mid-blue');

      &:hover {
        border-bottom: 6px solid use-color('mid-blue');
        margin-bottom: 0;
      }

      &.active,
      &:active,
      &:hover {
        background-color: use-color('mid-blue');
        color: rgb(255 255 255);
      }

      &.active {
        border: solid use-color('mid-blue');
        border-width: 2px 2px 6px;
        margin-bottom: 0;

        &:hover {
          background-color: rgb(221 221 221);
          border-bottom: 2px solid use-color('mid-blue');
          color: use-color('mid-blue');
          margin-bottom: 4px;
        }
      }
    }

    &.btn-danger {
      border: 2px solid rgb(209 82 65);
      color: rgb(209 82 65);

      &:hover {
        border-bottom: 6px solid rgb(209 82 65);
      }

      &.active,
      &:hover {
        background-color: rgb(209 82 65);
        color: rgb(255 255 255);
        margin-bottom: 0;
      }

      &.active {
        border: solid rgb(209 82 65);
        border-width: 2px 2px 6px;

        &:hover {
          background-color: rgb(221 221 221);
          border-bottom: 2px solid rgb(209 82 65);
          color: rgb(209 82 65);
          margin-bottom: 4px;
        }
      }
    }

    &.disabled {
      background-color: rgb(255 255 255);
      border: 2px solid rgb(136 136 136);
      color: rgb(136 136 136);
      margin-bottom: 4px;

      &:active,
      &:hover {
        background-color: rgb(255 255 255);
        border: 2px solid rgb(136 136 136);
        color: rgb(136 136 136);
        margin-bottom: 4px;
      }
    }
  }
}

/* Primary Button Style */

/* Hovering over an active cell is different, it tries to make the tab look
   disassociated but using a gray background so it doesnt look like an inactive
   tab */

/* DANGER - for error */

/* DISABLED is gray border and text */

.kb-app-status {
  &-ok {
    color: use-color('mid-green');
  }

  &-warning {
    color: rgb(255 165 0);
  }

  &-danger,
  &-error {
    color: rgb(209 82 65);
  }

  &-default {
    color: use-color('mid-blue');
  }
}

/* app cell panels */

/* TODO: higher level selector */

.parameter-panel .info-panel {
  background: transparent;
  padding-top: 4px;
}

.tt-input,
.tt-query {
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 7.5%);
  width: 100%;
}

.tt-hint {
  color: rgb(153 153 153);
}

.tt-menu {
  background-color: rgb(255 255 255);
  border: 1px solid rgb(0 0 0 / 20%);
  border-radius: 4px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);

  /* used to be tt-dropdown-menu in older versions */
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
}

.tt-suggestion {
  line-height: 24px;
  padding: 3px 20px;

  &.tt-cursor,
  &:hover {
    background-color: rgb(0 151 207);
    color: rgb(255 255 255);
  }

  p {
    margin: 0;
  }
}

.tt-header {
  font-size: 75%;
  font-style: italic;
  padding-left: 5px;
}

.kb-app-results-tab {
  overflow-x: auto;
  max-width: inherit;
}
