.kb-app-params {
  // .kb-app-params__message--advanced-hidden
  &__message--advanced-hidden {
    @include advanced-hidden;
  }

  // .kb-app-params__toggle--advanced-errors
  &__toggle--advanced-errors {
    @include base-text;

    background-color: use-color('error-lightest');
    color: use-color('ink');

    // .kb-app-params__toggle--advanced-errors--icon
    &--icon {
      color: use-color('error');
    }
  }

  &__fields--parameters {
    // .kb-app-params__fields--parameters-hidden
    &-hidden {
      display: none;
    }
  }
}
