.batch-mode-col {
  overflow: auto;
  padding: 5px 10px;
}

.job-info {
  cursor: pointer;

  &.job-selected {
    background-color: rgb(238 238 238);
  }
}

.batch-mode-list {
  max-height: 860px;
  overflow: auto;
}

.batch-input-panel {
  max-height: 300px;
  overflow: auto;
}
