/*
  bulk import cell
*/

$component-border: rgb(196, 196, 196);
$filetype-icon-color: rgb(3, 81, 125);
$filetype-highlight-color: use-color('white');
$filetype-hover-color: use-color('base-lighter');
$panel-separator-color: rgb(33, 150, 243);
$button-outdated: rgb(247, 155, 34);

.kb-bulk-import {
  &__base-node {
    // everything lives under this
  }

  &__layout_container {
    display: flex;
    align-items: stretch;
  }

  /* kb-bulk-import__prompt */
  &__prompt {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  /* kb-bulk-import__prompt_status */
  &__prompt_status {
  }

  /* kb-bulk-import__body */
  &__body {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
  }

  /* kb-bulk-import__tab_pane */
  &__tab_pane {
    border-top: 2px solid $panel-separator-color;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
  }

  /* kb-bulk-import__tab_pane_widget */
  &__tab_pane_widget {
    flex: 1;
    padding: 4px;
    margin: 15px;
  }

  /* kb-bulk-import__filetype_panel */
  &__filetype_panel {
    background-color: use-color('base-lightest');
    width: 24rem;

    &__header {
      padding: 8px;
      border-bottom: 1px solid $component-border;
      @include font-h4;

      &_icon {
        padding: 8px 6px 8px 8px;
        color: rgb(0 0 0);
      }
    }

    &__filetype {
      /* .kb-bulk-import__filetype_panel__filetype_button */
      &_button {
        @include base-text;

        display: flex;
        width: 100%;
        flex-direction: row;
        padding: 8px;
        border: 0 0 1px 0 solid $component-border;
        background-color: inherit;
        text-align: left;

        &:hover:not(&--selected) {
          background-color: $filetype-hover-color;
          cursor: pointer;
        }

        /* .kb-bulk-import__filetype_panel__filetype_button--selected */
        &--selected {
          background-color: $filetype-highlight-color;
          box-shadow: 0 3px 2px -2px use-color('base');
        }

        &--selected + .kb-bulk-import__filetype_panel__filetype_button {
          box-shadow: inset 0 3px 2px -2px use-color('base');
        }
      }

      /* .kb-bulk-import__filetype_panel__filetype_icon */
      &_icon {
        padding: 2px 8px 0;
        color: $filetype-icon-color;
      }

      /* .kb-bulk-import__filetype_panel__filetype_label */
      &_label {
        flex: 1;
      }
    }
  }

  /* kb-bulk-import-configure */
  &-configure {
    &__advanced_hidden_message {
      margin-left: 6px;
      font-style: italic;
    }
  }

  /* kb-bulk-import-tabs__button--outdated */
  &-tabs__button--outdated {
    padding: 6px 0 0;
    color: $button-outdated;
  }
}

.kb-app-params__advanced-message--parameters {
  margin-left: 6px;
}

.kb-app-params__fields--parameters {
  /* kb-app-params__fields--parameters__hidden_field */
  &__hidden_field {
    display: none;
  }
}

.kb-field-widget__error_message--parameters {
  border: 1px solid use_color("error");
}

.kb-field-cell {
  &__param_container {
    margin: 3px;
  }

  &__input_control select {
    margin-left: 0;
  }

  &__cell_label {
    padding-top: 8px;
    margin-bottom: 0;
  }
}

.kb-file-path {
  /* .kb-file-path-table-row */


  &__table {
    width: 100%;
  }

  &__table_row {
    font: normal 400 14px/18px $typeface-page-text;
  }

  /* .kb-file-path__param_container */
  &__param_container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;

   .input-group .select2-container {
      display: table;
      table-layout: fixed;
    }
  }

  &__table_cell--file-path_id {
    min-width: 30rem;
    flex: 1;
    padding: 4px;
  }

  &__button--delete {
    margin-top: 20px;
  }

  &__button--add_row {
    margin-left: 10px;
    margin-bottom: 5px;
  }

  &__button_icon--add_row {
    margin: 5px;
  }

  &__file_number {
    padding: 20px 10px 0 0;
    font-weight: 700;
  }

  &__params {
    width: 95%;
  }
}
