/*
  bulk import cell
*/

$component-border: use-color('silver');
$filetype-icon-color: rgb(3 81 125);
$filetype-highlight-color: use-color('white');
$filetype-hover-color: use-color('base-lighter');
$panel-separator-color: rgb(33 150 243);
$tab-widget-margin: 15px;
$tab-widget-padding: 4px;

%file_type_button {
  background-color: inherit;
  border: 0 solid $component-border;
  border-top-width: 1px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  text-align: left;
  width: 100%;
}

.kb-bulk-import {
  &__base-node {
    // everything lives under this
  }

  &__layout_container {
    align-items: stretch;
    display: flex;
  }

  // kb-bulk-import__prompt
  &__prompt {
    align-items: stretch;
    display: flex;
    flex-direction: column;
  }

  // kb-bulk-import__prompt_status
  &__prompt_status {
  }

  // kb-bulk-import__body
  &__body {
    align-items: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
  }

  // kb-bulk-import__tab_pane
  &__tab_pane {
    align-content: stretch;
    align-items: stretch;
    border-top: 2px solid $panel-separator-color;
    display: flex;
    flex-direction: row;
  }

  // kb-bulk-import__tab_pane_widget
  &__tab_pane_widget {
    margin: $tab-widget-margin;
    padding: $tab-widget-padding;
  }

  // kb-bulk-import-configure
  &-configure {
    &__container {
      display: flex;
      margin: -($tab-widget-margin + $tab-widget-padding);
    }

    // kb-bulk-import__filetype_panel
    &__filetype_panel {
      background-color: use-color('base-lightest');
      width: 24rem;

      &__header {
        @include font-h4;

        border-bottom: 1px solid $component-border;
        padding: 8px;

        &_icon {
          color: rgb(0 0 0);
          padding: 8px 6px 8px 8px;
        }
      }

      &__filetype {
        // .kb-bulk-import__filetype_panel__filetype_button
        &_button {
          @extend %file_type_button;

          @include base-text;

          &:hover:not(&--selected) {
            @extend %file_type_button;

            background-color: $filetype-hover-color;
            cursor: pointer;
          }

          // .kb-bulk-import__filetype_panel__filetype_button--selected
          &--selected {
            @extend %file_type_button;

            background-color: $filetype-highlight-color;
            box-shadow: 0 3px 2px -2px use-color('base');
          }

          &--selected + .kb-bulk-import__filetype_panel__filetype_button {
            box-shadow: inset 0 3px 2px -2px use-color('base');
          }
        }

        // .kb-bulk-import__filetype_panel__filetype_icon
        &_icon {
          color: $filetype-icon-color;
          padding: 2px 8px 0;
        }

        // .kb-bulk-import__filetype_panel__filetype_label
        &_label {
          flex: 1;
        }
      }
    }

    &__inputs {
      flex: 1;
      margin: $tab-widget-margin;
      padding: $tab-widget-padding;
    }

    &__advanced_hidden_message {
      font-style: italic;
      margin-left: 6px;
    }
  }
}

.kb-app-params {
  &__advanced-message--parameters {
    margin-left: 6px;
  }

  &__fields--parameters {
    // kb-app-params__fields--parameters__hidden_field
    &__hidden_field {
      display: none;
    }
  }
}

.kb-field-widget__error_message--parameters {
  border: 1px solid use_color('error');
}

.kb-field-cell {
  &__param_container {
    margin: 3px;
  }

  &__input_control select {
    margin-left: 0;
  }

  &__cell_label {
    margin-bottom: 0;
    padding-top: 8px;
  }
}
