/* ------------ Contig browser rules -------------- */

/*
 * Styling for the tooltip that pops up when a feature is highlighted.
 */

.kbcb-tooltip {
  background-color: rgb(34 34 34);
  color: rgb(255 255 255);
  opacity: 0.8;
  padding: 0.5em;
  position: absolute;
  visibility: hidden;
  z-index: 9999999;
}

/**
 * Adjusts the font size and stroke width of the base-position axis.
 */

.kbcb-widget .kbcb-axis {
  line,
  path {
    fill: none;
    shape-rendering: crispedges;
    stroke: rgb(0 0 0);
  }

  text {
    font: 11px sans-serif;
  }
}

/**
 * The classes below control the styling for each of the feature arrows.
 *
 * This order matters!
 * Regular features are all one color
 * Features in an operon shared with the central feature are colored next.
 * The 'center' feature is colored after that.
 * And highlighted features should be colored last (not currently used).
 */

.kbcb-feature {
  fill: rgb(255 0 0);
  stroke: rgb(0 0 0);
}

.kbcb-operon {
  fill: rgb(0 255 0);
}

.kbcb-center {
  fill: rgb(0 0 255);
}

.kbcb-highlight {
  fill: rgb(255 255 255);
}

/**
 * The below controls styling for the (optional) button panel
 */

.kbcb-buttons {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
