/* Wrapper class
  All classes below may be wrapped in this class to avoid polluting
  the Narrative styles.
*/

.kb-editor-cell {
  .kb-app-warning {
    font-family: $typeface-page-text;
    text-align: center;
  }

  .kb-app-parameter-panel {
    border-left: 3px solid rgb(255 255 255);
  }

  .kb-app-parameter-panel-hover {
    border-left: 3px solid rgb(66 139 202);
  }

  .kb-app-parameter-row {
    margin: 0;
  }

  .kb-app-parameter-row-hover {
    background: rgb(249 249 249);
  }

  .kb-app-parameter-row .message {
    font-family: $typeface-page-text;
    text-align: center;

    &.-error {
      background: rgb(242 222 222);
      color: rgb(244 67 54);
    }
  }

  .kb-app-parameter-name {
    padding-right: 4px;
    padding-left: 0;
    color: rgb(119 119 119);
    font-family: $typeface-page-text;
    text-align: left;
    vertical-align: bottom;
    white-space: normal;
  }

  .kb-app-parameter-input {
    vertical-align: middle;

    select.form-control {
      margin: 0;
    }

    .kb-app-parameter-accepted-glyph,
    .kb-app-parameter-required-glyph {
      margin-left: 0;

      /* This scoots the icon inside */
      font-size: 15px;
    }
  }

  .kb-app-parameter-required-glyph {
    color: rgb(244 67 54);
  }

  .kb-parameter-data-selection {
    font-weight: 700;
  }

  .kb-app-parameter-hint {
    padding-left: 7px;
    margin-top: 3px;
    color: rgb(119 119 119);
    text-align: left;
  }

  .kb-app-parameter-accepted-glyph {
    color: rgb(75 184 86);
  }

  .kb-app-advanced-options-controller-inactive,
  .kb-app-parameter-info,
  .kb-parameter-data-row-add,
  .kb-parameter-data-row-remove {
    color: rgb(119 119 119);
  }

  .kb-app-advanced-options-controller,
  .kb-app-advanced-options-controller-inactive {
    font: italic 700 10pt/14px $typeface-page-text;
    text-align: center;
  }

  .kb-app-advanced-options-controller {
    color: rgb(0 136 204);
    cursor: pointer;

    &:hover {
      color: rgb(42 100 150);
    }
  }

  .kb-app-footer {
    overflow: none;
    width: 100%;
    padding: 10px;
    background-color: rgb(245 245 245);
  }

  .kb-app-subtitle {
    padding: 3px 5px;
    background-color: rgb(245 245 245);
  }

  .panel-title > [data-toggle=collapse] {
    &::before {
      display: inline-block;
      width: 12px;
      margin-right: 4px;
      margin-left: 0;
      color: rgb(192 192 192);
      content: '\f078 ';
      font: normal 400 90%/1 FontAwesome;
      vertical-align: baseline;
    }

    &.collapsed::before {
      margin-right: 2px;
      margin-left: 2px;
      content: '\f054 ';
    }
  }

  .advanced-parameter-showing {
    display: block;
  }

  .advanced-parameter-hidden {
    display: none;
  }

  [data-element=run-control-panel] {
    width: 100%;
  }

  [data-element=tab-pane] {
    border-top: 2px solid rgb(33 150 243);

    > div {
      padding: 4px;

      &:empty {
        padding: 0;
      }
    }
  }

  .btn-primary.kb-btn-action {
    &.-rerun {
      color: rgb(33 150 243);
    }

    &.-run {
      color: rgb(75 184 86);
    }
  }

  .btn-danger.kb-btn-action {
    &.-cancel,
    &.-reset {
      color: rgb(209 82 65);
    }
  }
}

.unselected .kb-editor-cell {
  opacity: 0.5;
}

.kb-editor-cell-info-desc {
  min-height: 100px;
  padding: 10px;
  border: 1px solid rgb(119 119 119);
  margin-right: 10px;
}

.kb-editor-cell-info {
  color: rgb(119 119 119);
  font: 12pt $typeface-page-text;

  .header {
    padding: 5px 0;
    border-bottom: 1px solid rgb(119 119 119);
    margin-bottom: 8px;
  }

  .value {
    color: rgb(0 0 0);
  }
}

/*

Buttons

*/

.btn.kb-editor-cell-btn {
  border: 2px solid rgb(33 150 243);
  margin-bottom: 4px;
  background-color: rgb(255 255 255);
  color: rgb(33 150 243);

  &.btn-primary {
    border: 2px solid rgb(33 150 243);
    color: rgb(33 150 243);

    &:hover {
      border-bottom: 6px solid rgb(33 150 243);
      margin-bottom: 0;
    }

    &.active,
    &:active,
    &:hover {
      background-color: rgb(33 150 243);
      color: rgb(255 255 255);
    }

    &.active {
      border: solid rgb(33 150 243);
      border-width: 2px 2px 6px;
      margin-bottom: 0;

      &:hover {
        border-bottom: 2px solid rgb(33 150 243);
        margin-bottom: 4px;
        background-color: rgb(221 221 221);
        color: rgb(33 150 243);
      }
    }
  }

  &.btn-danger {
    border: 2px solid rgb(209 82 65);
    color: rgb(209 82 65);

    &:hover {
      border-bottom: 6px solid rgb(209 82 65);
      margin-bottom: 0;
      background-color: rgb(209 82 65);
      color: rgb(255 255 255);
    }

    &.active {
      border: solid rgb(209 82 65);
      border-width: 2px 2px 6px;
      margin-bottom: 0;
      background-color: rgb(209 82 65);
      color: rgb(255 255 255);

      &:hover {
        border-bottom: 2px solid rgb(209 82 65);
        margin-bottom: 4px;
        background-color: rgb(221 221 221);
        color: rgb(209 82 65);
      }
    }
  }

  &.disabled {
    border: 2px solid rgb(136 136 136);
    margin-bottom: 4px;
    color: rgb(136 136 136);

    &:active,
    &:hover {
      border: 2px solid rgb(136 136 136);
      margin-bottom: 4px;
      color: rgb(136 136 136);
    }
  }
}
