.gallery {
    padding: 1em;
}

.gallery .Example {
    border: 3px solid rgb(200, 200, 200);
    padding: 1em;
    border-radius: 1em;
    background: repeating-linear-gradient(
    45deg,
    rgba(200, 200, 200, 0.2),
    rgba(200, 200, 200, 0.2) 10px,
    rgba(150, 150, 150, 0.2) 10px,
    rgba(150, 150, 150, 0.2) 20px
    );
}

.gallery .Example + .Example {
    margin-top: 1em;
}

.gallery h1, h2, h3, h4, h5 {
    color: #383636;
    font-weight: bold;
}

.gallery h1 {
    font-weight: bold;
}


.gallery h2 {
}


.gallery h3 {
}


.gallery h4 {
    font-style: italic;
}


.gallery h5 {
    text-decoration: underline;
}