[data-icon]::before {
  content: attr(data-icon);
}

[class*=' icon-']::before,
[class^="icon-"]::before,
[data-icon]::before {
  font-family: $typeface-kbase-icons !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: 400 !important;
  text-transform: none !important;
}

.icon-compare::before {
  content: 'a';
}

.icon-genome::before {
  content: 'b';
}

.icon-metabolism::before {
  content: 'c';
}

.icon-metagenome::before {
  content: 'd';
}

.icon-reads::before {
  content: 'e';
}

.icon-tree::before {
  content: 'f';
}
