.kb-job-log__container {
  background-color: use-color('info-lighter');
  padding: 1rem;
}

%line_container {
  @include fixed-width;

  &:first-child {
    padding-top: 1rem;
  }

  &:last-child {
    padding-bottom: 1rem;
  }
}

%line_number {
  flex-shrink: 0;
  text-align: right;
  user-select: none;
  white-space: nowrap;
  width: 4rem;
}

%line_text {
  flex: 1;
  margin-left: 1rem;
  overflow-wrap: break-word;
  white-space: normal;
  word-wrap: break-word;
}

.kb-log {
  /* .kb-log__container */
  &__container {
    @include body-text;
  }

  &_state_abbrev {
    div:first-of-type {
      font-weight: 700;
    }
  }

  /* .kb-log__controls */
  &__controls {
    display: flex;
    margin: 1rem 0;
  }

  &__content,
  &__content--expanded {
    @include zero-box;

    overflow-y: scroll;
    transition: height 0.5s;
  }

  &__content {
    max-height: 200px;

    &--expanded {
      max-height: 600px;
    }
  }

  /* .kb-log__line_container */

  &__line_container {
    @extend %line_container;

    background-color: use-color('base-lightest'); // rgb(245, 245, 245);

    /* .kb-log__line_container--error */
    &--error {
      @extend %line_container;

      background-color: use-color('error-lightest');
    }
  }

  /* .kb-log__flex_wrapper */
  &__flex_wrapper {
    display: flex;
    flex-direction: row;
  }


  /* .kb-log__line_number */
  &__line_number {
    @extend %line_number;

    color: use-color('grey');

    &--error {
      @extend %line_number;

      color: use-color('error-darker');
      font-weight: 700;
    }
  }


  /* .kb-log__line_text */
  &__line_text {
    @extend %line_text;

    color: use-color('ink');

    &--error {
      @extend %line_text;

      color: use-color('error-darker');
    }
  }

  &__logs_title {
    @include font-h4;

    margin-top: 1rem;
  }

  &__spinner {
    @include base-text;
    @include zero-box;

    padding: 5px 10px;
  }
}
