.kb-job-status {
  box-shadow: none;

  &__row {
    .show_log {
      display: none;
    }

    .selected_log {
      display: none;
    }

    &:hover {
      background: #F2EFEB;

      .show_log {
        display: inline;
      }
    }

    &_selected {
      background: #CCE5F3;

      &:hover {
        background: #CCE5F3;

        .show_log {
          display: none;
        }
      }
    }
  }

  &__icon {
    margin: 4px;

    &--completed{
      color: rgb(17, 133, 119);
    }

    &--error,
    &--does_not_exist,
    &--terminated  {
      color: rgb(210,35,42);
    }

    &--queued,
    &--created,
    &--estimating,
    &--running {
      color: rgb(161,185,207);
    }
  }
// panel-heading border none
  &__table {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;

    width: 100%;
    max-width: 100%;
    margin-bottom: 18px;
    padding: 0;

    &_body {
      border-bottom: 2px solid #C4C4C4;
      border-top: 2px solid #C4C4C4;
    }

// padding on status cell for 40 right
    &_head {
      font-weight: 700px;
      &_row {
        .sorting::after,
        .sorting_asc::after,
        .sorting_desc::after {
          position: relative;
          margin-left: 4px;
        }
      }

    }

    &_footer {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__cell {
    border: none;
    padding: 10px 5px 10px 5px;

    &_container {
      display: flex;
      align-items: center;
      margin: 10px 5px 10px 5px;
      justify-content: space-between;
    }

    &_log_btn {
      border: none;
      background: none;
      color: black;
      display: none;
    }

    &_action{
      &--created,
      &--estimating,
      &--queued,
      &--running {
        color: #D2232A;
      }
    }
  }

}