.kb-job-state {
  &__summary {
    color: use-color('ink');
    font-weight: 700;

    &--completed {
      color: use-color('success');
      font-weight: 700;
    }

    &--error,
    &--does_not_exist {
      color: use-color('error');
      font-weight: 700;
    }

    &--terminated {
      color: use-color('warning');
      font-weight: 700;
    }
  }

  &__cell {
    /* .kb-job-state__cell--action */
    &--action {}

    /* .kb-job-state__cell--object */
    &--object {}

    /* .kb-job-state__cell--status */
    &--status {
      color: use_color('black');
      font-weight: 700;
    }
  }

  &__icon {
    /*  .kb-job-state__icon--completed,
        .kb-job-state__icon--queued,
        .kb-job-state__icon--running
    */
    &--completed,
    &--queued,
    &--running {
      color: use_color('success');
    }

    /*  .kb-job-state__icon--error */
    &--error {
      color: use_color('error');
    }

    /*  .kb-job-state__icon--does_not_exist,
        .kb-job-state__icon--terminated
    */
    &--does_not_exist,
    &--terminated {
      color: use_color('warning');
    }
  }
}
