%dropdown-menu-item-link {
  @include body-text;
}

.kb-job-status {
  box-shadow: none;

  &__dropdown {
    &_header {
      font-weight: 700;
      text-transform: uppercase;
    }

    /* .kb-job-status__dropdown-menu */
    &-menu {
      @include body-text;
      line-height: 2.5;
      padding: 0;

      /* .kb-job-status__dropdown-menu-item */
      &-item {

        /* .kb-job-status__dropdown-menu-item-link */
        &-link {

          &--retry,
          &--cancel {
            @include body-text;
            background: use_color('white');
            border: 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            line-height: 2.5;
            text-align: left;
            width: 100%;
          }

          &--retry {
            color: use_color('primary');

            &:hover,
            &:active {
              background: use_color('primary');
              color: use_color('white');
            }
          }

          &--cancel {
            color: use_color('error-dark');

            &:hover,
            &:active {
              background: use_color('error');
              color: use_color('white');
            }
          }
        }
      }
    }
  }

  &__table {
    @include tabular-text;
    padding: 0;
    white-space: nowrap;
    width: 100%;

    /* .kb-job-status__table_body */
    &_body {
      border-bottom: 2px solid use-color('base-light');
      border-top: 2px solid use-color('base-light');
    }

    &_head {
      /* .kb-job-status__table_head_row */
      &_row {
        font-weight: 700;

        .sorting::after,
        .sorting_asc::after,
        .sorting_desc::after {
          left: 5px !important;
          bottom: 0 !important;
          position: relative !important;
          display: inline-block !important;
        }
      }

      /* .kb-job-status__table_head_cell */
      &_cell {
        @include table-cell;
      }
    }

    /* .kb-job-status__table_footer */
    &_footer {
      @include body-text;
    }
  }

  &__row {
    border-bottom: 1px solid use-color('base-lightest');

    &:hover {
      background: use-color('disabled-light');
    }

    /* .kb-job-status__row--selected */
    &--selected {
      background: use-color('primary-lighter');

      &:hover {
        background: use-color('base-lightest');
      }
    }
  }

  &__cell {
    /* .kb-job-status__table_cell--action */
    &--action {
      text-transform: uppercase;
    }

    &--status {
      text-transform: capitalize;
    }
    /*
      .kb-job-status__table_cell--action,
      .kb-job-status__table_cell--log-view,
      .kb-job-status__table_cell--object,
      .kb-job-status__table_cell--status
    */
    &--action,
    &--log-view,
    &--object,
    &--status {
      @include table-cell;
    }
  }

  &__icon {
    margin: 4px;

    /*
      .kb-job-status__icon--completed
    */
    &--completed {
      color: use-color('success-dark');
    }

    /*
      .kb-job-status__icon--error,
      .kb-job-status__icon--does_not_exist
    */
    &--error,
    &--does_not_exist {
      color: use-color('error');
    }

    /*
      .kb-job-status__icon--terminated
    */
    &--terminated {
      color: use-color('warning-dark');
    }

    /*
      .kb-job-status__icon--queued,
      .kb-job-status__icon--created,
      .kb-job-status__icon--estimating,
      .kb-job-status__icon--running
    */
    &--queued,
    &--created,
    &--estimating,
    &--running {
      color: use-color('info');
    }
  }

  /* .kb-job-status__summary */
  &__summary {
    color: use-color('ink');
    font-weight: 700;

    /* .kb-job-status__summary--completed */
    &--completed {
      color: use-color('success-dark');
      font-weight: 700;
    }

    /*
      .kb-job-status__summary--error,
      .kb-job-status__summary--does_not_exist
    */
    &--error,
    &--does_not_exist {
      color: use-color('error');
      font-weight: 700;
    }

    /*
      .kb-job-status__summary--terminated
    */
    &--terminated {
      color: use-color('warning-dark');
      font-weight: 700;
    }
  }

  /* .kb-job-status__param_list */
  &__param_list {
    @include body-text;
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
  }

  /* .kb-job-status__log_container */
  &__log_container {
    background-color: use-color('info-lighter');
    border-bottom: 1px solid use-color('base-lightest');
    padding: 1rem;
  }
}
