.kb-job-action {
  &__dropdown {
    &_header {
      font-weight: 700;
      text-transform: uppercase;
    }

    // .kb-job-status__dropdown-menu
    &-menu {
      @include body-text;

      line-height: 2.5;
      padding: 0;

      // .kb-job-status__dropdown-menu-item
      &-item {
        // .kb-job-status__dropdown-menu-item-link
        &-link {
          &--retry,
          &--cancel {
            @include body-text;

            background: use-color('white');
            border: 0;
            border-bottom: 1px solid rgb(0 0 0 / 15%);
            line-height: 2.5;
            text-align: left;
            width: 100%;

            &:disabled {
              color: use-color('base');
              cursor: not-allowed;
            }

            &:hover,
            &:active {
              &:disabled {
                background: use-color('base-light');
                color: use-color('white');
              }
            }
          }

          &--retry {
            color: use-color('primary');

            &:hover,
            &:active {
              background: use-color('primary');
              color: use-color('white');
            }
          }

          &--cancel {
            color: use-color('error-dark');

            &:hover,
            &:active {
              background: use-color('error');
              color: use-color('white');
            }
          }
        }
      }
    }
  }
}
