.kb-job-state {
  &__cell {
    /* .kb-job-state__cell--action */
    &--action {}

    /* .kb-job-state__cell--object */
    &--object {}

    /* .kb-job-state__cell--status */
    &--status {
      font-weight: 700;
      color: rgb(0, 0, 0);
    }
  }

  &__icon {
    /*  .kb-job-state__icon--completed,
        .kb-job-state__icon--queued,
        .kb-job-state__icon--running
    */
    &--completed,
    &--queued,
    &--running {
      color: rgb(0, 128, 0);
    }

    /*  .kb-job-state__icon--error */
    &--error {
      color: rgb(255, 0, 0);
    }

    /*  .kb-job-state__icon--does_not_exist,
        .kb-job-state__icon--terminated
    */
    &--does_not_exist,
    &--terminated {
      color: rgb(255, 165, 0);
    }
  }
}
