// large icons
$icon-size-default: 56px;
$icon-padding: 3px;
$icon-size-image: $icon-size-default - 2*$icon-padding;
$top-shift: 6px;
$left-shift: 8px;
$outline-offset: 1px;

// see also .kb-cell-toolbar__app_icon

.kb-icon {
  // kb-icon__container
  &__container {
    // kb-icon__container--image
    &--image {
      display: block;
    }

    /* kb-icon__container--data,
      kb-icon__container--data-stack */
    &--data,
    &--data-stack {
      cursor: pointer;
    }

    &--data,
    &--app,
    &--app-toolbar,
    &--generic,
    &--generic-toolbar,
    &--type,
    &--type-toolbar {
      font-size: 2em;
    }

    &--data-stack {
      font-size: 1.7em;
    }
  }

  &__icon_background {
    //  .kb-icon__icon_background--app,
    //  .kb-icon__icon_background--app-toolbar
    &--app,
    &--app-toolbar {
      color: use-color('icon-app');
    }

    //  .kb-icon__icon_background--generic,
    //  .kb-icon__icon_background--generic-toolbar
    &--generic,
    &--generic-toolbar {
      color: use-color('icon-generic');
    }

    //  .kb-icon__icon_background--type,
    //  .kb-icon__icon_background--type-toolbar
    &--type,
    &--type-toolbar {
      color: use-color('icon-type');
    }
  }

  &__img {
    &--image {
      margin: $icon-padding;
      max-height: $icon-size-image;
      max-width: $icon-size-image;
    }
  }

  // For shifting over logos that are stacked on top of each other
  &__outline--l1 {
    margin-left: $outline-offset;
    margin-top: $outline-offset;
  }

  &__stack--l1 {
    margin-left: $left-shift;
    margin-top: $top-shift;
  }

  &__outline--l2 {
    margin-left: $outline-offset + $left-shift;
    margin-top: $outline-offset + $top-shift;
  }

  &__stack--l2 {
    margin-left: 2*$left-shift;
    margin-top: 2*$top-shift;
  }

  &__outline--l1,
  &__outline--l2 {
    color: use-color('white');
  }
}

.kb-data-list-logo {
  background-color: rgb(96 125 139);
  border: 0 solid rgb(85 85 85);
  border-radius: 50%;
  color: rgb(255 255 255);
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  height: 40px;
  padding-top: 8px;
  text-align: center;
  text-shadow: -1px 0 rgb(119 119 119), 0 1px rgb(119 119 119), 1px 0 rgb(119 119 119), 0 -1px rgb(119 119 119);
  width: 40px;
}
