.kbaseTabs-delete-button {
    padding: 0;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    font-size: 10px;
    margin-bottom: 3px;
    outline: none;
    border: 0;
    background-color: transparent;
}