.app-icon:hover {
  opacity: 0.9;
  text-decoration: none;
}

.nav > li > a {
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

#kbase-search-box {
  width: 300px;
}

#signin-button {
  display: inline-block;
  padding: 0 15px 0 0;
}

/* override bootstrap .wrapper */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

#core-model {
  overflow-x: auto;
}

#logo {
  margin: 2px 10px 0;
}

table {
  font-size: 14px !important;
}

.media-info-modal {
  width: 800px;
}

#selected-workspace {
  margin: 17px 14px 15px 0;
}

.tab-view {
  margin: 10px 0 0;
}

/* mv */

.search-query {
  margin: 0 0 5px;
  width: 100%;
}

.caret-up {
  border-color: currentcolor transparent rgb(255 255 255);
  border-style: dotted solid solid;
  border-width: 0 4px 4px;
  content: '';
  display: inline-block;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  width: 0;
}

.scroll-pane {
  height: 200px;
  overflow: hidden scroll;
}

#select-box tr td {
  padding: 6px;
}

.selected-ws {
  background-color: rgb(66 139 202);
  color: rgb(255 255 255);

  &:hover {
    /* fixme */
    background-color: rgb(66 139 202) !important;
  }
}

.side-bar-switch {
  margin: 0 0 10px;

  li {
    font-size: 12px;

    a {
      padding: 5px 10px;
    }
  }
}

.selected-obj-alert {
  margin-bottom: 5px;
  padding-bottom: 10px;

  /* override */
  padding-top: 10px;
}

.heatmap-view {
  overflow-x: scroll;
}

/* ws browser */

.ws-selector {
  margin: 10px 0 0;

  &.btn-ws-settings {
    position: absolute;
    right: 30px;
  }
}

.object-view {
  margin: 10px 0 0;
}

.select-ws {
  .badge {
    margin: 0 4px 0 0;
  }

  .btn-ws-settings {
    padding: 0 5px;
  }
}

.modal-alert {
  margin: 10px 15px 0;
  padding: 8px 15px;
}

.modal-cover {
  position: absolute;
  z-index: 10;
}

.modal-cover-table {
  display: table;
  height: 100%;
  position: static;
  width: 100%;
}

.modal-cover-cell {
  display: table-cell;
  position: static;
  vertical-align: middle;
}

.modal-cover-box {
  box-shadow: 7px 7px 5px rgb(136 136 136);
  display: inline-block;
  margin: 10px;
  padding: 5px 15px;
}

.modal-cover-content {
  background: rgb(255 255 255);
  border: 1px solid use-color('base');
  border-radius: 3px;
  padding: 5px;
}

.obj-table .dataTables_length label {
  margin: 7px 0 0;
}

.dataTables_info {
  float: left;
  margin: 0 10px 0 0;
}

.dataTables_length {
  float: left;
}

.ellipsis {
  display: inline-block;
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ws-descript {
  display: inline-block;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* custom checkboxes (prototyped) */

.ncheck {
  border: 1px solid use-color('base-lighter');
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 15px;

  &:hover {
    border: 1px solid rgb(68 68 68);
  }
}

.ncheck-btn {
  border: 1px solid rgb(136 136 136);
  height: 15px;
  margin: 4px 0 4px -1px;
  width: 15px;

  &:hover {
    border: 1px solid rgb(68 68 68);
  }
}

.ncheck-checked {
  background: url(../img/checkmark.png) no-repeat -5px -4px;
  background-image: image-set(url(../img/checkmark.png) 1x, url(../img/checkmark_2x.png) 2x);
}

.ncheck-minus {
  background: url(../img/checkmark-partial.png) no-repeat -5px -5px;
  background-image: image-set(url(../img/checkmark-partial.png) 1x, url(../img/checkmark-partial_2x.png) 2x);
}

.btn-select-all {
  height: 34px;
  margin: 0 20px 0 0;
}

.type-filter {
  margin: 0 20px 0 0;
}

.btn-trash {
  margin: 3px 20px 0 0;
}

.btn-show-info .glyphicon {
  padding: 0 0 4px;
}

.open-obj {
  margin: 7px 0 0 20px;
}

/******************     narrative     ***************/

#login-form {
  margin: 70px 0 0;
}

#narrative-nav,
.recent-narratives,
.recent-projects {
  margin: 0;
  padding: 0;
}

.group-item-expander {
  background: rgb(242 242 242);

  /* #d6eaff; */

  &:hover {
    cursor: hand;
    cursor: pointer;
  }
}

.btn-new-narrative {
  margin: 0 20px 0 0;
}

.btn-delete-narrative {
  cursor: hand;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

/* changing z index for datatable fixed header */

.navbar-fixed-top {
  z-index: 500;
}

.FixedHeader_Header {
  background: rgb(255 255 255);
  height: 44px;
  margin: -6px 0 0;
}

.narrative-sidebar li {
  list-style: none;
}

@media (width >= 960px) {
  .narrative-sidebar {
    position: fixed;
    width: 20%;
  }
}

.sidebar-header,
.view-header {
  color: rgb(137 137 137);
  font-family: $typeface-display-legacy;
  font-weight: 400;
  letter-spacing: 0;
}

.sidebar-header {
  font-size: 14px;
}

.view-header {
  font-size: 1.5em;
  line-height: 1.75;
}

.active .btn-narr {
  background-color: rgb(187 232 249);
  border: 1px solid rgb(66 139 202);
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

.btn-narr {
  background-color: rgb(242 242 242);
  border: 1px solid rgb(219 219 219);
  color: rgb(109 168 207);
  font: 14px $typeface-display-legacy;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

.nav-sidebar {
  top: 70px;

  li {
    font-family: $typeface-display-legacy;
    list-style: none;
    margin-bottom: 10px;
    text-align: left;
  }

  > li > a {
    padding: 7px 15px;
  }
}

.navbar-nav {
  color: rgb(109 168 207);
  font-family: $typeface-display-legacy;

  > {
    li {
      > a:hover {
        background-color: rgb(255 255 255);
      }

      &.active {
        &:hover,
        > a {
          border-bottom: 4px solid rgb(66 139 202);
          box-sizing: border-box;
          color: use-color('blue-hlink') !important;
          height: 50px;
        }
      }
    }

    .active:hover {
      color: use-color('blue-hlink');
    }
  }
}

#wrap {
  height: auto;

  /* Negative indent footer by its height */
  margin: 0 auto -58px;
  min-height: 100%;

  /* Pad bottom by footer height */
  padding: 0 0 80px;
}

/* for the footer */

#footer {
  height: 58px;

  ul {
    text-align: center;

    li {
      display: inline;
      padding: 7px 5px 5px 1px;

      &::after {
        color: rgb(187 187 187);
        content: '\2022';
        font-size: 10px;
        padding-left: 10px;
      }

      &:last-child::after,
      &:nth-last-child(2)::after {
        content: '';
      }
    }
  }

  img {
    position: relative;
    top: -3px;
  }

  .disclaimer {
    background-color: rgb(169 68 66);
    bottom: 0;
    color: rgb(255 255 255);
    display: block;
    font-weight: 700;
    position: fixed;
    text-align: center;
    width: 100%;
  }
}

.KBSnode {
  rect {
    cursor: pointer;
    fill: rgb(255 255 255);
    fill-opacity: 0.5;
    stroke: rgb(49 130 189);
    stroke-width: 1.5px;
  }

  text {
    font: 80% sans-serif;
    pointer-events: none;
  }
}
