$kb-narr-outline: 2px solid use-color('base-lighter');

.kb-narr-outline {
  padding: 0.5em 0.5em 0.5em 0.25em;

  ul {
    list-style: none;
    padding: 0;
    position: relative;

    ul {
      padding-left: 1.5em;
    }

    li:not(:last-of-type)::before {
      border-left: $kb-narr-outline;
      content: '';
      height: calc(100% + 0.25em);
      left: -0.5em;
      position: absolute;
      top: 0;
    }
  }

  li {
    position: relative;
  }

  &__item {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    left: 0;
    padding: 0.1em;
    padding-bottom: 0.3em;
    position: relative;
    top: 0;

    &::before {
      background-color: transparent;
      border-radius: 0.333em;
      border: 1px solid transparent;
      bottom: 0.2em;
      content: "";
      position: absolute;
      top: 0;
      transition: background-color 100ms linear, border 100ms linear;
      width: 100%;
      z-index: -1;
    }

    &::after {
      border-bottom: $kb-narr-outline;
      border-left: $kb-narr-outline;
      bottom: calc(50% + 1px);
      content: "";
      height: calc(50% - 0.25em);
      left: -0.5em;
      position: absolute;
      width: 0.5em;
    }

    &-content {
      display: block;
      flex-grow: 0;
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-icon {
      display: inline-block;
      transform: scale(0.5);
      transform-origin: top left;

      &-wrapper {
        border-radius: 10px;
        display: block;
        flex-grow: 0;
        flex-shrink: 0;
        height: 2em;
        margin-left: 0.1em;
        margin-right: 0.5em;
        max-width: 2em;
        overflow: hidden;
      }
    }

    &--highlight::before {
      background-color: use-color('base-lightest');
      border: 1px solid use-color('base-light');
    }

    &--highlight-selected::before {
      background-color: use-rgba-color('mid-green', 0.15);
      border: 1px solid use-color('mid-green');
    }
  }
}

.kb-narr-outline ul ul .kb-narr-outline__item::after {
  border-bottom: $kb-narr-outline;
  border-left: $kb-narr-outline;
  bottom: calc(50% + 1px);
  content: '';
  height: calc(50% - 0.25em);
  left: -0.5em;
  position: absolute;
  width: 0.5em;
}
