.kb-ga-seq {
  font-family: $typeface-fixed-width;
  max-height: 100px;
  max-width: 300px;
  overflow-y: auto;
  word-wrap: break-word;
}

/**
 * Shim to make sure jQuery-ui dialogs are always on front of other DOM elements.
 */

.ui-front {
  z-index: 1000;
}

.whiteout-pane {
  background-color: rgb(255 255 255);
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1001;
}

#kb-narr-name {
  font: normal 700 18px/1.2 $typeface-page-text;
  overflow: hidden;
  padding-bottom: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    text-overflow: inherit;
    white-space: normal;
  }
}

#save_widget {
  padding: 0;
}

#kb-narr-creator,
#save_widget {
  font-family: $typeface-page-text;
  font-weight: 700;
}

.kb-narr-namestamp {
  border-left: 2px solid rgb(206 206 206);
  display: block;
  flex: 2;
  margin: 5px auto 0;
  min-width: 0;
  padding-left: 20px;
}

.kb-narr-namestamp__error_container {
  font-size: 200%;
  line-height: 1.5;
}

.ui-draggable.kb-data-inflight {
  background-color: rgb(254 255 214) !important;
  border: 2px solid rgb(128 128 128);
  border-radius: 4px;
  display: block;
  z-index: 1000;

  &.-over {
    background-color: rgb(239 252 235) !important;
    border-color: rgb(0 128 0);
  }
}

.kb-data-list-drag-target {
  border: 2px dashed rgb(255 165 0);
  border-radius: 4px;
  display: block;
  height: 40px;
  padding: 6px;
  text-align: center;
  transition: all 0.25s ease;

  &.-drag-active {
    background-color: rgb(254 255 214);
  }

  &.-drag-hover {
    background-color: rgb(239 252 235);
    border-color: rgb(0 128 0);
    height: 90px;
    transition: all 0.25s ease;
  }
}

#kb-notify-area {
  float: left;
  position: relative;
}

.kb-navbar-buttons {
  border-right: 2px solid rgb(206 206 206);
  display: inline-block;
  margin-right: 15px;
  padding-right: 15px;
}

header[role="banner"] {
  background-color: rgb(255 255 255);
  border-bottom: 1px solid rgb(206 206 206);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav[role="navigation"] ul {
  margin: 1.2em 0 0.5em;
  padding-left: 0;

  li {
    display: inline;
    margin: 0 0.5em;
    vertical-align: middle;

    a {
      background-color: rgb(92 149 49);
      border: 1px solid rgb(92 149 49);
      border-radius: 8px;
      box-shadow: inset 0 3px 8px rgb(0 0 0 / 12.5%);
      color: rgb(255 255 255);
      font: normal 700 1.2em $typeface-page-text;
      padding: 7px 1em;
      text-decoration: none;
    }
  }
}

input#search_terms { /* FIXME */
  background-image: url(../images/search.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 22px;
  border-color: rgb(92 149 49);
  border-radius: 0 4px 4px 0;
  display: inline;
  font-size: 1em;
  left: -0.5em;
  margin-top: -3px;
  padding: 0.4em 1em;
  position: relative;
}

span#searchspan { /* FIXME */
  display: inline-block;
  width: 50%;
}

@media screen and (width <= 1170px) {
  span#searchspan {
    width: 50%;
  }
}

@media screen and (width <= 980px) {
  span#searchspan {
    width: 40%;
  }
}

@media screen and (width <= 768px) {
  span#searchspan {
    width: 30%;
  }
}

@media screen and (width <= 590px) {
  span#searchspan {
    width: 60%;
  }
}

.navbar-kbase {
  background-color: rgb(255 255 255);
  border-bottom: 5px solid rgb(206 206 206) !important;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
  padding: 8px;

  a:hover {
    cursor: pointer;
  }
}

/* Top bar nav buttons
   --------------------------
*/

.kb-nav-btn {
  background-color: rgb(255 255 255);
  border: 0;
  box-shadow: 0 0 3px rgb(206 206 206);
  font-size: 24px;
  margin: 0 5px 0 0;
  min-width: 50px;
  padding: 1px 7px;
  text-shadow: none !important;

  > div {
    color: use-color('base') !important;
  }

  .kb-nav-btn-txt {
    font-size: 13px;
    margin-top: -5px;
  }
}

.navbar-right .fa::before {
  /* color nav icons */
  color: use-color('mid-blue');
}

.kb-navbar-container {
  display: flex;
  justify-content: space-between;
}

#kb-nav-menu {
  box-shadow: none;
}

.kb-nav-menu__container {
  display: inline-block;
}

.navbar-right .kb-nav-btn:hover {
  background-color: rgb(245 245 245);
}

.kb-nav-btn-upgrade {
  background-color: use-color('mid-green') !important;
  display: none;

  .fa::before,
  > div {
    color: rgb(255 255 255) !important;
  }

  &:hover {
    background-color: rgb(67 160 71) !important;
  }

  &.warning {
    background-color: rgb(244 67 54) !important;

    &:hover {
      background-color: rgb(220 60 49) !important;
    }
  }
}

.kb-nav-menu-icon {
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  width: 20px;

  .fa {
    font-size: 150%;
  }
}

#kb-ipy-menu {
  /* restore rounded corners */
  border-radius: 4px !important;
  margin-right: 0;
}

#signin-button .btn {
  border: 0;
}

.btn-xs .glyphicon-user {
  /* also resize user btn */
  padding: 14px 5px;
}

/* -------------------------- */

.narrative-menu-container {
  background-color: rgb(255 255 255);
  border-bottom: 1px solid rgb(171 171 171);
  margin-left: auto;
  margin-top: -10px;
  padding-bottom: 30px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
  z-index: 499;
}

p.clear {
  clear: both;
  height: 0;
}

body > #header {
  box-sizing: border-box;
  display: block;
}

p#site-title { /* FIXME */
  background: url(../images/kbase_logo.png) no-repeat;
  background-size: 46px;
  float: left;
  height: 46px;
  margin: 5px;
  text-indent: -9999px;
  width: 46px;
}

#login-info {
  font-size: 1.2em;
  margin: 5px;
  position: absolute;
  right: 0;
  top: 7px;
}

#login-widget button {
  margin-left: 5px;
}

.search-box {
  border-collapse: separate;
  display: inline;
  margin: -11px 0;
  padding: 10px 1px;
  position: relative;
  width: 200px;
}

#search-box-name {
  border: 0;
  border-radius: 4px;
  padding: 6px 0;

  &:first-child {
    border-bottom-right-radius: 0;
    border-right: 0;
    border-top-right-radius: 0;
  }

  &:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

#search-input {
  margin: -11px 0;
}

#search-select {
  margin: -11px 0;
  width: 150px;
}

#search-area {
  color: rgb(104 104 104);
  font: normal 400 18px $typeface-page-text;
  margin: 0 5px;
  padding: 11px;
  position: relative;

  input {
    padding: 11px;
  }
}

/* center pane */

#workspace {
  bottom: 42px;
  overflow: auto;
  position: fixed;
  top: 173px;
  width: 878px;
}

/* footer */

#bottom-tabs {
  background-color: rgb(255 255 255);
  border-top: 1px solid rgb(170 170 170);
  bottom: 0;
  clear: left;
  margin: 0 auto;
  position: fixed;
  width: 1170px;

  p a {
    background-color: rgb(255 255 255);
    border: 1px solid rgb(1 136 65);
    font-size: 14px;
    padding: 14px 20px;
  }
}

/* left pane styling */

#left-column {
  border-right: 5px solid rgb(206 206 206);
  bottom: 0;
  position: fixed;
  top: 70px;
  width: 380px;
}

.kb-side-overlay-container {
  background: rgb(255 255 255);
  border: 1px solid rgb(206 206 206);
  max-height: calc(100% - 73px);
  overflow-y: auto;
  position: fixed;
  width: 730px;
  z-index: 1030;
}

.kb-side-overlay-header {
  background-color: use-color('mid-blue');
  color: rgb(255 255 255);
  font-size: 16px;
  padding: 6px;
  width: 100%;
}

.kb-side-overlay-close {
  color: rgb(255 255 255);
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;

  &:hover {
    color: rgb(255 165 0);
  }
}

.kb-side-panel {
  height: 100%;
  overflow-y: hidden;
}

#kb-side-toggle-in {
  background-color: use-color('mid-blue');
  border-bottom: 6px solid rgb(206 206 206);
  border-right: 6px solid rgb(206 206 206);
  color: use-color('primary-lighter');
  cursor: pointer;
  display: none;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 6px;
  position: fixed;
  text-align: center;
  top: 70px;
  user-select: none;
  width: 22px;
  z-index: 1;

  &:hover {
    color: rgb(255 255 255);
  }
}

.kb-side-toggle {
  background-color: use-color('mid-blue');
  border-bottom: 6px solid use-color('mid-blue');
  border-top: 6px solid use-color('mid-blue');
  color: use-color('primary-lighter');
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding: 6px;
  text-align: center;
  user-select: none;

  &:hover {
    color: rgb(255 255 255);
  }
}

.kb-side-header {
  background-color: use-color('mid-blue');
  border-bottom: 6px solid use-color('mid-blue');
  border-top: 6px solid use-color('mid-blue');
  color: use-color('primary-lighter');
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding: 6px;
  text-align: center;
  user-select: none;

  &.active,
  &:hover {
    border-bottom: 6px solid rgb(16 206 52);
  }

  &.active {
    color: rgb(255 255 255);
    cursor: auto;
  }
}

.kb-overlay-active {
  background-color: rgb(128 128 128);
  border-bottom: 6px solid rgb(128 128 128);
  border-top: 6px solid rgb(128 128 128);
}

.kb-side-separator {
  border-bottom: 5px solid rgb(206 206 206);
}

.kb-side-tab {
  display: none;

  &.active {
    display: inherit;
  }
}

.kb-narr-side-panel-set,
.kb-side-tab {
  height: 100%;
}

.kb-narr-side-panel-set:last-child {
  height: 50%;
}

.kb-overlay-dimmer {
  background-color: rgb(0 0 0);
  bottom: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  z-index: 10;
}

#data-header {
  background-color: rgb(0 153 153);
  color: rgb(255 255 255);
  font-weight: 700;
  padding: 10px 0;
}

#data-title {
  text-align: center;
}

#data-add-btn {
  font-size: 0.8em;
  padding: 0;
  position: absolute;
  right: 7px;

  &:hover {
    color: rgb(0 0 0);
  }
}

#data-tab-nav {
  background-color: rgb(0 187 187);
  border-bottom: 1px solid rgb(170 170 170);
  padding-top: 10px;
  width: 100%;

  ul {
    bottom: 0;
    padding-bottom: 0;
    top: 50px;

    li {
      background-color: rgb(221 221 221);
      border: 1px solid rgb(0 0 0);
      display: inline;
      padding: 4px 10px;

      a {
        color: rgb(0 0 0);

        &:hover {
          color: rgb(170 0 0);
          text-decoration: none;
        }
      }

      &.selected {
        background-color: rgb(255 255 255);
      }
    }
  }
}

#data-view-panel {
  border: 1px solid rgb(170 170 170);
  height: 150px;
  overflow-y: auto;
  padding: 10px;
}

#data-pane {
  border-bottom: 1px solid rgb(170 170 170);
  height: 69%;
  margin-top: 1px;
  overflow: auto;

  p {
    margin: 0;

    span {
      border: 1px solid rgb(255 255 255);
      color: rgb(255 255 255);
      display: block;
      margin: 0;
      padding: 2px 10px;
      text-align: center;
      width: 123px;

      &.tab1 {
        background: linear-gradient(use-color('base'), rgb(187 187 187));
        color: rgb(255 255 255);
        float: right;
      }

      &.tab2 {
        background: linear-gradient(use-color('base-lighter'), use-color('base-light'));
      }
    }
  }
}

#function-pane {
  height: 30%;
  margin-top: 1px;
  overflow: auto;
}

.left-pane {
  font-size: 14px;
  position: relative;
}

#kb-function-panel .kb-function-body {
  height: 100%;
  max-height: 100%;
}

h3.pane-title {
  background-color: rgb(224 224 224);
  border: 1px solid use-color('silver');
  font-size: 16px;
  margin: 0;
  padding: 3px 5px;
  position: relative;
}

#add-link {
  font-size: 0.8em;
  position: absolute;
  right: 7px;
  top: 4px;
}

ul.pane-list {
  margin: 0;
  padding: 2px;

  li {
    list-style: none;
    margin-left: 5px;
    padding: 1px;
  }
}

/* --- KBase method list styles -- */

.kb-method-list-logo {
  background-color: rgb(96 125 139);
  border: 0 solid rgb(85 85 85);
  color: rgb(255 255 255);
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  height: 40px;
  padding-top: 8px;
  text-align: center;
  text-shadow: -1px 0 rgb(119 119 119), 0 1px rgb(119 119 119), 1px 0 rgb(119 119 119), 0 -1px rgb(119 119 119);
  width: 40px;

  &:hover {
    border-width: 5px;
    padding-top: 3px;
  }
}

.kb-method-list-more-div {
  color: rgb(119 119 119);
  font-size: 13px;
  margin: 2px;
  text-align: justify;

  > div:last-child {
    text-align: right;
  }
}

.kb-method-search-clear {
  border: 1px solid rgb(206 206 206);
  border-left: 0;
  cursor: pointer;
}

/* A function in the function pane */

li {
  &.function a {
    color: rgb(80 130 50);
    text-decoration: none;

    &:visited {
      /* don't recolor */
      color: rgb(80 130 50);
    }
  }

  &.dataset a {
    color: rgb(130 80 50);
    text-decoration: none;

    &:visited {
      /* don't recolor */
      color: rgb(130 80 50);
    }
  }
}

/* dataset in data pane */

/* dialog box + forms styling */

.dialog-box {
  padding: 20px;

  ul li {
    border-bottom: 1px solid rgb(170 170 170);
    font-size: 1.2em;
    padding: 50px 5px;

    &:first-child {
      padding-top: 20px;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

fieldset {
  border: 0;
  margin: 0 0 15px;

  label {
    font-size: 1em;
    font-weight: 700;
    margin: 0 0 3px;
  }

  input {
    &[type="password"],
    &[type="text"] {
      width: 200px;
    }
  }

  select {
    width: 200px;
  }
}

/* styling of cells */

div {
  &.dataset-cell,
  &.function-cell {
    border: 1px solid use-color('base-lighter');
    margin: 3px auto;
    padding: 7px 17px;
    width: 90%;
  }

  &.texttools,
  &.tools {
    p {
      margin: 0;
    }
  }

  &.textarea {
    border: 0;
    display: none;
    height: auto;
    min-height: 1.2em;
    padding: 0;
    width: 650px;
  }

  &.metadata {
    display: block;
    float: left;
    height: 100px;
    padding: 0 10px;
    width: 200px;
  }

  &.social {
    display: none;
    float: right;
    padding: 0 10px;
    width: 80px;
  }
}

img.dataset-cell {
  margin: 3px auto;
  padding: 0;
}

.function-cell {
  background-image: url(../images/gears.png);
  background-position: 100%;
  background-repeat: no-repeat;
}

.dataset-cell,
.function-cell {
  p {
    font-size: 0.875em;
  }

  h2 {
    font-size: 1.1em;
    margin-bottom: 0;
  }
}

.textcell {
  border: 2px solid rgb(255 255 255);
  color: rgb(17 17 17);
  font-size: 1em;
  height: 1em;
  margin: 3px auto;
  padding: 5px 17px;
  width: 90%;

  &:hover {
    border: 2px dotted use-color('base-lighter');
  }
}

p.textcuepara {
  color: use-color('base-lighter');
  display: none;
  height: 1em;
  margin: 0;
  padding: 0;
}

.texttools {
  display: none;

  img {
    vertical-align: middle;
  }
}

.tools {
  display: none;
  height: 1em;
  margin-left: 10px;
  margin-top: 0.5em;

  a {
    border: 1px solid rgb(1 136 65);
    font-size: 13px;
    padding: 2px 4px;
  }
}

#narrative-header .tools {
  display: block;
  left: 350px;
  position: relative;
  top: -2em;
  width: 30em;
}

img.remove {
  float: right;
}

.ui-state-highlight {
  background-color: rgb(251 250 237);
}

p span.notification {
  background-color: rgb(255 51 51);
  border-radius: 1em;
  color: rgb(255 255 255);
  padding: 4px 8px;
}

/**
 * Bootstrap 3 submenu fix
 * http://stackoverflow.com/questions/18023493/bootstrap-3-dropdown-sub-menu-missing
 */

.dropdown-submenu {
  position: relative;

  > .dropdown-menu {
    border-radius: 0 6px 6px;
    left: 100%;
    margin-left: -1px;
    margin-top: -6px;
    top: 0;
  }

  &:hover {
    > .dropdown-menu {
      display: block;
    }

    > a::after {
      border-left-color: rgb(255 255 255);
    }
  }

  > a::after {
    border-color: transparent transparent transparent use-color('base-lighter');
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: ' ';
    display: block;
    float: right;
    height: 0;
    margin-right: -10px;
    margin-top: 5px;
    width: 0;
  }

  &.pull-left {
    float: none;

    > .dropdown-menu {
      border-radius: 6px 0 6px 6px;
      left: -100%;
      margin-left: 10px;
    }
  }
}

/** End Bootstrap 3 submenu fix **/

/* Fixes to bring toolbars up to Bootstrap 3 */

#maintoolbar {
  background-color: rgb(249 249 249) !important;
  background-image: none !important;
  border: 0 !important;
  box-shadow: none;
  min-height: 0;
  position: relative;
  top: 5px;
}

#maintoolbar-container {
  margin-left: 10px;
}

#menubar {
  background-color: rgb(249 249 249);
  border-bottom: 2px solid rgb(221 221 221);
  padding-bottom: 5px;
  position: absolute;
  top: 3px;
  width: 100%;

  .navbar .container {
    padding-left: 0;
    padding-right: 0;
  }
}

/* some more bootstrap hacks */

.navbar {
  background-color: rgb(248 248 248);
  background-image: none;
  min-height: 0;
}

#menubar .navbar-nav > li > a {
  padding-bottom: 7px;
  padding-top: 10px;
}

.btn-danger,
.btn-default,
.btn-info,
.btn-primary,
.btn-success,
.btn-warning,
.panel-default > .panel-heading {
  background-image: none;
}

#menus {
  padding-left: 0;
}

#menubar .navbar {
  margin-bottom: 5px;
  width: 100%;
}

div#notebook_panel { /* FIXME Jupyter css */
  box-shadow: none;
}

.version-stamp a {
  color: use-color('blue') !important;
}

.creator-stamp,
.version-stamp a {
  padding-right: 320px;
  text-align: right;
}

.creator-stamp {
  color: rgb(0 102 152);
  font: normal 700 120% $typeface-page-text;
  height: 1em;
}

.panel {
  margin-bottom: 0;
}

#kb-jobs-panel {
  margin-bottom: 5px;
}

.kb-narr-side-panel {
  height: 100%;
  margin-bottom: 5px;

  .kb-title {
    color: use-color('primary-vivid');
    font: normal 700 19px $typeface-page-text;
    padding: 10px 5px;
    text-transform: uppercase;
  }

  .btn {
    border: 0;
  }
}

/* From user and job state service */

.kbujs-table-container {
  height: auto;
}

.kbujs-timestamp {
  color: rgb(0 102 185);
  cursor: pointer;
}

.kbujs-error-cell {
  color: rgb(199 37 78);
  font-weight: 700;
}

.kbujs-error:hover {
  cursor: pointer;
}

.kbujs-loading-modal {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.kbujs-refresh-btn {
  position: absolute;
  right: 5px;
}

.kbujs-jobs-table {
  margin-left: auto !important;
  margin-right: auto !important;
}

.kbujs-loading {
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.kbujs-delete-job {
  cursor: pointer;
}

.kbujs-error-traceback {
  float: left;
  max-height: 250px;
  max-width: 516px;
  overflow: scroll scroll;
  white-space: nowrap;
}

/* For connecting lines */

.kb-line {
  background-color: rgb(211 211 211);
  position: absolute;
}

/* tab.js */

.nav-tabs .glyphicon-remove {
  color: rgb(170 170 170);
  margin: 0 0 0 3px;

  &:hover {
    color: use-color('base');
    cursor: hand;
    cursor: pointer;
  }
}

/**
 ** Formerly in kbaseNarrFuncResults.css
 **/

/* CSS for various narrative function results.
 * This is just a hacky, dummy place to dump css for different
 * result widgets. Something better will come along, once we burn
 * this down...
 */

/* Somehow a bunch of classes from jQuery.dataTables aren't getting added.
 * Putting them here in the hopes they don't clobber anything else, the way
 * the rest of dataTables might...
 */

.paging_full_numbers {
  height: 22px;
  line-height: 22px;

  a {
    &:active {
      outline: none;
    }

    &:hover {
      text-decoration: none;
    }

    &.paginate_active {
      background-color: rgb(153 179 255);
      border: 1px solid rgb(170 170 170);
      border-radius: 5px;
      color: rgb(51 51 51) !important;
      cursor: pointer;
      margin: 0 3px;
      padding: 2px 5px;
    }

    &.paginate_button {
      background-color: rgb(221 221 221);
      border: 1px solid rgb(170 170 170);
      border-radius: 5px;
      color: rgb(51 51 51) !important;
      cursor: pointer;
      margin: 0 3px;
      padding: 2px 5px;

      &:hover {
        background-color: use-color('base-lighter');
        text-decoration: none !important;
      }
    }
  }
}

/** End kbaseNarrFuncResults.css **/

/*****************************************************************************
 ** Formerly in kbaseNarrFunc.css
 *****************************************************************************/

/*
 * Styles for KBase Narrative notebook page, function panel
 */

/* Header for panel */

.kb-function-header {
  background-color: rgb(182 233 248);
  color: rgb(0 100 182);
  font-weight: 700;
  margin-bottom: 3px;
  padding: 10px 0;
  text-align: center;
}

.kb-narr-panel-body {
  height: 100%;
  padding: 3px;

  > div {
    height: 100%;
  }
}

.kb-narr-panel-body-wrapper {
  height: 100%;
  overflow-y: auto;

  > div {
    height: 100%;
  }
}

.kb-narr-panel-toggle {
  color: rgb(136 136 136);
  cursor: pointer;
  margin-right: 4px;
  margin-top: -4px;
  user-select: none;
}

/* Container for func list */

.kb-function-body {
  height: 100%;
  width: 100%;

  .accordion .panel .panel-body {
    padding: 0 0 0 5px;
  }

  ul {
    border: 1px solid rgb(221 221 221);
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {
    padding: 5px;
    text-align: left;
    width: 100%;

    &:nth-child(odd) {
      background-color: use-color('base-lightest');
      border-bottom: 1px solid rgb(221 221 221);
    }

    &:nth-child(2n) {
      background-color: rgb(255 255 255);
      border-bottom: 1px solid rgb(221 221 221);
    }

    &:hover {
      background-color: rgb(244 245 214);
      cursor: pointer;
      text-decoration: underline;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

/* alt. rows */

/* Link to a function */

.kb-function-error {
  background-color: rgb(242 222 222) !important;
  border-color: rgb(238 211 215) !important;
  color: rgb(185 74 72);
}

/* Help on a function */

.kb-function-help {
  color: rgb(86 85 158);
  cursor: pointer;
  float: right;
  font-size: 19px;
  padding: 0 3px;

  &:hover {
    color: rgb(0 0 0);
  }
}

.kb-function-help-popup {
  cursor: pointer;
  left: 300px;
  max-width: 300px;
  position: absolute;
  top: 0;
  z-index: 99;

  h1 {
    color: rgb(48 118 162);
    font-size: 110%;
    margin: -10px 0 0;
    padding: 0;
  }

  h2 {
    color: use-color('base-light');
    font-size: 80%;
    font-style: italic;
    font-weight: 100;
    margin: 10px 0 -10px;
    padding-top: 5px;
    text-align: right;
  }

  .header {
    background-color: rgb(255 255 255);
    color: rgb(48 118 162);
    font-size: 120%;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  a {
    font-weight: 700;
    text-decoration: underline;
  }

  .version {
    color: use-color('base');
    font-size: 80%;
  }

  .body {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

#kb-function-help {
  cursor: pointer;
  left: 300px;
  position: absolute;
  top: 400px;
  width: 250px;
  z-index: 99;

  h1 {
    color: rgb(48 118 162);
    font-size: 110%;
    margin: -10px 0 0;
    padding: 0;
  }

  h2 {
    color: use-color('base-light');
    font-size: 80%;
    font-style: italic;
    font-weight: 100;
    margin: 10px 0 -10px;
    padding-top: 5px;
    text-align: right;
  }
}

#kb-function-error-traceback {
  float: left;
  max-width: 250px;
  overflow-x: scroll;
  white-space: nowrap;
}

.kb-function-dim {
  background-color: use-color('base-lightest') !important;

  .panel-heading {
    background-color: use-color('base-lightest') !important;
  }
}

.kb-function-cat-dim {
  background-color: rgb(221 221 221) !important;
  border-color: rgb(221 221 221) !important;

  .panel-heading {
    background-color: rgb(221 221 221) !important;
    border-color: rgb(221 221 221) !important;
  }
}

.kb-function-toggle {
  color: use-color('blue');
  cursor: pointer;
  font-style: italic;
}

.kb-toolbar-open {
  border-bottom: 1px solid use-color('base-lighter');
  border-radius: 0;
}

.selected .kb-toolbar-open {
  background-color: rgb(223 240 216);
  border-bottom: 1px solid use-color('mid-green');
  border-left: 1px solid use-color('mid-green');
}

.unselected .kb-toolbar-open {
  background: none;
}

.selected.kb-error .kb-toolbar-open {
  background-color: rgb(242 222 222);
  border-color: rgb(217 83 79);
}

/* ------------------------------------------------- */

/* IPython cells */

.kb-cell-run {
  opacity: 1;
  z-index: auto;

  h1 {
    color: use-color('primary-vivid');
    display: inline;
    font: normal 400 16px/1 $typeface-page-text;
    margin: 3px 13px 3px 3px;
    opacity: inherit;
  }

  div.kb-func-desc {
    display: block;
    opacity: inherit;
  }

  h2 {
    color: use-color('base');
    font: normal 400 15px/1.5 $typeface-page-text;
    margin: 3px;
    opacity: inherit;
  }

  form {
    input[type="submit"] {
      float: right;
      margin-top: 5px;
      opacity: inherit;
    }

    .buttons {
      float: right;
      margin-top: 5px;
    }
  }
  // grey out the form while running
  &.running form {
    opacity: 0.6;
  }
}

.kb-cell-params table {
  border: 0;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  opacity: inherit;

  > tr {
    border: 0;
    vertical-align: middle;
  }
}

td {
  border: 0;
  vertical-align: middle;
}

.kb-cell-params {
  tbody > tr > {
    td,
    th {
      padding: 2px 4px;
    }
  }

  tfoot > tr > {
    td,
    th {
      padding: 2px 4px;
    }
  }

  thead > tr > {
    td,
    th {
      padding: 2px 4px;
    }
  }

  tr:hover {
    td,
    th {
      background: use-color('base-lightest');
    }
  }
}

/* progress bar */

.kb-cell-progress {
  display: none;

  &.running {
    display: block;
  }
}

.kb-cell-progressbar {
  height: 20px;
  width: 400px;
}

.kb-out-desc {
  color: use-color('primary-vivid');
}

.kb-err-desc,
.kb-out-desc {
  display: inline;
  font: normal 400 16px/1 $typeface-page-text;
  margin: 3px;
  opacity: inherit;
}

.kb-err-desc {
  color: rgb(169 68 66);
}

.kb-err-msg {
  font-size: 80% !important;
}

.kb-out-header {
  background-color: rgb(221 221 221);
  padding: 10px;
}

.kb-func-timestamp {
  color: rgb(85 85 85);
  font: 13px $typeface-page-text;
  margin-top: -3px;
  padding-right: 1em;
}

.unselected .kb-func-timestamp {
  color: use-color('silver');
}

.kb-func-panel {
  border-color: rgb(188 232 241);
  border-radius: 1px;

  > .panel-heading {
    background-color: rgb(217 237 247);
    border-color: rgb(188 232 241);
    border-radius: 1px;
    color: rgb(49 112 143);
    padding: 5px 10px;
  }

  .panel-body {
    font-family: $typeface-page-text;
    padding: 0 10px;
  }

  > {
    .panel-heading + .panel-collapse .panel-body {
      border-top-color: rgb(188 232 241);
    }

    .panel-footer + .panel-collapse .panel-body {
      border-bottom-color: rgb(188 232 241);
    }
  }
}

/** output cell styling */

.kb-cell-output {
  .panel {
    border-radius: 0;
  }

  .panel-heading {
    padding: 5px 10px;
  }

  /* override from some jupyter style? */
  .nav > li > a {
    padding: 5px 10px;
  }

  &-content {
    overflow-x: auto;
    padding: 5px;
  }
}

.rendered_html {
  .kb-cell-output ul {
    margin: 0 0 10px;
  }

  :link {
    text-decoration: none;
  }
}

.kb-cell-error .panel-heading {
  background-image: none;
  padding: 5px 10px;
}

/*** styling for the jobs manager */

.kb-jobs-title {
  color: rgb(24 90 133);
  font: normal 700 1.2em $typeface-page-text;

  .glyphicon-info-sign {
    font-size: 0.9em;
  }
}

.kb-jobs-info-table {
  margin: 0 2px;
  width: 95%;

  th {
    color: rgb(119 119 119);
    font-family: $typeface-page-text;
    font-weight: 700;
    max-width: 30%;
    min-width: 30%;
    padding-right: 5px;
    vertical-align: top;
    width: 30%;
  }
}

.kb-jobs-item {
  border-bottom: 2px solid rgb(221 221 221);
  margin-bottom: 5px;
  padding-bottom: 3px;
}

.kb-jobs-error {
  background-color: rgb(242 222 222);
}

.kb-jobs-error-btn {
  font-size: 13px;
}

.kb-jobs-item:last-child {
  border-bottom: 0;
}

.kb-jobs-error-modal {
  max-height: 220px;
  overflow: hidden auto;
  width: 485px;
  word-wrap: break-word;
}

/** new method parameter styling **/

.kb-method-parameter-panel {
  border-left: 3px solid rgb(255 255 255);
}

.kb-method-parameter-panel-hover {
  border-left: 3px solid rgb(66 139 202);
}

.kb-method-parameter-row {
  border-radius: 5px;
  margin: 0;
  padding: 5px;
}

/* for some reason, the css :hover doesn't work right on this div, so we use jquery to toggle this class */

.kb-method-parameter-row-hover {
  background: rgb(249 249 249);
}

.kb-method-parameter-row-error {
  background: rgb(242 222 222);
}

.kb-method-parameter-error-mssg {
  color: rgb(244 67 54);
  font-family: $typeface-page-text;
  font-size: 12px;
  font-weight: 700;
  padding: 5px;
  text-align: center;
}

/* not sure how to get text in these divs to valign middle... */

.kb-method-parameter-name {
  color: rgb(119 119 119);
  font-family: $typeface-page-text;
  font-weight: 700;
  margin-top: 3px;
  padding-left: 0;
  padding-right: 0;
  text-align: right;
  vertical-align: middle;
  white-space: normal;
}

.kb-method-parameter-input {
  padding-left: 10px;
  vertical-align: middle;
  white-space: nowrap;

  input {
    font-weight: 700;
  }

  > div {
    /* allow space for the required (red arrow), satisfied (green checkbox) icon */
    padding-right: 20px;
  }

  .kb-method-parameter-accepted-glyph,
  .kb-method-parameter-required-glyph {
    font-size: 15px;

    /* This scoots the icon inside */
    margin-left: -15px;
  }
}

/*
This set of styles is to accommodate the required/satisfied icon which appears
between the select input control and the help text to the right of it. The
problem is that within the columns used for layout the select is set to 100% width
and yet the icon is placed right next to it. The result is that the icon is shoved
to the right of the select control and into the next column, overlapping the
help text. The old method handling this was to scoot the help text far enough over
to accomodate the the icon intruding into its space. This technique makes space
in the column in which the icon lives, and does this by shrinking the select
control with padding, and then scooting the icon back into its column.
*/

.kb-parameter-data-selection {
  font-weight: 700;
}

.kb-method-parameter-hint {
  color: rgb(119 119 119);
  margin-top: 3px;
  padding-left: 7px;
  text-align: left;
}

.kb-method-parameter-required-glyph {
  color: rgb(244 67 54);
  margin-left: 7px;
}

.kb-method-parameter-accepted-glyph {
  color: use-color('mid-green');
  margin-left: 7px;
}

.kb-method-parameter-info {
  margin-left: 7px;
}

.kb-method-advanced-options-controller-inactive,
.kb-method-parameter-info,
.kb-parameter-data-row-add,
.kb-parameter-data-row-remove {
  color: rgb(119 119 119);
}

.kb-method-advanced-options-controller,
.kb-method-advanced-options-controller-inactive {
  font: italic 700 13px/14px $typeface-page-text;
  text-align: center;
}

.kb-method-advanced-options-controller {
  color: use-color('blue');
  cursor: pointer;

  &:hover {
    color: use-color('blue-hlink');
  }
}

.kb-method-footer {
  background-color: rgb(245 245 245);
  padding: 10px;
  width: 100%;
}

.kb-method-subtitle {
  background-color: rgb(245 245 245);
  padding: 3px 5px;
}

/* -- App/method panel styling -- */

.kb-app-panel {
  border-radius: 0;
}

.kb-app-error {
  background-color: rgb(242 222 222);
}

.kb-app-step-container {
  margin-top: 6px;
}

.kb-app-panel > .panel-footer {
  border: 0;
  border-radius: 0;
}

.kb-app-panel-description {
  color: use-color('primary-vivid');
  font: normal 400 16px/1 $typeface-page-text;
}

.kb-app-step-error-mssg {
  color: rgb(166 50 50);
  font: 11px/14px sans-serif;
  margin: 10px;
  text-align: left;
}

.kb-app-step-error-heading {
  color: rgb(85 85 85);
  font: normal 700 17px/1 $typeface-page-text;
  margin-top: 20px;
  padding-left: 5px;
  text-align: left;
}

.kb-app-step-error-main-heading {
  color: rgb(85 85 85);
  cursor: pointer;
  font: 21px/1 $typeface-page-text;
  margin-top: 20px;
  padding-left: 20px;
  text-align: left;
}

.kb-app-step-error {
  border: 3px solid rgb(209 72 54);
  z-index: auto;
}

.kb-app-step-running {
  border: 3px solid use-color('mid-blue');
  z-index: auto;
}

/* -- "next steps" text and links -- */

.kb-app-next {
  border-top: 2px solid rgb(206 206 206);

  h3 {
    color: rgb(136 136 136);
    float: left;
    font: italic 400 0.9em $typeface-page-text;
    margin: 0;
    padding: 0.5em 0 0.25em;
  }
}

.kb-app-next-hide {
  float: right;
  margin-right: 0.5em;
}

.kb-app-next-hide,
.kb-app-next-unhide {
  color: use-color('mid-blue');
  font: 0.9em $typeface-page-text;
  margin-top: 0.25em;
}

.kb-app-next div {
  /* container for links */
  clear: both;
}

/* -- END method/app styling -- */

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

button {
  &.kb-app-run,
  &.kb-method-run {
    background-color: use-color('mid-blue');
    border: 0;
    border-radius: 1px;
    box-shadow: 1px 1px 1px use-color('base-lighter');
    color: rgb(255 255 255);
    font-size: 13px;
    padding: 10px 20px;

    &:hover {
      background-color: rgb(30 136 229);
    }
  }

  &.kb-app-run {
    &.kb-app-cancel {
      background-color: rgb(244 67 54);

      &:hover {
        background-color: rgb(229 57 53);
      }
    }
  }
}

/***********
 * END of kbaseNarrFunc.css
 ***********/

/*********
 * From kbaseData.css
 *********/

/*
For data in KBase workspace
*/

.modal-body {
  max-height: 100%;
}

/* === Tooltips  === */

/* see bootstrap styles, e.g. bootstrap.css, for the original definitions */

div[class="tooltip-inner"] {
  max-width: 400px;
  text-align: left;
  white-space: pre-wrap;
}

.notebook_app {
  .tooltip-inner {
    background-color: rgb(27 105 182);
  }

  .tooltip {
    z-index: 2000 !important;

    &.top-left .tooltip-arrow,
    &.top-right .tooltip-arrow,
    &.top .tooltip-arrow {
      border-top-color: rgb(27 105 182);
    }

    &.right .tooltip-arrow {
      border-right-color: rgb(27 105 182);
    }

    &.left .tooltip-arrow {
      border-left-color: rgb(27 105 182);
    }

    &.bottom-left .tooltip-arrow,
    &.bottom-right .tooltip-arrow,
    &.bottom .tooltip-arrow {
      border-bottom-color: rgb(27 105 182);
    }
  }
}

.kb-data-main-panel {
  height: 100%;
  margin-bottom: 5px;
  max-height: 425px;
}

#data-tabs {
  height: 375px !important;
}

.kb-ws-refresh-btn {
  position: absolute;
  right: 5px;
}

#kb-ws .form-control {
  margin: 3px;
  width: 85%;
}

.kb-data-control {
  width: 95%;
}

/* Data table */

.kb-data-table {
  max-height: 265px;
  width: 100% !important;

  thead {
    max-width: 100%;
    width: 281px;
  }

  tbody tr {
    border-bottom: 1px solid rgb(220 220 220);

    td {
      font-size: 1em;
      max-height: 16px;
      max-width: 100px;
      padding: 5px;
    }

    &:hover,
    td.highlighted {
      background-color: rgb(244 245 214);
      cursor: pointer;
    }
  }
}

.kb-data-obj-name {
  display: inline-block;
  max-width: 88%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kb-data-loading {
  height: 100%;
  text-align: center;
  vertical-align: middle;

  img {
    vertical-align: middle;
  }
}

#kb-ws .dataTables_filter {
  display: none;
}

/* ------------------------------------------
 * View details on KBase objects
 *
 * Namespace: kb-data-obj
 */

/*  Button to activate the object pane */

button.kb-data-obj {
  float: right;
}

/* Panel */

.kb-data-obj-panel {
  background: linear-gradient(180deg, rgb(0 210 255), rgb(178 173 203));
  margin: 10px;
  padding: 0;

  button.close {
    font-size: 125%;
    margin: 5px;
  }
}

.kb-data-obj-panel-info {
  background: rgb(255 255 255 / 50%);
  height: 100%;
  padding: 10px;
}

.kb-data-obj-panel-graph {
  background: transparent;
  height: 100%;
  padding: 10px;

  table {
    background-color: rgb(255 255 255 / 90%);
    border: 0;
    color: rgb(0 0 0 / 80%);
    width: 100%;
  }

  thead tr {
    background-color: rgb(230 230 230);
    color: rgb(0 0 0 / 100%);
  }
}

.kb-data-obj-panel-info dl {
  margin: 0;

  dt {
    clear: left;
    color: rgb(0 0 0 / 50%);
    float: left;
    text-align: right;
    width: 90px;

    &::after {
      content: ':';
    }
  }

  dd {
    margin: 0 0 0 100px;
  }
}

.kb-data-obj-panel-verlist span {
  background-color: rgb(255 255 255 / 50%);
  border-radius: 2px;
  color: rgb(0 0 0 / 50%);
  cursor: pointer;
  margin-left: 3px;
  padding: 0 5px;

  &.selected {
    background-color: use-color('mid-blue');
    color: rgb(255 255 255);
    cursor: default;
  }
}

.kb-data-obj-graph-ref-to {
  margin-top: 8px;
}

/*
 * END: View details on KBase objects
 *------------------------------------------
 */

/* default blue button in the new style */

.kb-primary-btn {
  background-color: use-color('mid-blue');
  border: 0;
  border-radius: 1px;
  box-shadow: 1px 1px 3px rgb(170 170 170);
  color: rgb(255 255 255);
  font: normal 400 14px $typeface-page-text;
  margin: 3px;
  padding: 10px 20px;

  &:hover {
    background-color: rgb(30 136 229);
  }

  &[disabled] {
    background-color: use-color('primary-lighter');
    box-shadow: none;
    color: rgb(255 255 255);
  }
}

/* gray button in the new style */

.kb-default-btn {
  background-color: rgb(245 245 245);
  border: 0;
  border-radius: 1px;
  box-shadow: 1px 1px 3px rgb(170 170 170);
  color: rgb(85 85 85);
  font: normal 400 14px $typeface-page-text;
  margin: 3px;
  padding: 10px 20px;

  &:hover {
    background-color: rgb(206 206 206);
  }

  &[disabled] {
    box-shadow: none;
    color: rgb(170 170 170);
  }
}

.kb-btn-sm {
  font-size: 13px;
  padding: 5px 10px;
}

/* card layout */
.narrative-card-logo {
  font-size: 14px;
  flex-basis: initial;
}

.narrative-card-row-main {
  align-items: center;
  display: flex;
  margin: 0 2px;
  padding: 0 4px;
}

.narrative-card-ellipsis {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-basis: 20px;
}

.narrative-card-palette-icon {
  color: rgb(136 136 136);
  left: 15px;
  position: relative;
  top: -50px;
}

.narrative-card-action-button-wrapper {
  height: 50px;
  margin: 0 10px;
  width: 80px;
}

.narrative-card-action-button {
  display: flex;
  height: 80%;
  justify-content: center;
  padding: 10px 0;
  width: calc(100% - 6px);

  > span {
    margin-right: 5px;
  }
}

.narrative-card-action-button-name {
  display: inline-block;
}

.narrative-data-panel-btnToolbar {
  display: flex;
  justify-content: center;

  > span {
    color: rgb(136 136 136);
  }
}

/* data list */
.kb-data-list-main {
  overflow: hidden auto;
  padding-bottom: 5rem;
}

.kb-data-list-obj-row,
.narrative-card-row {
  border-left: 5px solid rgb(255 255 255);
  box-shadow: 1px 1px 1px 1px rgb(255 255 255);
  color: rgb(51 51 51);
  transition: all 0.1s ease;
  border-bottom: 1px solid rgb(224 224 224);
}

.kb-function-dim .kb-data-list-obj-row {
  border-left-color: use-color('base-lightest');
}

.kb-data-list-obj-row:hover,
.narrative-card-row:hover {
  border-left: 5px solid use-color('mid-green');
  box-shadow: 1px 1px 1px 1px rgb(170 170 170);
}

.palette {
  background: rgb(245 245 245) !important;
}

.kb-data-list-obj-row-selected {
  border-left: 5px solid use-color('mid-green');
  box-shadow: 1px 1px 1px 1px rgb(170 170 170);
}

.kb-data-list-obj-row-main {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* again the css hover over div inherits strangly, so we use js */

.kb-data-list-nav-buttons {
  border: 0;
  box-shadow: none;
  font-size: 18px;
  margin: 0;
  padding: 5px 8px;
  text-shadow: none !important;
}

.kb-data-list-add-data-button {
  position: absolute;
  background-color: rgb(67 121 177);
  border: 0;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgb(170 170 170);
  color: rgb(255 255 255);
  cursor: pointer;
  height: 40px;
  text-align: center;
  width: 40px;
  bottom: 10px;
  right: 15px;
  z-index: 5;
}

/* specialize buttons that hover over narrative */

#kb-add-code-cell,
#kb-add-md-cell {
  background-color: use-color('mid-blue');
  border-radius: 50%;
  bottom: 15px;
  box-shadow: 2px 2px 1px rgb(206 206 206);
  color: rgb(255 255 255);
  cursor: pointer;
  height: 40px;
  opacity: 0.5;
  padding-top: 5px;
  position: fixed;
  width: 40px;
  z-index: 5;
}

#kb-add-code-cell {
  padding-left: 7px;
  right: 75px;
}

#kb-add-md-cell {
  margin-right: 20px;
  padding-left: 8px;
  right: 10px;
}

#kb-add-code-cell:hover,
#kb-add-md-cell:hover,
.kb-data-list-add-data-button:hover {
  background-color: rgb(54 97 142);
  cursor: pointer;
  opacity: 1;
}

.kb-data-list-add-data-text-button {
  background-color: rgb(67 121 177);
  border: 0;
  border-radius: 1px;
  box-shadow: 1px 1px 3px rgb(170 170 170);
  color: rgb(255 255 255);
  font: normal 400 14px $typeface-page-text;
  margin: 3px;
  padding: 10px 20px;

  &:hover {
    background-color: rgb(54 97 142);
  }
}

/* buttons */

.kb-data-list-btn {
  background-color: use-color('mid-blue');
  border: 0;
  border-radius: 1px;
  box-shadow: 1px 1px 3px rgb(170 170 170);
  color: rgb(255 255 255);
  font-size: 13px;
  margin: 5px;
  padding: 5px 10px;

  &:hover {
    background-color: rgb(30 136 229);
  }

  &[disabled] {
    background-color: use-color('primary-lighter');
    box-shadow: none;
    color: rgb(255 255 255);
  }
}

.kb-data-list-cancel-btn {
  background-color: rgb(245 245 245);
  border: 0;
  border-radius: 1px;
  box-shadow: 1px 1px 3px rgb(170 170 170);
  color: rgb(136 136 136);
  font-size: 13px;
  margin: 5px;
  padding: 5px 10px;

  &:hover {
    background-color: rgb(206 206 206);
  }
}

.kb-data-list-row-hr {
  margin: 2px auto;
  width: 70%;
}

.kb-data-list-info {
  min-height: 60px;
  padding: 6px 0.5rem;
  flex-basis: auto;
  flex-grow: 5;
}

.kb-data-list-name {
  color: use-color('primary-vivid');
  cursor: pointer;
  font: normal 700 15px $typeface-page-text;
  margin: 2px;

  &:hover {
    text-decoration: underline;
  }
}

.kb-data-list-version {
  color: rgb(119 119 119);
  cursor: default;
  font-size: 12px;
  font-style: italic;
  white-space: nowrap;
}

.kb-data-list-date,
.kb-data-list-type {
  color: rgb(119 119 119);
  cursor: default;
  font-size: 13px;
  margin: 2px;
}

.kb-data-list-date {
  white-space: nowrap;
}

.kb-data-list-edit-by {
  color: rgb(119 119 119);
  cursor: pointer;
  font-size: 13px;
  margin: 2px 2px 2px 0;
  white-space: nowrap;

  &:hover {
    color: rgb(68 68 68);
  }
}

.kb-data-list-narinfo {
  color: rgb(119 119 119);
  font-size: 13px;
  margin: 2px 2px 2px 10px;
}

.kb-data-list-narrative-error {
  color: rgb(244 67 54);
  font-size: 13px;
  margin: 2px;
}

.kb-data-list-narrative {
  color: rgb(119 119 119);
  font-size: 13px;
  margin: 2px 2px 2px 10px;
}

.kb-data-list-more {
  color: rgb(119 119 119);
  font-size: 11px;
  margin: 0 0 0 15px;
  padding: 0;
  white-space: nowrap;
}

.kb-data-list-more-btn {
  border: 0;
  box-shadow: none;
  font-size: 12px;
  margin: 0;
  padding: 2px 4px;
  text-shadow: none !important;
}

.kb-data-list-more-div {
  align-items: center;
  color: rgb(119 119 119);
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin: 2px;

  td,
  th {
    color: rgb(119 119 119);
    font-size: 13px;
    margin: 2px;
  }

  tr {
    color: rgb(119 119 119);
    font-size: 13px;
    margin: 2px;

    &:hover {
      background-color: use-color('base-lightest');
    }

    &:nth-child(odd) {
      background-color: rgb(245 245 245);
    }

    &:hover:nth-child(odd) {
      background-color: use-color('base-lightest');
    }
  }

  th {
    font-weight: 700;
    text-align: right;
  }

  td {
    padding-left: 8px;
    text-align: left;
    word-break: break-all;
  }
}

.kb-data-list-job-name:hover {
  text-decoration: none;
}

/* Indent nested box */

.kb-data-list-box > .kb-data-list-box {
  margin-left: 40px;
}

/* Control buttons */

.kb-data-list-ctl {
  span.inviso {
    background-color: rgb(255 255 255);

    /* like mayo on wonderbread */
    color: rgb(255 255 255);
    text-shadow: none;
  }

  &[enabled] {
    background-color: rgb(211 211 211);
  }
}

/* end data list */

/* APP CATALOG SLIDEOUT BROWSER STYLES */

.kbcb-browser-container {
  margin: 0 auto;

  /* background: #eeeded; */
}

.kbcb-back-link {
  padding: 0.4em;
}

.kbcb-ctr-toolbar {
  margin: 0.4em;
}

.kbcb-main-panel-div {
  margin: 0;
}

.kbcb-loading-panel-div {
  margin: 0.1em;
  text-align: center;
  vertical-align: middle;
}

/* when the entire app card is a link, use this style */

.kbcb-app-card-link {
  text-decoration: none;
}

.kbcb-app-card-list-container {
  overflow: auto;
  padding: 0 0.2em 1em;
}

.kbcb-app-card-container {
  display: block;
  float: left;
  height: 110px;
  margin: 0.4em;
  position: relative;
  width: 300px;
}

.kbcb-app-card {
  background: rgb(241 241 245);
  border-radius: 2px;
  color: use-color('base');
  height: 100%;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.kbcb-app-card-header {
  max-height: 90px;
  overflow: hidden;
  text-align: left;
}

.kbcb-app-card-title-panel {
  padding: 10px 5px 5px 10px;
}

.kbcb-app-card-title {
  font-size: 1.1em;
}

.kbcb-app-card-authors,
.kbcb-app-card-module {
  font-size: 0.8em;
}

.kbcb-app-card-subtitle {
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px;
}

.kbcb-app-card-footer {
  bottom: 0;
  color: rgb(136 136 136);
  font-size: 0.9em;
  left: 0;
  margin: 0 5px 5px;
  position: absolute;
  width: 100%;
}

.kbcb-app-card-logo {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.kbcb-star-default {
  color: rgb(136 136 136);
}

.kbcb-star-favorite {
  color: rgb(255 165 0);
}

.kbcb-star-default,
.kbcb-star-favorite,
.kbcb-star-nonfavorite {
  cursor: pointer;
}

.kbcb-star-default:hover,
.kbcb-star-nonfavorite:hover {
  color: rgb(255 0 0);
}

.kbcb-star-favorite:hover {
  color: rgb(255 165 0);
}

.kbcb-run-count,
.kbcb-star-count {
  display: inline-block;
  margin-left: 0.3em;
}

.kbcb-info:hover {
  color: rgb(255 165 0);
}

.kbcb-hover {
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    cursor: pointer;
  }
}

/* styles for App page */

.kbcb-app-page {
  background: rgb(241 241 245);
  border-radius: 2px;
  color: use-color('base');
  text-align: center;
}

.kbcb-app-page-header {
  text-align: left;
}

.kbcb-app-page-title-panel {
  padding: 10px 5px 5px 0;
}

.kbcb-app-page-title {
  font-size: 2em;
}

.kbcb-app-page-module {
  font-size: 1.2em;
}

.kbcb-app-page-authors {
  font-size: 1em;
  margin: 0.3em 0 0;
}

.kbcb-app-page-subtitle {
  font-size: 1.2em;
  padding: 1.5em 2em 0;
}

.kbcb-app-page-stats-bar {
  font-size: 1.2em;
  padding: 0 2em 0.8em 3em;
  width: 100%;
}

.kbcb-app-page-logo {
  margin: 1em;
  padding: 0;
  text-align: center;
}

/* END CATALOG SLIDEOUT BROWSER STYLES */

/* share panel styles */

.kb-share-user-permissions-dropdown {
  border: 0;
  box-shadow: none;
  height: auto;
  padding: 2px;
  text-shadow: none !important;
  width: auto;
}

.kb-share-select {
  width: 200px;

  .select2-selection__choice {
    background-color: rgb(245 245 245) !important;
    width: 100% !important;
  }
}

/* hack to make the selection fill the width */

.kb-nar-manager-titles {
  color: rgb(119 119 119);
  font: normal 700 19px $typeface-page-text;
  margin: 20px 10px 10px;
}

/* End kbaseData.css */

/* styling for data import overlay  */

.kb-import-content {
  display: block;
  margin: 0;
  position: relative;

  .btn-xs {
    border: 0;
  }
}

.ftp-file-header {
  margin: 1rem 0;
}

.globus-link:hover {
  text-decoration: none;
}

.kb-import-content .upload-options button {
  background: rgb(255 255 255);
  border: 1px solid use-color('silver');
  border-radius: 6px;
  box-sizing: border-box;
  color: rgb(0 0 0);
  font: normal 400 14px/18px $typeface-page-text;
  height: 42px;
  margin: 0 6px;

  /* identical to box height */
  text-align: center;
  width: 140px;

  &:hover {
    background-color: rgb(250 250 250);
    border: 1px solid rgb(207 207 207);
  }

  &:focus {
    background-color: rgb(242 242 242);
  }

  &:active {
    background-color: rgb(230 230 230);
  }

  &:disabled {
    background-color: rgb(250 250 250);
    color: rgb(146 146 146);
  }
}

.kb-overlay-footer {
  bottom: 0;
  height: 50px;
  position: absolute;
  width: 100%;

  .btn-default,
  .btn-primary {
    margin: 15px 15px 0 0;
  }
}

.kb-import-filter,
.kb-import-search {
  margin: 10px 40px 10px 10px;
}

.kb-import-item {
  margin: 0 20px 0 5px;
  padding: 20px 0 0;

  &:hover {
    background-color: rgb(248 248 248);
    box-shadow: 0 0 2px rgb(170 170 170);
  }

  hr {
    border: 2px solid rgb(234 234 234);
    margin-bottom: 0;
    margin-top: 15px;
    width: 85%;
  }

  .kb-import-checkbox {
    font-size: 1.5em;
    opacity: 0.4;
    padding: 15px 20px;
  }

  .fa-check-square-o {
    opacity: 1 !important;
  }
}

.kb-import-info {
  display: inline-block;
  font-weight: 400;
  margin: 10px 20px 0 0;

  span {
    color: use-color('base-light');
    font-size: 0.9em;
    font-weight: 700;
  }
}

.kb-import-status {
  margin: 20px;
}

/* Error dialog */

.kb-error-dialog strong {
  color: rgb(0 100 0);
}

.kb-err-text {
  color: rgb(0 0 0);
  font-family: $typeface-fixed-width;
}

.kb-err-warn {
  color: rgb(178 34 34);
  font-style: italic;
  margin-top: 0.5em;
}

/* View-only (read-only) */

#kb-ro-btn {
  margin-right: 20px;
}

#kb-view-mode {
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  margin: -15px 0 0 1em;
  padding: 0;
}

#kb-view-mode-narr div {
  color: use-color('mid-blue');
  display: inline-block;
  font: normal 700 16px $typeface-page-text;
  margin-top: -3px;
  padding: 3px;
  position: fixed;
  text-align: left;
  width: 147px;
}

/* little space for control-close icon */

#kb-view-mode-narr-hide {
  background-color: use-color('mid-blue');
  color: use-color('primary-lighter');
  cursor: pointer;
  display: block;
  float: left;
  font-size: 16px;
  height: 41px;
  padding-left: 5px;
  width: 15px;

  span {
    margin-top: 10px;
  }
}

/* this is the banner for readonly mode */

.navbar-right div.label-warning {
  font: normal 700 16px $typeface-page-text;
}

/* Override the default max-width of the narrative box */

/* Styles for KNHX trees to remove its document.write nonsense that breaks asynchronous loading */

#popdiv {
  background-color: rgb(252 252 252);
  border: 1px solid use-color('base-lighter');
  font-size: 12px;
  position: absolute;
  visibility: hidden;
  z-index: 10000;

  a.alt {
    border: 0;
    display: inline;
    font: 12px $typeface-fixed-width;
    padding-left: 9px;
  }
}

.kb-loading-spinner {
  padding: $padding-large-vertical;
  text-align: center;
}

// specific font awesome size hack
.fa.fa-14-pt {
  font-size: 19px;
}
