// run-control-panel
$rcp-height: 50px;

.kb-rcp {
  &__layout_div {
    border-top: 1px solid use-color('silver');
    height: $rcp-height;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  &__toolbar {
    flex: none;
    height: $rcp-height;
    line-height: $rcp-height;
  }

  &__btn-toolbar {
    display: inline-block;
    line-height: $rcp-height;
    padding-right: 0.5rem;
    vertical-align: bottom;
  }

  // .kb-rcp__action-button
  &__action-button {
    float: left;
    margin: 6px;
    width: 8rem;

    // .kb-rcp__action-button-container
    &-container {
      flex: none;
      overflow: hidden;
      height: 50px;
      line-height: 50px;
    }
  }

  &-status {
    &__container {
      @include ellipsis-overflow;
      flex: 1 1 auto;
      font-size: 14px;
      line-height: $rcp-height;
      margin: 0 1rem;
    }

    &__fsm_display {
      display: inline-block;
      font: 12px/1 $typeface-page-text;
      position: absolute;
      top: 0;
      margin-top: -30px;
      padding: 6px 10px;
      background: use-color('white');
    }
  }

  // .kb-rcp__tab-button
  &__tab-button {
    float: left;
    margin-left: 0.5rem;
  }
}
// .kb-rcp__tab-button--outdated
a.kb-rcp__tab-button--outdated {
  float: left;
  margin-left: 0.5rem;
  padding: 6px 0 0;
  color: use-color('warning');

  &:hover,
  &:active {
    color: use-color('warning-dark');
  }
}
