{
    "appdev": {
        "KBaseSearchEngine": "https://appdev.kbase.us/services/searchapi", 
        "auth": "https://appdev.kbase.us/services/auth", 
        "awe": "https://appdev.kbase.us/services/awe-api", 
        "catalog": "https://appdev.kbase.us/services/catalog", 
        "cdn": "https://appdev.kbase.us/cdn/files", 
        "compound_img_url": "http://minedatabase.mcs.anl.gov/compound_images/ModelSEED/", 
        "data_import_export": "https://appdev.kbase.us/services/data_import_export", 
        "data_panel_sources": "/data_source_config.json", 
        "fba": "https://appdev.kbase.us/services/KBaseFBAModeling/", 
        "ftp_api_root": "/data/bulk", 
        "ftp_api_url": "https://appdev.kbase.us/services/kb-ftp-api/v0", 
        "gene_families": "https://appdev.kbase.us/services/gene_families", 
        "genomeCmp": "https://appdev.kbase.us/services/genome_comparison/jsonrpc", 
        "job_service": "https://appdev.kbase.us/services/njs_wrapper", 
        "landing_pages": "/#dataview/", 
        "log_host": "https://elasticsearch2.chicago.kbase.us", 
        "log_port": 9000, 
        "log_proxy_host": "172.17.42.1", 
        "log_proxy_port": 32001, 
        "login": "https://appdev.kbase.us/services/authorization/Sessions/Login", 
        "narrative_job_proxy": "https://appdev.kbase.us/services/narrativejobproxy/", 
        "narrative_method_store": "https://appdev.kbase.us/services/narrative_method_store/rpc", 
        "narrative_method_store_image": "https://appdev.kbase.us/services/narrative_method_store/", 
        "narrative_method_store_types": "https://next.kbase.us/services/narrative_method_store/rpc", 
        "profile_page": "/#people/", 
        "protein_info": "", 
        "provenance_view": "/#objgraphview", 
        "reset_password": "https://gologin.kbase.us/ResetPassword", 
        "search": "https://appdev.kbase.us/services/search/getResults", 
        "service_wizard": "https://appdev.kbase.us/services/service_wizard", 
        "shock": "https://appdev.kbase.us/services/shock-api", 
        "staging_api_url": "https://appdev.kbase.us/services/staging_service", 
        "status_page": "http://kbase.us/internal/status/", 
        "submit_jira_ticket": "https://atlassian.kbase.us/secure/CreateIssueDetails!init.jspa?pid=10200&issuetype=1&description=Narrative%20version", 
        "transform": "https://appdev.kbase.us/services/transform", 
        "trees": "https://appdev.kbase.us/services/trees", 
        "ui_common_root": "https://appdev.kbase.us/", 
        "update_profile": "https://gologin.kbase.us/account/UpdateProfile", 
        "uploader": "", 
        "user_and_job_state": "https://appdev.kbase.us/services/userandjobstate", 
        "user_profile": "https://appdev.kbase.us/services/user_profile/rpc", 
        "version_check": "{{ .Env.VERSION_CHECK }}", 
        "workspace": "https://appdev.kbase.us/services/ws", 
        "ws_browser": "https://appdev.kbase.us/#ws"
    }, 
    "auth_cookie": "kbase_session", 
    "auth_sleep_recheck_ms": 60000, 
    "ci": {
        "KBaseSearchEngine": "https://ci.kbase.us/services/searchapi", 
        "auth": "https://ci.kbase.us/services/auth", 
        "awe": "https://ci.kbase.us/services/awe-api", 
        "catalog": "https://ci.kbase.us/services/catalog", 
        "cdn": "https://ci.kbase.us/cdn/files", 
        "compound_img_url": "http://minedatabase.mcs.anl.gov/compound_images/ModelSEED/", 
        "data_import_export": "https://ci.kbase.us/services/data_import_export", 
        "data_panel_sources": "/data_source_config.json", 
        "fba": "https://ci.kbase.us/services/KBaseFBAModeling/", 
        "ftp_api_root": "/data/bulk", 
        "ftp_api_url": "https://ci.kbase.us/services/kb-ftp-api/v0", 
        "gene_families": "https://ci.kbase.us/services/gene_families", 
        "genomeCmp": "https://ci.kbase.us/services/genome_comparison/jsonrpc", 
        "invocation": "", 
        "job_service": "https://ci.kbase.us/services/njs_wrapper", 
        "landing_pages": "/#dataview/", 
        "log_host": "https://elasticsearch2.chicago.kbase.us", 
        "log_port": 9000, 
        "log_proxy_host": "172.17.0.1", 
        "log_proxy_port": 32001, 
        "login": "https://ci.kbase.us/services/authorization/Sessions/Login", 
        "narrative_method_store": "https://ci.kbase.us/services/narrative_method_store/rpc", 
        "narrative_method_store_image": "https://ci.kbase.us/services/narrative_method_store/", 
        "profile_page": "/#people/", 
        "protein_info": "", 
        "provenance_view": "/#objgraphview", 
        "reset_password": "https://gologin.kbase.us/ResetPassword", 
        "search": "https://ci.kbase.us/services/search/getResults", 
        "service_wizard": "https://ci.kbase.us/services/service_wizard", 
        "shock": "https://ci.kbase.us/services/shock-api", 
        "staging_api_url": "https://ci.kbase.us/services/staging_service", 
        "status_page": "http://kbase.us/internal/status/", 
        "submit_jira_ticket": "https://atlassian.kbase.us/secure/CreateIssueDetails!init.jspa?pid=10200&issuetype=1&description=Narrative%20version", 
        "transform": "https://ci.kbase.us/services/transform", 
        "trees": "https://ci.kbase.us/services/trees", 
        "ui_common_root": "https://narrative-ci.kbase.us/", 
        "update_profile": "https://gologin.kbase.us/account/UpdateProfile", 
        "uploader": "", 
        "user_and_job_state": "https://ci.kbase.us/services/userandjobstate", 
        "user_profile": "https://ci.kbase.us/services/user_profile/rpc", 
        "version_check": "{{ .Env.VERSION_CHECK }}", 
        "workspace": "https://ci.kbase.us/services/ws", 
        "ws_browser": "https://narrative.kbase.us/#ws"
    }, 
    "comm_wait_timeout": 600000, 
    "config": "{{ .Env.CONFIG_ENV }}", 
    "data_panel": {
        "initial_sort_limit": 10000, 
        "max_name_length": 33, 
        "max_single_request": 1000, 
        "obj_render_initial": 40, 
        "obj_render_scroll": 5, 
        "refresh_interval_ms": 30000, 
        "typeahead_search_limit": 20000, 
        "ws_chunk_size": 10000, 
        "ws_max_objs_to_fetch": 30000
    }, 
    "dev": {
        "KBaseSearchEngine": "https://ci.kbase.us/services/searchapi", 
        "auth": "https://ci.kbase.us/services/auth", 
        "awe": "https://ci.kbase.us/services/awe-api", 
        "catalog": "https://ci.kbase.us/services/catalog", 
        "cdn": "https://ci.kbase.us/cdn/files", 
        "compound_img_url": "http://minedatabase.mcs.anl.gov/compound_images/ModelSEED/", 
        "data_import_export": "https://ci.kbase.us/services/data_import_export", 
        "data_panel_sources": "/data_source_config.json", 
        "fba": "https://ci.kbase.us/services/KBaseFBAModeling/", 
        "ftp_api_root": "/data/bulk", 
        "ftp_api_url": "https://ci.kbase.us/services/kb-ftp-api/v0", 
        "gene_families": "https://ci.kbase.us/services/gene_families", 
        "genomeCmp": "https://ci.kbase.us/services/genome_comparison/jsonrpc", 
        "invocation": "", 
        "job_service": "https://ci.kbase.us/services/njs_wrapper", 
        "landing_pages": "/#dataview/", 
        "log_host": null, 
        "log_port": null, 
        "log_proxy_host": "172.17.0.1", 
        "log_proxy_port": 32001, 
        "login": "https://ci.kbase.us/services/authorization/Sessions/Login", 
        "narrative_method_store": "https://ci.kbase.us/services/narrative_method_store/rpc", 
        "narrative_method_store_image": "https://ci.kbase.us/services/narrative_method_store/", 
        "profile_page": "/#people/", 
        "protein_info": "", 
        "provenance_view": "/#objgraphview", 
        "reset_password": "https://gologin.kbase.us/ResetPassword", 
        "search": "https://ci.kbase.us/services/search/getResults", 
        "service_wizard": "https://ci.kbase.us/services/service_wizard", 
        "shock": "https://ci.kbase.us/services/shock-api", 
        "staging_api_url": "https://ci.kbase.us/services/staging_service", 
        "status_page": "http://kbase.us/internal/status/", 
        "submit_jira_ticket": "https://atlassian.kbase.us/secure/CreateIssueDetails!init.jspa?pid=10200&issuetype=1&description=Narrative%20version", 
        "transform": "https://ci.kbase.us/services/transform", 
        "trees": "https://ci.kbase.us/services/trees", 
        "ui_common_root": "https://narrative-ci.kbase.us/", 
        "update_profile": "https://gologin.kbase.us/account/UpdateProfile", 
        "uploader": "", 
        "user_and_job_state": "https://ci.kbase.us/services/userandjobstate", 
        "user_profile": "https://ci.kbase.us/services/user_profile/rpc", 
        "version_check": "{{ .Env.VERSION_CHECK }}", 
        "workspace": "https://ci.kbase.us/services/ws", 
        "ws_browser": "https://narrative.kbase.us/#ws"
    }, 
    "dev_mode": true, 
    "git_commit_hash": "4aa6e0e", 
    "git_commit_time": "Thu May 31 16:13:12 2018 -0700", 
    "loading_gif": "/narrative/static/kbase/images/ajax-loader.gif", 
    "name": "KBase Narrative", 
    "next": {
        "KBaseSearchEngine": "https://next.kbase.us/services/searchapi", 
        "auth": "https://next.kbase.us/services/auth", 
        "awe": "https://next.kbase.us/services/awe-api", 
        "catalog": "https://next.kbase.us/services/catalog", 
        "cdn": "https://next.kbase.us/cdn/files", 
        "compound_img_url": "http://minedatabase.mcs.anl.gov/compound_images/ModelSEED/", 
        "data_import_export": "https://next.kbase.us/services/data_import_export", 
        "data_panel_sources": "/data_source_config.json", 
        "fba": "https://next.kbase.us/services/KBaseFBAModeling/", 
        "ftp_api_root": "/data/bulk", 
        "ftp_api_url": "https://next.kbase.us/services/kb-ftp-api/v0", 
        "gene_families": "https://next.kbase.us/services/gene_families", 
        "genomeCmp": "https://next.kbase.us/services/genome_comparison/jsonrpc", 
        "invocation": "", 
        "job_service": "https://next.kbase.us/services/njs_wrapper", 
        "landing_pages": "/#dataview/", 
        "log_host": "https://elasticsearch2.chicago.kbase.us", 
        "log_port": 9000, 
        "log_proxy_host": "172.17.42.1", 
        "log_proxy_port": 32001, 
        "login": "https://next.kbase.us/services/authorization/Sessions/Login", 
        "narrative_job_proxy": "http://narrative-next.kbase.us:7068", 
        "narrative_method_store": "https://next.kbase.us/services/narrative_method_store/rpc", 
        "narrative_method_store_image": "https://next.kbase.us/services/narrative_method_store/", 
        "profile_page": "/#people/", 
        "protein_info": "", 
        "provenance_view": "/#objgraphview", 
        "reset_password": "https://gologin.kbase.us/ResetPassword", 
        "search": "https://kbase.us/services/search/getResults", 
        "service_wizard": "https://next.kbase.us/services/service_wizard", 
        "shock": "https://next.kbase.us/services/shock-api", 
        "staging_api_url": "https://next.kbase.us/services/staging_service", 
        "status_page": "http://kbase.us/internal/status/", 
        "submit_jira_ticket": "https://atlassian.kbase.us/secure/CreateIssueDetails!init.jspa?pid=10200&issuetype=1&description=Narrative%20version", 
        "transform": "https://next.kbase.us/services/transform", 
        "trees": "https://next.kbase.us/services/trees", 
        "ui_common_root": "https://narrative-next.kbase.us/", 
        "update_profile": "https://gologin.kbase.us/account/UpdateProfile", 
        "uploader": "", 
        "user_and_job_state": "https://next.kbase.us/services/userandjobstate", 
        "user_profile": "https://next.kbase.us/services/user_profile/rpc", 
        "version_check": "{{ .Env.VERSION_CHECK }}", 
        "workspace": "https://next.kbase.us/services/ws", 
        "ws_browser": "https://narrative.kbase.us/#ws"
    }, 
    "prod": {
        "KBaseSearchEngine": "https://kbase.us/services/searchapi", 
        "auth": "https://kbase.us/services/auth", 
        "awe": "https://kbase.us/services/awe-api", 
        "catalog": "https://kbase.us/services/catalog", 
        "cdn": "https://kbase.us/cdn/files", 
        "compound_img_url": "http://minedatabase.mcs.anl.gov/compound_images/ModelSEED/", 
        "data_import_export": "https://kbase.us/services/data_import_export", 
        "data_panel_sources": "/data_source_config.json", 
        "fba": "https://kbase.us/services/KBaseFBAModeling/", 
        "ftp_api_root": "/data/bulk", 
        "ftp_api_url": "https://kbase.us/services/kb-ftp-api/v0", 
        "gene_families": "https://kbase.us/services/gene_families", 
        "genomeCmp": "https://kbase.us/services/genome_comparison/jsonrpc", 
        "invocation": "https://kbase.us/services/invocation", 
        "job_service": "https://kbase.us/services/njs_wrapper", 
        "landing_pages": "/#dataview/", 
        "log_host": "https://elasticsearch2.chicago.kbase.us", 
        "log_port": 9000, 
        "log_proxy_host": "172.17.42.1", 
        "log_proxy_port": 32001, 
        "login": "https://kbase.us/services/authorization/Sessions/Login", 
        "narrative_job_proxy": "http://narrative.kbase.us:7068", 
        "narrative_method_store": "https://kbase.us/services/narrative_method_store/rpc", 
        "narrative_method_store_image": "https://kbase.us/services/narrative_method_store/", 
        "profile_page": "/#people/", 
        "protein_info": "https://kbase.us/services/protein_info_service", 
        "provenance_view": "/#objgraphview", 
        "reset_password": "https://gologin.kbase.us/ResetPassword", 
        "search": "https://kbase.us/services/search/getResults", 
        "service_wizard": "https://kbase.us/services/service_wizard", 
        "shock": "https://kbase.us/services/shock-api", 
        "staging_api_url": "https://kbase.us/services/staging_service", 
        "status_page": "http://kbase.us/internal/status/", 
        "submit_jira_ticket": "https://atlassian.kbase.us/secure/CreateIssueDetails!init.jspa?pid=10200&issuetype=1&description=Narrative%20version", 
        "transform": "https://kbase.us/services/transform", 
        "trees": "https://kbase.us/services/trees", 
        "ui_common_root": "https://narrative.kbase.us/", 
        "update_profile": "https://gologin.kbase.us/account/UpdateProfile", 
        "uploader": "http://kbase.us/services/docs/uploader/uploader.html", 
        "user_and_job_state": "https://kbase.us/services/userandjobstate", 
        "user_profile": "https://kbase.us/services/user_profile/rpc", 
        "version_check": "{{ .Env.VERSION_CHECK }}", 
        "workspace": "https://kbase.us/services/ws", 
        "ws_browser": "https://narrative.kbase.us/#ws"
    }, 
    "release_notes": "https://github.com/kbase/narrative/blob/master/RELEASE_NOTES.md", 
    "tooltip": {
        "hideDelay": 0, 
        "showDelay": 750
    }, 
    "use_local_widgets": true, 
    "version": "3.7.2"
}