# Other Python modules installed locally by the local installation script:
# pandas
# sklearn
# clustergrammer_widget
beautifulsoup4==4.12.1
black==23.3.0
coverage==7.2.2
cryptography==40.0.1
decorator==5.1.1
flake8==6.0.0
html5lib==1.1
idna==3.4
jinja2==3.1.2
jupyter-console==6.6.3
markupsafe==2.1.2
ndg-httpsclient==0.5.1
pygments==2.14.0
pymongo==4.3.3
pyopenssl==23.1.1
pytest==7.2.2
pytest-cov==4.0.0
requests==2.31.0
rsa==4.9
terminado==0.17.1
