black>=20.8b1
bokeh==2.4.2
chart_studio==1.1.0
coverage==6.3.2
decorator==5.1.1
flake8>=3.8.4
jinja2==3.0.3
jsonschema==4.4.0
markupsafe==2.1.0
mock==4.0.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.0.1
plotly==5.6.0
pyasn1==0.4.8
pycrypto>=2.6
pygments==2.11.2
pymongo==4.0.2
pytest==7.0.1
pytest-cov==3.0.0
pyyaml==6.0
requests==2.27.1
rsa==4.8
semantic_version==2.9.0
setuptools==60.9.3
simplegeneric==0.8.1
sympy==1.9
terminado==0.13.1
