---
name: Build Test Image
'on':
  pull_request:
    branches:
    - develop
    types:
    - opened
    - synchronize
    - ready_for_review
jobs:
  docker_build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out GitHub Repo
      if: github.event.pull_request.draft == false
      with:
        ref: "${{ github.event.pull_request.head.sha }}"
      uses: actions/checkout@v2
    - name: Build and Push to Packages
      if: github.event.pull_request.draft == false
      env:
        PR: "${{ github.event.pull_request.number }}"
        SHA: "${{ github.event.pull_request.head.sha }}"
        DOCKER_ACTOR: "${{ secrets.GHCR_USERNAME }}"
        DOCKER_TOKEN: "${{ secrets.GHCR_TOKEN }}"
      run: "./.github/workflows/scripts/build_test_pr.sh\n"
