name: CI-integration-testing

on:
  [push, pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: 'latest'
        activate-environment: test-environment
        python-version: 3.6.10
        auto-activate-base: false
        auto-update-conda: true
        condarc-file: test/condarc.yml

    - name: Use Node JS 16.x
      uses: actions/setup-node@v2
      with:
        node-version: 16.x

    - name: Install JS dependencies
      run: |
        npm ci
        npm run install-npm

    - name: Install Narrative Application
      shell: bash -l {0}
      run: |
          bash ./scripts/install_narrative.sh
          npm run minify
          sed <src/config.json.templ >src/config.json "s/{{ .Env.CONFIG_ENV }}/dev/"
          sed -i 's/{{ if ne .Env.CONFIG_ENV "prod" }} true {{- else }} false {{- end }}/true/' src/config.json
          jupyter notebook --version

    - name: Run Narrative Frontend Integration Tests
      shell: bash -l {0}
      env:
        KBASE_TEST_TOKEN: ${{ secrets.NARRATIVE_TEST_TOKEN }}
      run: make test-integration
