<div>
    <h2>The currently loaded Narrative document is out of date.</h2>
    <div>
        <b>Currently loaded version:</b>
        <div>
            {{currentVer.[10].name}} (v{{currentVer.[4]}})<br>
            Saved by {{currentVer.[5]}}
            at {{currentVer.[3]}}
        </div>
    </div>
    <div>
        <b>Updated version:</b>
        <div>
            {{newVer.[10].name}} (v{{newVer.[4]}})<br>
            Saved by {{newVer.[5]}}
            at {{newVer.[3]}}
        </div>
    </div>
    <p>
    You can update to the latest version by simply refreshing this page. However, any changes will be lost.
    <p>
    If you save here, you might delete any changes made in the newer version.
</div>
